.govuk-form-group__search-form {
  margin-bottom: 0;
}

.govuk-button__search-button {
  margin-bottom: 0.5rem;
}

.govuk-button__sort-container-update-button {
  margin-bottom: 0;
}

.govuk-button__filters-form-apply-button {
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 1rem;
}

.govuk-select__sort-container-select {
  margin-right: 0.25rem;
}

.govuk-select__filters-form-transferring-body-select {
  width: 100%;
  min-width: auto;
  font-size: 1rem;
}

.browse__page {
  margin-right: 0;
  margin-left: 0;
  margin-top: -2rem;
}

.browse__body {
  margin-bottom: 0 !important;
  font-size: 1rem;
}

.browse__records-found__text {
  margin-bottom: 1rem;
}

.browse__available__text {
  height: 1rem;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5rem !important;
}

.browse__pagination__centered {
  justify-content: center;
}

.browse__table__right-align {
  text-align: right;
}

.browse__table__large-width {
  width: 30% !important;
}

.browse__sort-container {
  margin-top: 3rem;
}

.browse-grid--two-thirds {
  padding: 0;
}

.browse-grid__list {
  font-size: 1rem !important;
}

.browse-grid__key {
  width: auto;
}

.browse-grid__key__transferring-body {
  width: 30%;
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f1;
  margin-bottom: 3rem;
}

.search__container__content {
  margin: 0 auto;
}

.search__heading {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0;
}

.sort-container__form {
  margin-bottom: 0.5rem;
}

.browse-filter-container {
  background-color: #f3f2f1;
  padding: 0.5rem;
  min-width: 100%;
  margin-bottom: 0.5rem;
}

.browse-filter__header {
  display: flex;
}

.browse-filter__icon {
  justify-content: space-between;
  width: 2rem;
  margin-left: auto;
}

.filters-form {
  float: right;
  font-size: 1rem !important;
}

.filters-form__group {
  margin: 0.5rem 0 !important;
}

.filters-form__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.filters-form__transferring-body-group {
  display: flex !important;
  align-items: baseline;
}

.filters-form__series-group {
  display: flex;
}

.filters-form__consignment-ref-group {
  display: flex;
}

.filters-form__date__label {
  font-size: 1rem;
}

.filters-form__date-from-group {
  display: flex;
  justify-content: space-between;
}

.filters-form__date-to-group {
  display: flex;
  justify-content: space-between;
}

.filters-form__series__container {
  background-color: #f3f2f1;
  padding: 0.5rem;
  min-width: 100%;
  margin-bottom: 0.5rem;
}

.filters-form__consignment-ref__container {
  background-color: #f3f2f1;
  padding: 0.5rem;
  min-width: 100%;
  margin-bottom: 0.5rem;
}

.filters-form__date__container {
  background-color: #f3f2f1;
  padding: 0.5rem;
  min-width: 100%;
}

.filters-form__series--input {
  flex-grow: 1;
  width: 100%;
}

.filters-form__consignment-ref--input {
  flex-grow: 1;
  width: 100%;
}

.filters-form__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-top: 1rem;
}

.filters-form__clear--button {
  margin-right: 1rem;
  font-size: 1rem;
}

.filters-form__transferring-body--button {
  display: block;
}

.filters-form__series--button {
  align-self: flex-end;
  justify-content: flex-end !important;
  margin-right: 0.5rem !important;
  margin-left: auto;
}

.filters-form__consignment-ref--button {
  align-self: flex-end;
  justify-content: flex-end !important;
  margin-right: 0.5rem !important;
}

.filters-form__date--button {
  align-self: flex-end;
  margin-right: 0.5rem !important;
}

.filters-form__body-date {
  max-width: 2.4rem;
  font-size: 1rem;
}



/*# sourceMappingURL=browse.css.map */
