/* Your custom CSS goes here... */



.govuk-form-group {
    width: 53rem;
}

.govuk-button {
    
    margin-top:-70px;
    margin-bottom:-300px;
    margin-left: 645px;
    height: 40px;
} 




.govuk-table__row {

    padding-top: 17px;
    padding-bottom: 17px;
   
}

.govuk-table__cell {
  
    padding-top: 17px;
    padding-bottom: 17px;
}


.govuk-grid-column-full {
    width: 61rem;
}
