

/* CSS for Footer */


.govuk-footer {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   flex-wrap: wrap;
   padding-top: 40px;
   padding-bottom: 40px;
   box-sizing: border-box;
}

.govuk-footer__tna-logo {
   width: 100px;
   margin-right: 20px;
   margin-top: 20px;
   margin-left: -20px;
}

.govuk-footer__meta-item {
  padding-bottom: 10px;
   display:block;
   max-width: 100%;
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom: 0px;
}


.govuk-footer__meta {
   width: 100%;
   margin:0;
}

@media screen and (max-width: 640px) {

   .govuk-footer__meta {
       flex-direction: column;
       align-items: center;
    }

    .govuk-footer__link {
       order: 2;
    }
    .govuk-footer__meta-item--grow {
       flex-basis: auto;
    }

    .govuk-footer__inline-list-item  {
       display:block;
       margin-right: 0;
       text-align:center;
       padding:10px;
    }

    .govuk-footer__licence-logo{
       margin:0 auto;
       display:block;
       margin-bottom: 10px;
    }

    .govuk-footer__tna-logo {
       margin-right: 0;
    }

    .govuk-footer__licence-description {
       text-align: center;
    }
}
