/* Your custom CSS goes here... */



.govuk-footer__tna-logo {
    width: 100px;
    float:left;
    margin-right: 200px;
    margin-left: -1190px;
    margin-bottom:20px;
    background-color: #f3f2f1;
}






    
    
       

