SECRET_KEY=your-secret-key # replace with a secret key generated with a password manager
KEYCLOACK_BASE_URI=http://0.0.0.0:8080
KEYCLOACK_REALM_NAME=ayr
OIDC_RP_CLIENT_ID=webapp
OIDC_RP_CLIENT_SECRET=your-client-secret # replace with your client secret. This value needs to be copied from the Open ID Client created in Keycloack
KEYCLOACK_DB_NAME=keycloack
KEYCLOACK_DB_USER=keycloack
KEYCLOACK_DB_PASSWORD=your-keycloack-db-password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=your-keycloack-admin-password
WEBAPP_DB_NAME=django
WEBAPP_DB_USER=django
WEBAPP_DB_PASSWORD=yopur-webapp-db-password