{
    "Version": "2012-10-17",
    "Statement": [
      {
        "Effect": "Allow",
        "Principal": "*",
        "Action": "execute-api:Invoke",
        "Resource": "execute-api:/*"
      },
      {
        "Effect": "Deny",
        "Principal": "*",
        "Action": "execute-api:Invoke",
        "Resource": "execute-api:/*",
        "Condition": {
          "NotIpAddress": {
            "aws:SourceIp": $APIGATEWAY_WHITELISTED_IPS
          }
        }
      }
    ]
  }
