services:
  opensearch_indexer_tests:
    build:
      context: ./data_management/opensearch_indexer
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - ./test_results:/test_results
    working_dir: /app
    entrypoint: ""
    command:
    - sh
    - -c
    - |
        set -e

        apt-get update

        echo 'Installing Python test dependencies...'
        pip install -r data_management/opensearch_indexer/requirements-dev.txt

        pytest \
          --cov=data_management/opensearch_indexer/opensearch_indexer \
          --cov-report=xml:/test_results/coverage.xml \
          --cov-report=term-missing \
          -vvs data_management/opensearch_indexer/tests

  access_copy_converter_tests:
    build:
      context: ./data_management/access_copy_converter
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - ./test_results:/test_results
    working_dir: /app
    entrypoint: ""
    environment:
      AWS_DEFAULT_REGION: eu-west-2
    command:
    - sh
    - -c
    - |
        set -e

        apt-get update

        echo 'Installing Python test dependencies...'
        pip install -r data_management/access_copy_converter/requirements-dev.txt

        pytest \
          --cov=data_management/access_copy_converter/access_copy_converter \
          --cov-report=xml:/test_results/coverage-access_copy_converter.xml \
          --cov-report=term-missing \
          -vvs data_management/access_copy_converter/tests

  postgres:
    image: postgres@sha256:0033c194dc640cc4dcc62ef7c3117e5791365cca5fc1a2998e5c1693254784bc # postgres:18.0 with digest for immutability
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testPass123 # pragma: allowlist secret
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
