.govuk-accessibility {
    &--red {
        color:#C00;
    }
}

.placeholder {
    color:#C00;
    font-size: 1.18rem;
}

.govuk-body {
    &--accessibility-placeholder {
        color:#C00;
    }
}

.anchor-link-list-ayr {
    margin-bottom: 1rem;
}

.govuk-link {
    font-size: 1rem;

    &__ayr {
        margin-bottom: 1rem;
    }

    &__ayr--link {
        font-size: 1.1875rem;
    }

    &:visited {
        color: #1d70b8;
    }

    &:active {
        color:#1d70b8;
    }

    color:#1d70b8;
}



.govuk-accessibility--list {
    margin-bottom: 1rem;
}
