/* Default styles for desktop */
@mixin on-mobile {
  @media screen and (width <=768px) {
    @content;
  }
}

// DISABLE MOBILE STYLES
.mobile {
  display: none;
}

.desktop {
  display: block;
}


// DESKTOP STYLES


.govuk {
  &-form-group {
    &__search-form {
      margin-bottom: 0;
    }
  }

  &-button {
    &__search-button {
      margin-bottom: 0.5rem;
    }

    &__sort-container-update-button {
      margin-bottom: 0;
    }

    &__filters-form-apply-button {
      align-self: flex-start;
      margin-left: 1rem;
      font-size: 1rem;
    }

    &__filters-form-clear-button {
      align-self: flex-start;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 1rem;
      border: none;
      background: none;
    }
  }

  &-select {
    &__sort-container-select {
      margin-right: 0.25rem;

      @include on-mobile {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }

    &__filters-form-transferring-body-select {
      width: 100%;
      min-width: auto;
      font-size: 1rem;
    }

  }

  &-summary-list__row__browse-grid-list {
    @include on-mobile {
      display: none;
    }
  }

}

.browse {
  &__page {
    margin-right: 0;
    margin-left: 0;
    margin-top: -2rem;
  }

  &__body {
    margin-bottom: 0;
    font-size: 1rem;
  }

  &__records-found__text {
    margin-bottom: 1rem;
  }

  &__available__text {
    height: 1rem;
    background-color: #fff;
    font-weight: 700;
    font-size: 1.5rem;

    @include on-mobile {
      width: 100%;
    }
  }

  &__pagination__centered {
    justify-content: center;
  }

  &__table {
    &__right-align {
      text-align: right;
    }

    &__large-width {
      width: 30%;
    }
  }

  &__sort-container {
    margin-top: 3rem;

    @include on-mobile {
      margin-top: 2rem;
    }
  }

}


.browse-grid {
  &__table {
    font-size: 1rem;
    border-bottom: 2px solid black;

    thead {
      border-bottom: 2px solid black;
    }
  }


  &--two-thirds {
    padding: 0;
  }

  &__list {
    font-size: 1rem;
  }

  &__key {
    width: auto;
  }

  &__key__transferring-body {
    width: 30%;
  }

  &__list>div:first-child,
  &__list>div:last-child {
    border-bottom: 2px solid black;
  }
}


.search {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f2f1;
    margin-bottom: 3rem;

    &__content {
      margin: 0 auto;

    }
  }

  &__heading {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0;
  }

}

.sort-container {
  &__form {
    margin-bottom: 0.5rem;
  }

}


.browse-filter {
  &-container {
    background-color: #f3f2f1;
    padding: 0.5rem;
    min-width: 100%;
    margin-bottom: 0.5rem;
  }

  &__header {
    display: flex;
  }

  &__icon {
    justify-content: space-between;
    width: 2rem;
    margin-left: auto;
  }
}

.filters-form {
  float: right;
  font-size: 1rem;

  &__group {
    margin: 0.5rem 0;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__transferring-body-group {
    display: flex;
    align-items: baseline;
  }

  &__series-group {
    display: flex;
  }

  &__consignment-ref-group {
    display: flex;
  }

  &__date__label {
    font-size: 1rem;
  }

  &__date-from-group {
    display: flex;
    justify-content: space-between;
  }

  &__date-to-group {
    display: flex;
    justify-content: space-between;
  }

  &__series__container {
    background-color: #f3f2f1;
    padding: 0.5rem;
    min-width: 100%;
    margin-bottom: 0.5rem;
  }

  &__consignment-ref__container {
    background-color: #f3f2f1;
    padding: 0.5rem;
    min-width: 100%;
    margin-bottom: 0.5rem;
  }

  &__date__container {
    background-color: #f3f2f1;
    padding: 0.5rem;
    min-width: 100%;
  }

  &__series--input {
    flex-grow: 1;
    width: 100%;
  }

  &__consignment-ref--input {
    flex-grow: 1;
    width: 100%;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 1rem;
  }

  &__clear--button {
    margin-right: 1rem;
    font-size: 1rem;
  }

  &__date--button {
    align-self: flex-end;
    margin-right: 0.5rem;
  }

  &__body-date {
    max-width: 2.4rem;
    font-size: 1rem;
  }
}

// MOBILE STYLES

@media screen and (width <=768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .browse-grid--two-thirds {
    display: none;
  }

  .govuk-template__body {
    overflow: visible;
  }

  .govuk-button__search-button {
    width: 50%;
    margin-bottom: 1rem;
  }

  .browse__body {
    margin-bottom: 0.5rem !important;
  }

  .browse__table__series-row {
    margin-bottom: 0.5rem;
  }

  .govuk-mobile-table {
    display: block;
  }

  .govuk-mobile-table__head-border {
    border-bottom: 2px;
  }

  .govuk-table__header__right {
    text-align: right;
  }

  .govuk-form-group__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mobile__search__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f2f1;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  .mobile__search__container-block {
    height: 13rem;
  }

  .mobile__search__container__content {
    width: 90vw;
  }

  .mobile__search__text {
    width: 80vw;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
  }

  .search__container {
    display: none;
  }

  .search__heading {
    margin-bottom: 0.3rem;
    width: fit-content;
  }

  .browse__available__text {
    font-size: 1.2rem;
  }


  .govuk-mobile-summary-list {
    display: block;
    font-size: 1rem;
    width: 100%;
  }

  .govuk-summary-list__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .govuk-summary-list__key {
    flex: 0;
  }

  .govuk-summary-list__value {
    flex: 0;
  }

  .right-align {
    text-align: right;
  }

  .empty-cell {
    visibility: hidden;
  }

  .filters-form {
    display: none;
    float: none;
    padding: 0;
  }


  .mobile-filters {
    display: block;
    margin-top: 1.5rem;
  }

  .mobile-filters-form {
    display: block;
    width: 100%;
  }

  .govuk-button__filters-form-apply-button {
    width: 50%;
  }

  .govuk-button__sort-container-update-button {
    width: 50%;
  }

  .sort-container__form {
    display: none;
  }

  .mobile-sort {
    display: block;
  }

  .mobile-details {
    display: block;
  }

  .browse-details {
    display: none;
  }

  .govuk-mobile-details_text {
    border-left: none;
    padding: 0;
  }

  .govuk-mobile-details__summary {
    background: #f3f2f1;
    background-color: #f3f2f1;
    box-shadow: none;
    color: black;
    height: 2rem;
    margin-bottom: -1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .govuk-mobile-details__summary-text {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 2px 2px 10px;
    align-items: center;

  }

  .govuk-details__summary:focus {
    box-shadow: #f3f2f1;
  }

  .govuk-mobile-details__summary:focus {
    background-color: #f3f2f1;
    box-shadow: #f3f2f1;
    color: black;
  }

  .browse-filter__icon {
    float: right;
  }

  .browse-filter-container {
    padding: 10px;
    min-width: 0;
  }

  .filters-form__series__container {
    padding: 10px;
    min-width: 0;
  }

  .filters-form__consignment-ref__container {
    padding: 10px;
    min-width: 0;
  }

  .filters-form__date__container {
    padding: 10px;
    min-width: 0;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }

}

/*# sourceMappingURL=browse.css.map */
