/* SCSS for Header */


@mixin on-mobile{
    @media screen and (width <= 750px){
        @content;
    }
}

.govuk-header {
    &__link--tna {
        font-weight: 700;
    }

    &__logotype--ayr {
        white-space: nowrap;
        word-spacing: 0.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__content--tna {
        text-align: right;
        width:100%;
        padding-bottom: 0.5rem;
        margin-top: 0.75rem;
        word-spacing: 0.2rem;
        @include on-mobile  {
            flex-direction: column;
            align-items: center;
            text-align:center;
            width: 100%;
        }
    }

    &__container--ayr {
       margin-bottom: 0;
       display:flex;
       @include on-mobile  {
        padding-bottom: 1rem;
       flex-direction: column;
       align-items: center;
       text-align:center;
        }

    }
}
