/* CSS for Header */


.govuk-header__link--tna {
    font-weight: 700;
}

.govuk-header__logotype--ayr {
    white-space: nowrap;
    word-spacing: 0.2rem;

}

.govuk-header__content--tna {
    text-align: right;
    margin-left: auto;
    margin-top: 0.75rem;
    word-spacing: 0.2rem;
}

.govuk-header__container--ayr {
    padding-top:0.625rem;
}


@media screen and (width <= 750px) {
    .govuk-header__container--ayr {
       padding-bottom: 1rem;
    }

    .govuk-header__content--tna {
        flex-direction: column;
       align-items: center;
       text-align:center;
    }

    .govuk-header__logo {
        text-align: center;
        padding-right: 0;
    }

}
