numpy==2.5.0
scikit-image==0.26.0
pillow==12.2.0
playwright==1.61.0
python-keycloak==7.1.1
pytest-playwright-visual==2.1.2
pytest-playwright==0.8.0
pytest-html==4.2.0
PyJWT==2.13.0
itsdangerous==2.2.0
cryptography==49.0.0
