numpy==2.2.6
scikit-image==0.25.2
pillow==12.2.0
playwright==1.60.0
python-keycloak==7.1.1
pytest-playwright-visual==2.1.2
pytest-playwright==0.7.2
pytest-html==4.2.0
PyJWT==2.12.1
itsdangerous==2.2.0
cryptography==48.0.0
