{% extends 'static-content-template.html' %}
{% block pageTitle %}Accessibility – {{ config['SERVICE_NAME'] }} –  GOV.UK{% endblock %}
{% block content_list %}
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#accessibility-statement">Accessibility statement for Access Your Records</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#feedback-contact">Feedback and contact information</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#technical-information">Technical information about this website’s accessibility</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#resolved-accessibility">Resolved accessibility issues</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#preparation-of-accessibility-statement">Preparation of this accessibility statement</a>
    </li>
{% endblock %}
{% block static_content %}
    <p class="govuk-body-xs">
        Last updated on <time datetime="2025-07-31">31 July 2025.</time>
    </p>
    <h1 class="govuk-heading-l" id="accessibility-statement">Accessibility statement for Access Your Records</h1>
    <p class="govuk-body">
        This accessibility statement applies to <a href="https://ayr.nationalarchives.gov.uk" class="govuk-link">https://ayr.nationalarchives.gov.uk</a>
    </p>
    <p class="govuk-body">
        This website is run by The National Archives. We want as many people as possible to be able to use this website. For example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>
            listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
        </li>
    </ul>
    <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>
    <p class="govuk-body">
        <a rel="external"
           href="https://mcmw.abilitynet.org.uk/"
           class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p>
    <h2 class="govuk-heading-m" id="feedback-contact">Feedback and contact information</h2>
    <p class="govuk-body">
        Contact us if you find any problems not listed on this page or think we’re not meeting accessibility requirements. We’ll consider your request and get back to you.
    </p>
    <p class="govuk-body">Our contact information is as follows:</p>
    <p class="govuk-body">By email:</p>
    <p class="govuk-body">
        <a href="mailto:tdr@nationalarchives.gov.uk" class="govuk-link">tdr@nationalarchives.gov.uk</a>
    </p>
    <p class="govuk-body">By post:</p>
    <p class="govuk-body">If you need to contact us via post, write to:</p>
    <address>
        <p class="govuk-body">
            Digital Access Team c/o
            <br>
            Digital Archiving Department
            <br>
            The National Archives,
            <br>
            Kew, Richmond,
            <br>
            Surrey
            <br>
            TW9 4DU
            <br>
        </p>
    </address>
    <h3 class="govuk-heading-s">Enforcement prodcedure</h3>
    <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,<a href="#" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.
    </p>
    <h2 class="govuk-heading-m" id="technical-information">Technical information about this website's accessibility</h2>
    <p class="govuk-body">
        The National Archives is committed to making its website accessible, in accordance with the
        Public Sector Bodies
        (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <h3 class="govuk-heading-s">Compliance status</h3>
    <p class="govuk-body">
        This website is currently compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard.
    </p>
    <h3 class="govuk-heading-s">Non-accessible content</h3>
    <p class="govuk-body">As of the 31st of July 2025 the website does not contain non-compliant content.</p>
    <h2 class="govuk-heading-s" id="resolved-accessibility">Resolved accessibility issues</h2>
    <p class="govuk-body">
        The following accessibility issues have been resolved in line with WCAG 2.2 Level A and AA requirements:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Breadcrumbs have been moved to a more appropriate section of the page in order to prevent focus issues.</li>
        <li>Static pages have been adjusted to contain correct heading levels and consistent layout.</li>
        <li>
            Radio buttons under "Search for digital records" now have accessible names that match their visible labels, enabling proper voice control interaction.
        </li>
        <li>
            Pages now have a single &lt;h1&gt; heading to reflect the main topic, with correct use of &lt;h2&gt; and &lt;legend&gt; for structure clarity in screen readers.
        </li>
        <li>
            Additional content shown in expandable rows within tables is now programatically associated with the related table data.
        </li>
        <li>Expand/collapse controls in search results now include descriptive accessible names.</li>
        <li>
            "Remove filter" buttons no longer nest anchor tags, ensuring predictable and accessible interaction for all users.
        </li>
        <li>
            PDF viewer navigation controls now use semantic HTML and appropriate ARIA roles, additionally, the "Go" button that is part of the controls cluster is no longer hidden behind content when focused.
        </li>
        <li>
            Status updates like "No results found" are now coded with ARIA live controls, so they are announced to screen readers.
        </li>
        <li>Layout adjusts correctly at various different resolutions and zoom levels.</li>
        <li>
            Some buttons have been given more accessible and descriptive names, such as buttons that contain "Next" being given an ARIA label of "Next page".
        </li>
    </ul>
    <h2 class="govuk-heading-m" id="preparation-of-accessibility-statement">
        Preparation of this accessibility statement
    </h2>
    <p class="govuk-body">
        This website was last tested on 21st March 2025.
        <br>
        <br>
        The test was carried out by Digital Accessibility Centre. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard.
        <br>
    </p>
    <p class="govuk-body">
        You can read the full accessibility test report <a href="{{ url_for('static', filename= 'accessibility_audit_report_2025.pdf') }}"
    class="govuk-link">DAC accessibility report for Access Your Records</a>.
    </p>
    <div class="govuk-!-margin-top-9">
        <a href="#top"
           class="govuk-link govuk-link__no-visited-color govuk-body">Back to top</a>
    </div>
{% endblock %}
