{% extends 'static-content-template.html' %}
{% block pageTitle %}Accessibility – {{ config['SERVICE_NAME'] }} –  GOV.UK{% endblock %}
{% block content_list %}
    <li>
        <a class="govuk-link govuk-link__ayr" href="#top">Accessibility statement for Access Your Records</a>
    </li>
    <ol class="govuk-list govuk-list--number">
        <li>
            <a class="govuk-link govuk-link__ayr" href="#top">How accessible this website is</a>
        </li>
        <li>
            <a class="govuk-link govuk-link__ayr" href="#top">Feedback and contact information</a>
        </li>
        <li>
            <a class="govuk-link govuk-link__ayr" href="#top">Enforcement procedure</a>
        </li>
    </ol>
    <li class="govuk-list__terms-of-use">
        <a class="govuk-link govuk-link__ayr" href="#">Technical information about this websites' accessibility</a>
    </li>
    <ol>
        <li class="govuk-accessibility--list">
            <a class="govuk-link govuk-link__ayr" href="#top">Compliance status</a>
        </li>
        <li class="govuk-accessibility--list">
            <a class="govuk-link govuk-link__ayr" href="#top">Non-accessible content</a>
        </li>
    </ol>
    <li class="govuk-list__terms-of-use">
        <a class="govuk-link govuk-link__ayr" href="#">What we're doing to improve accessiblity</a>
    </li>
    <li class="govuk-list__terms-of-use">
        <a class="govuk-link govuk-link__ayr" href="#">Preparation of this accessibility statement</a>
    </li>
{% endblock %}
{% block static_content %}
    <h1 class="govuk-heading-l">Accessibility statement for Access Your Records</h1>
    <p class="govuk-body-m">Last updated on 26th March 2024.</p>
    <p class="govuk-body">
        This accessibility statement applies to <a href="https://ayr.nationalarchives.gov.uk/" class="govuk-tna-link">https://ayr.nationalarchives.gov.uk/</a>
    </p>
    <p class="govuk-body">
        This website is run by The National Archives. We want as many people as possible to be able to use this website. For example, that means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>
            listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
        </li>
    </ul>
    <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>
    <p class="govuk-body">
        <a rel="external"
           href="https://mcmw.abilitynet.org.uk/"
           class="govuk-link govuk-link--accessibility">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p>
    <h2 class="govuk-heading-m">How accessible this website is</h2>
    <p class="govuk-body">We know some parts of this website are not fully accessible:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            Breadcrumb navigation links have been placed inside of the main content region of the page. This issue may affect keyboard only and screen reader users who use the 'Skip to main content' link and would expect to bypass repeated blocks of content including the header and any navigational regions.
        </li>
        <li>
            Some HTML heading markup has been used in a way that does not accurately represent relationships in the content, particularly on the static page content.
        </li>
    </ul>
    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">
        If you find any problems not listed on this page or think we're not meeting accessibility requirements.
    </p>
    <p class="govuk-body">
        Or if you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille please contact us
    </p>
    <h3 class="govuk-heading-s">Email</h3>
    <p class="govuk-body">
        <a href="mailto:tdr@nationalarchives.gov.uk" class="govuk-link">tdr@nationalarchives.gov.uk</a>
    </p>
    <h3 class="govuk-heading-s">Write to</h3>
    <address>
        <p class="govuk-body">
            Digital Access Team c/o
            <br>
            Digital Archiving Department
            <br>
            The National Archives,
            <br>
            Kew, Richmond,
            <br>
            Surrey
            <br>
            TW9 4DU
            <br>
        </p>
    </address>
    <p class="govuk-body">We'll consider your request and get back to you.</p>
    <h2 class="govuk-heading-m">Enforcement prodcedure</h2>
    <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,<a href="#" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.
    </p>
    <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
    <p class="govuk-body">
        The National Archives is committed to making its website accessible, in accordance with the
        Public Sector Bodies
        (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">
        This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard, due to the non-compliances and exemptions listed below.
    </p>
    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
    <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            Breadcrumb navigation links have been placed inside of the main content region of the
            page. This issue may affect keyboard only and screen reader users who use the 'Skip to main
            content' link and would expect to bypass repeated blocks of content including the header
            and any navigational regions.
        </li>
        <li>
            Some HTML heading markup has been used in a way that does not accurately represent relationships
            in the content, particularly on the static page content.
        </li>
    </ul>
    <h3 class="govuk-heading-s">Disproportionate burden</h3>
    <p class="govuk-body">
        It would be a disporpotionate burden to fix documents or files held on the Access Your Records platform as we are required to keep all files exactly as they have been delievered. This is to ensure the each record is completely authentic and failthfully matches what has been published by the originator.
    </p>
    <h3 class="govuk-heading-s">Content that's not within the scope of the accessibility regulations</h3>
    <p class="govuk-body">
        PDFs and other documents - The accessibility regulations do not require us to fix PDFs or other documents published before 23 September 2018 if they’re not essential to providing our services. For example, we do not plan to fix [example of non-essential document].
    </p>
    <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
    <p class="govuk-body">
        We are working on the following known accessibility issues to resolve them as soon as possible:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            Move the breadcrumb navigation links so they are outside the main content region to enable keyboard and screen reader users to skip to the main content.
        </li>
        <li>Fix the HTML headling markup issues found on some static content pages.</li>
    </ul>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">
        This statement was prepared on 26th March 2024. It was last reviewed on 25th March 2024.
        <br>
        <br>
        This website was last tested on 15th March 2024.
        <br>
        <br>
        The test was carried out by Digital Accessibility Centre. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard.
        <br>
    </p>
    <p class="govuk-body">
        You can read the full accessibility test report <a href="{{ url_for('static', filename= 'accessibility_audit_report.pdf') }}"
    class="govuk-link">DAC accessibility report for Access Your Records</a>.
    </p>
    <div class="govuk-!-margin-top-9">
        <a href="#top" class="govuk-link govuk-link--accessibility">Back to top</a>
    </div>
{% endblock %}
