{% set browse_url = "/browse" %}
{% set transferring_body_url = browse_url ~ "/transferring_body/" %}
{% set series_url = browse_url ~ "/series/" %}
{% set consignment_url = browse_url ~ "/consignment/" %}
<div class="govuk-breadcrumbs  {{ 'govuk-breadcrumbs--file' if 'record' in dict }}">
    <ol class="govuk-breadcrumbs__list">
        {% for key, value in dict.items() %}
            {% if loop.index != dict|length %}
                <li class="govuk-breadcrumbs__list-item">
                    {% if key == "everything" %}
                        <a class="govuk-breadcrumbs__link--record" href="{{ browse_url }}">{{ value }}</a>
                    {% elif key == "body" %}
                        <a class="govuk-breadcrumbs__link--record--transferring-body"
                           href="{{ transferring_body_url ~ value[0] }}">{{ value[1] }}</a>
                    {% elif key == "series" %}
                        <a class="govuk-breadcrumbs__link--record--series"
                           href="{{ series_url ~ value[0] }}">{{ value[1] }}</a>
                    {% elif key == "consignment" %}
                        <a class="govuk-breadcrumbs__link--record--consignment"
                           href="{{ consignment_url ~ value[0] }}">{{ value[1] }}</a>
                    {% endif %}
                </li>
            {% else %}
                <li class="govuk-breadcrumbs__list-item">
                    <span class="govuk-breadcrumbs__link govuk-breadcrumbs__link--record">{{ value }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</div>
