{% from 'macros/buttons.html' import govuk_button %}
{% set breadcrumbs = {
    "everything":"All available records",
    "body": [breadcrumb_values[0]["transferring_body_id"], breadcrumb_values[1]["transferring_body"]],
    "series": breadcrumb_values[2]["series"]
} %}
{% set sorting_list = {
    "Transfer date (newest)": "last_record_transferred-desc",
    "Transfer date (oldest)": "last_record_transferred-asc",
    "Consignment reference (newest)": "consignment_reference-desc",
    "Consignment reference (oldest)": "consignment_reference-asc",
    "Records total (most)": "records_held-desc",
    "Records total (least)": "records_held-asc"
} %}
<!-- BREAD CRUMB -->
{% with dict = breadcrumbs %}
    {% include "breadcrumb.html" %}
{% endwith %}
<div class="browse-layout">
    {% if num_records_found > 0 %}
        <!-- SORT -->
        <div class="govuk-form-group sort-container__form">
            <form action="{{ url_for('main.browse_series', _id=request.view_args['_id'], _anchor='browse-records') }}"
                  method="get">
                {% with dict = sorting_list %}
                    {% include "sorting-list.html" %}
                {% endwith %}
            </form>
        </div>
        <!-- TABLE -->
        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
            <table class="govuk-table browse-grid__table"
                   id="tbl_result"
                   aria-label="Browse records">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col"
                            class="govuk-table__header govuk-table--invisible-on-mobile govuk-table--width-30-percent">
                            Transferring body
                        </th>
                        <th scope="col"
                            class="govuk-table__header govuk-table--invisible-on-mobile">Series reference</th>
                        <th scope="col"
                            class="govuk-table__header govuk-table--on-desktop--right-align">Last transfer date</th>
                        <th scope="col"
                            class="govuk-table__header govuk-table--right-align govuk-table--on-mobile--width-20-percent">
                            Record total
                        </th>
                        <th scope="col" class="govuk-table__header">Consignment reference</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <div class="main-content" id="main-content" role="main">
                        {% for record in results %}
                            {% set long_word = namespace(lw=false) %}
                            {% set word_length = 20 %}
                            {% set words = record["transferring_body"].replace("-", " ").replace(",", " ").replace(".", " ").replace("  ", " ").split() %}
                            {% for word in words %}
                                {% if word|length > word_length %}
                                    {% set long_word.lw = true %}
                                {% endif %}
                            {% endfor %}
                            <tr class="govuk-table__row govuk-table__row-ref">
                                {% if long_word.lw %}
                                    <td class="govuk-table__cell govuk-table__cell--word-break-all govuk-table--invisible-on-mobile">
                                        {{ record["transferring_body"] }}
                                    </td>
                                {% else %}
                                    <td class="govuk-table__cell govuk-table__cell govuk-table--invisible-on-mobile">{{ record["transferring_body"] }}</td>
                                {% endif %}
                                <td class="govuk-table__cell govuk-table--invisible-on-mobile">{{ record["series"] }}</td>
                                <td class="govuk-table__cell govuk-table--on-desktop--right-align">
                                    <time datetime="{{ record["last_record_transferred"] | format_date_iso }}">{{ record["last_record_transferred"] }}</time>
                                </td>
                                <td class="govuk-table__cell govuk-table--right-align">{{ record["records_held"] | format_number_with_commas }}</td>
                                <td class="govuk-table__cell">
                                    <a href="{{ url_for('main.browse_consignment', _id=record['consignment_id']) }}">{{ record["consignment_reference"] }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </div>
                </tbody>
            </table>
            <!-- PAGINATION -->
            {% with view_name='main.browse_series', id=request.view_args['_id'] %}
                {% include "pagination.html" %}
            {% endwith %}
            <!-- END PAGINATION -->
        </div>
    {% else %}
        {% with view_type = "browse" %}
            {% include "no-results-found.html" %}
        {% endwith %}
    {% endif %}
    <!-- FILTERS -->
    <form action="{{ url_for('main.browse_series', _id=request.view_args['_id'], _anchor='browse-records') }}"
          method="get">
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
            <div class="browse-all-filter-container">
                <div class="browse-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filters</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="browse-all-filter__icon"
                         alt="">
                </div>
                <h3 class="govuk-heading-s govuk-heading-s--browse-all-filter">Transfer date</h3>
                {% include "date-filters.html" %}
                <div class="filters-form__buttons">
                    {{ govuk_button(
                    "Apply filters",
                    classes="govuk-button__browse-all-filters-form-apply-button"
                    ) }}
                    <a class="govuk-link govuk-link__no-visited-color govuk-link--browse-all-filter"
                       href="{{ url_for('main.browse_series',_id = request.view_args['_id'], sort=request.args.get('sort'), _anchor='browse-records') }}">Clear filters</a>
                </div>
            </div>
        </div>
    </form>
</div>
