{% set breadcrumbs = {
    "everything":"Everything",
    "body": breadcrumb_values[0]["transferring_body"]
} %}
{% set sorting_list = {
    "Series (A to Z)": "series-asc",
    "Series (Z to A)": "series-desc",
    "Date consignment transferred (most recent first)": "last_record_transferred-desc",
    "Date consignment transferred (oldest first)": "last_record_transferred-asc",
    "Records held in series (most first)": "records_held-desc",
    "Records held in series (least first)": "records_held-asc"
} %}
<!-- BREAD CRUMB -->
{% with dict = breadcrumbs %}
    {% include "breadcrumb.html" %}
{% endwith %}
<form action="{{ url_for('main.browse') }}" method="get">
    <input type="hidden"
           name="transferring_body_id"
           value="{{ filters['transferring_body_id'] }}">
    {% if view_type == "desktop" %}
        <!-- SORT -->
        <div class="govuk-form-group sort-container__form">
            {% with dict = sorting_list %}
                {% include "sorting-list.html" %}
            {% endwith %}
        </div>
        <!-- TABLE -->
        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds">
            <table class="govuk-table browse-grid__table" id="tbl_result">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col"
                            class="govuk-table__header browse-grid__key__transferring-body">Transferring body</th>
                        <th scope="col" class="govuk-table__header">Series</th>
                        <th scope="col" class="govuk-table__header browse__table__right-align">Last record transferred</th>
                        <th scope="col" class="govuk-table__header browse__table__right-align">Records held</th>
                        <th scope="col" class="govuk-table__header browse__table__right-align">Consignments within series</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for record in results %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-table__cell--ayr">{{ record["transferring_body"] }}</td>
                            <td class="govuk-table__cell govuk-table__cell--ayr">
                                <a href="{{ url_for('main.browse', series_id=record['series_id']) }}">{{ record["series"] }}</a>
                            </td>
                            <td class="govuk-table__cell browse__table__right-align">{{ record["last_record_transferred"] }}</td>
                            <td class="govuk-table__cell browse__table__right-align">{{ record["records_held"] }}</td>
                            <td class="govuk-table__cell browse__table__right-align">{{ record["consignment_in_series"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- FILTERS -->
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
            <div class="browse-all-filter-container">
                <div class="browse-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filter</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="browse-all-filter__icon"
                         alt="filter-icon">
                </div>
                <h3 class="govuk-heading-s govuk-heading-s--series">Series</h3>
                <div class="govuk-form-group govuk-form-group--browse-all-filter">
                    <label class="govuk-label" for="series_filter"></label>
                    <input class="govuk-input govuk-!-width-full govuk-input--browse-all-input"
                           id="series_filter"
                           name="series_filter"
                           value="{% if user_filters['series'] %}{{ user_filters['series'] }}{% endif %}"
                           type="text">
                </div>
            </div>
            <div class="browse-all-filter-container">
                <h3 class="govuk-heading-s govuk-heading-s--browse-all-filter">Date consignment transferred</h3>
                {% include "date-filters.html" %}
                <div class="filters-form__buttons">
                    <button type="submit"
                            class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                            data-module="govuk-button">Apply filters</button>
                    <a class="govuk-link govuk-link--browse-all-filter"
                       href="{{ url_for('main.browse',transferring_body_id = filters['transferring_body_id'], sort=request.args.get('sort')) }}">Clear filters</a>
                </div>
            </div>
        </div>
    {% else %}
        <!-- MOBILE FILTERS -->
        <div class="mobile-filters">
            <details class="govuk-details">
                <summary class="govuk-mobile-details__summary">
                    <span class="govuk-mobile-details__summary-text">
                        Filter
                        <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                             height="32px"
                             width="32px"
                             class="browse-filter__icon"
                             alt="filter-icon">
                    </span>
                </summary>
                <div class="govuk-details__text govuk-mobile-details_text">
                    <div class="govuk-grid-column-one-third filters-form mobile-filters-form">
                        <div class="browse-filter-container">
                            <h2 class="govuk-heading-s govuk-heading-s--series">Series</h2>
                            <div class="govuk-form-group filters-form__group filters-form__series-group">
                                <label class="govuk-label" for="series_filter"></label>
                                <input class="govuk-input filters-form__series--input"
                                       id="series_filter"
                                       name="series_filter"
                                       value="{% if user_filters['series'] %}{{ user_filters['series'] }}{% endif %}"
                                       type="text">
                            </div>
                        </div>
                        <div class="filters-form__date__container">
                            <h3 class="govuk-heading-s govuk-heading-s--browse-all-filter">Date consignment transferred</h3>
                            {% include "date-filters.html" %}
                            <div class="filters-form__buttons">
                                <button type="submit"
                                        class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                                        data-module="govuk-button">Apply filters</button>
                                <a class="govuk-link govuk-link--browse-all-filter"
                                   href="{{ url_for('main.browse',transferring_body_id = filters['transferring_body_id'], sort=request.args.get('sort')) }}">Clear filters</a>
                            </div>
                        </div>
                    </div>
                </div>
            </details>
        </div>
        <!-- MOBILE SORT -->
        <div class="govuk-form-group sort-container__form mobile-sort">
            {% with dict = sorting_list %}
                {% include "sorting-list.html" %}
            {% endwith %}
        </div>
        <!-- MOBILE TABLE -->
        <table class="govuk-table govuk-mobile-table" id="tbl_result">
            <thead class="govuk-table__head govuk-mobile-table__head-border">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Series / Last consignment transferred</th>
                    <th scope="col" class="govuk-table__header govuk-table__header__right">Records in series</th>
                    <th scope="col" class="govuk-table__header govuk-table__header__right">Consignments within series</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for record in results %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <div class="browse__table__series-row">
                                <a href="{{ url_for('main.browse', series_id=record['series_id']) }}">{{ record["series"]
                                }}</a>
                            </div>
                            <div>{{ record["last_record_transferred"] }}</div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="browse__table__series-row empty-cell">-</div>
                            <div class="right-align">{{ record["records_held"] }}</div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="browse__table__series-row right-align empty-cell">-</div>
                            <div class="right-align">{{ record["consignment_in_series"] }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- END TABLE -->
    {% endif %}
</form>
