{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% block pageTitle %}Browse – {{config['SERVICE_NAME']}} – GOV.UK{% endblock %}


{% block content %}
<div class="govuk-grid-row browse__page">
  {{ super() }}

  <div class="search__container govuk-grid-column-full">
    <div class="search__container__content">
      <p class="govuk-body search__heading">Search for digital records</p>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="govuk-form-group govuk-form-group__search-form">
          <label for="searchInput"></label>
          <input class="govuk-input govuk-!-width-three-quarters" id="searchInput" name="query" type="text">
          <button class="govuk-button govuk-button__search-button" data-module="govuk-button" type="submit">Search</button>
        </div>
        <p class="govuk-body-s">Search using a record metadata term, for example – transferring body, series,
          consignment
          ref etc.</p>
      </form>
    </div>
  </div>
  {% if results %}
  <h1 class="govuk-heading-l browse__records-found__text">Records found {{ num_records_found }}</h1>
  <p class="govuk-body browse__body">You are viewing</p>
  <p class="govuk-body-m browse__body browse__available__text">Everything available to you</p>
  <div class="govuk-form-group sort-container__form">
    <div class="browse__sort-container">
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <select class="govuk-select govuk-select__sort-container-select" id="sort" name="sort">
        <option value="body-a">Transferring body (A to Z)</option>
        <option value="body-b" selected>Transferring body (Z to A)</option>
        <option value="series-a">Series (A to Z)</option>
        <option value="series-b">Series (Z to A)</option>
        <option value="date-first">Date record transferred (most recent first)</option>
        <option value="date-last">Date record transferred (oldest first)</option>
      </select>
      <button class="govuk-button govuk-button__sort-container-update-button" id="sort-update-button" data-module="govuk-button">
        Apply
      </button>
    </div>
  </div>

  <div class="govuk-width-container">

    <!-- FILTERS -->
    <div class="govuk-grid-column-one-third filters-form">

      <div class="browse-filter-container">
        <div class="browse-filter__header">
          <p class="govuk-body-l browse__body filters-form__title">Filter within browse</p>
          <img src="{{ url_for('static', filename='image/filter-icon.svg') }}" class="browse-filter__icon"
            alt="filter-icon">
        </div>
        <p class="govuk-body browse__body">Transferring body</p>
        <div class="govuk-form-group filters-form__group filters-form__transferring-body-group">
          <select class="govuk-select govuk-select__filters-form-transferring-body-select" id="sort" name="sort">
            <option value="published" selected>Choose one...</option>
            <option value="updated">Arts Council England</option>
            <option value="views">Food Standards Agency</option>
            <option value="comments">Foreign Office</option>
          </select>
        </div>
      </div>

      <div class="filters-form__series__container">
        <p class="govuk-body browse__body">Series</p>
        <div class="govuk-form-group filters-form__group filters-form__series-group">
          <input class="govuk-input filters-form__series--input" id="width-5" name="width10" type="text">
        </div>
      </div>

      <div class="filters-form__consignment-ref__container">
        <p class="govuk-body browse__body">Consignment ref</p>
        <div class="govuk-form-group filters-form__group filters-form__consignment-ref-group">
          <input class="govuk-input filters-form__consignment-ref--input" id="width-5" name="width10" type="text">
        </div>
      </div>

      <div class="filters-form__date__container">
        <div class="govuk-form-group date-form filters-form__group filters-form__date-from-group">
          <p class="govuk-body date-form browse__body filters-form__body-date">Date from</p>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-from">
            <div class="govuk-date-input" id="date-to">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-day"
                    name="date-from-day" type="text" inputmode="numeric">
                  <label class="govuk-label govuk-date-input__label filters-form__date__label" for="date-from-day">
                    (DD)
                  </label>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-from-month"
                    name="date-from-month" type="text" inputmode="numeric">
                  <label class="govuk-label govuk-date-input__label filters-form__date__label" for="date-from-month">
                    (MM)
                  </label>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-from-year"
                    name="date-from-year" type="text" inputmode="numeric">
                  <label class="govuk-label govuk-date-input__label filters-form__date__label" for="date-from-year">
                    (YYYY)
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group date-form filters-form__group filters-form__date-to-group">
          <p class="govuk-body-m date-form browse__body filters-form__body-date">To date</p>
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to">
            <div class="govuk-date-input" id="date-to">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-day"
                    name="date-to-day" type="text" inputmode="numeric">
                  <label class="govuk-label govuk-date-input__label filters-form__date__label" for="date-to-day">
                    (DD)
                  </label>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-to-month"
                    name="date-to-month" type="text" inputmode="numeric">
                  <label class="govuk-label govuk-date-input__label filters-form__date__label" for="date-to-month">
                    (MM)
                  </label>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-to-year"
                    name="date-to-year" type="text" inputmode="numeric">
                  <label class="govuk-label govuk-date-input__label filters-form__date__label" for="date-to-year">
                    (YYYY)
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="filters-form__buttons">
          <button type="button" class="govuk-button govuk-button__filters-form-apply-button" data-module="govuk-button">
            Apply filters
          </button>
          <p class="govuk-body-m filters-form__clear--button"><a href="#">Clear all filters</a></p>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- END FILTERS -->

    <div class="govuk-grid-column-two-thirds browse-grid--two-thirds">
      <!-- Table Heading -->
      {% if results %}
      {% if num_records_found > 0 %}
      <dl class="govuk-summary-list browse-grid__list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key browse-grid__key browse-grid__key__transferring-body">
            Transferring body
          </dt>
          <dt class="govuk-summary-list__key browse-grid__key">
            Series
          </dt>
          <dt class="govuk-summary-list__key browse-grid__key browse__table__right-align">
            Last record transferred
          </dt>
          <dt class="govuk-summary-list__key browse-grid__key browse__table__right-align">
            Records held
          </dt>
          <dd class="govuk-summary-list__key browse-grid__key browse__table__right-align">
            Consignments within series
          </dd>
        </div>

        <!-- Table Content -->
        {% for record in results %}
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value browse__table__large-width">
            <a href="#">
              {{ record["transferring_body"] }}
            </a>
            </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body browse__body"><a href="#">
                {{ record["series"] }}
              </a></p>
          </dd>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body browse__body browse__table__right-align">{{ record["last_record_transferred"] }}</p>
          </dd>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body browse__body browse__table__right-align">{{ record["records_held"] }}</p>
          </dd>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body browse__body browse__table__right-align">{{ record["consignment_in_series"] }}</p>
          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}
      {% endif %}

      <!-- PAGINATION -->

      {% if results %}
      <nav class="govuk-pagination browse__pagination__centered" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
              height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path
                d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
              </path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span></a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span
              class="govuk-pagination__link-title">Next</span> <svg
              class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
              width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path
                d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
              </path>
            </svg></a>
        </div>
      </nav>
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}
