{% set sorting_list = {
    "Transferring body (A to Z)": "transferring_body-asc",
    "Transferring body (Z to A)": "transferring_body-desc",
    "Series (A to Z)": "series-asc",
    "Series (Z to A)": "series-desc",
    "Date consignment transferred (most recent first)": "last_record_transferred-desc",
    "Date consignment transferred (oldest first)": "last_record_transferred-asc",
    "Records held in series (most first)": "records_held-desc",
    "Records held in series (least first)": "records_held-asc"
} %}
<p class="govuk-body govuk-body--browse-all-signpost">Everything available to you</p>
<form action="{{ url_for('main.browse') }}" method="get">
    <div class="browse-layout">
        <!-- SORT -->
        {% if num_records_found > 0 %}
            <div class="govuk-form-group sort-container__form">
                {% with dict = sorting_list %}
                    {% include "sorting-list.html" %}
                {% endwith %}
            </div>
            <!-- TABLE -->
            <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
                <table class="govuk-table browse-grid__table"
                       id="tbl_result"
                       aria-label="Browse records">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col"
                                class="govuk-table__header browse-grid__key__transferring-body browse__all__mobile__header">
                                Transferring body / Series
                            </th>
                            <th scope="col"
                                class="govuk-table__header browse-grid__key__transferring-body browse__all__desktop__header">
                                Transferring body
                            </th>
                            <th scope="col" class="govuk-table__header browse__all__desktop__header">Series</th>
                            <th scope="col"
                                class="govuk-table__header browse__table__right-align browse__all__desktop__header browse__all__mobile__header">
                                Last consignment transferred
                            </th>
                            <th scope="col"
                                class="govuk-table__header browse__table__right-align browse__table__mobile--hidden browse__all__desktop__header">
                                Records held in series
                            </th>
                            <th scope="col"
                                class="govuk-table__header browse__table__right-align browse__table__mobile--hidden browse__all__desktop__header">
                                Consignments within series
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for record in results %}
                            <tr class="govuk-table__row browse__table__desktop--hidden">
                                <td class="govuk-table__cell browse__mobile-table__top-row">
                                    <a href="{{ url_for('main.browse_transferring_body', _id=record['transferring_body_id']) }}">{{ record["transferring_body"] }}</a>
                                </td>
                                <td class="govuk-table__cell browse__table__mobile--hidden">
                                    <a href="{{ url_for('main.browse_series', _id= record['series_id']) }}">{{ record["series"] }}</a>
                                </td>
                                <td class="govuk-table__cell browse__table__right-align browse__table__mobile--hidden">
                                    {{ record["last_record_transferred"] }}
                                </td>
                                <td class="govuk-table__cell browse__table__right-align browse__table__mobile--hidden">
                                    {{ record["records_held"] }}
                                </td>
                                <td class="govuk-table__cell browse__table__right-align browse__table__mobile--hidden">
                                    {{ record["consignment_in_series"] }}
                                </td>
                            </tr>
                            <tr class="govuk-table__row browse__table__all_desktop__row">
                                <td class="govuk-table__cell browse__table__mobile--hidden browse__table__all_desktop">
                                    <a href="{{ url_for('main.browse_transferring_body', _id=record['transferring_body_id']) }}">{{ record["transferring_body"] }}</a>
                                </td>
                                <td class="govuk-table__cell browse__table__all_desktop">
                                    <a href="{{ url_for('main.browse_series', _id= record['series_id']) }}">{{ record["series"] }}</a>
                                </td>
                                <td class="govuk-table__cell browse__table__right-align browse__table__all_desktop">
                                    {{ record["last_record_transferred"] }}
                                </td>
                                <td class="govuk-table__cell browse__table__right-align browse__table__mobile--hidden browse__table__all_desktop">
                                    {{ record["records_held"] }}
                                </td>
                                <td class="govuk-table__cell browse__table__right-align browse__table__mobile--hidden browse__table__all_desktop">
                                    {{ record["consignment_in_series"] }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% with view_type = "browse" %}
                {% include "no-results-found.html" %}
            {% endwith %}
        {% endif %}
        <!-- FILTERS -->
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
            <div class="browse-all-filter-container">
                <div class="browse-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filter</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="browse-all-filter__icon"
                         alt="">
                </div>
                <h3 class="govuk-heading-s govuk-heading-s--series">
                    <label class="govuk-label" for="transferring_body_filter">Transferring body</label>
                </h3>
                <div class="govuk-form-group filters-form__group filters-form__transferring-body-group">
                    <label class="govuk-label" for="transferring_body_filter"></label>
                    <select class="govuk-select govuk-select__filters-form-transferring-body-select"
                            id="transferring_body_filter"
                            name="transferring_body_filter">
                        <option value="all" selected>Choose one...</option>
                        {% for body in transferring_bodies %}
                            {% if filters['transferring_body'] %}
                                {% if ((filters['transferring_body'] | lower) == body | lower) %}
                                    <option value="{{ body }}" selected="selected">{{ body }}</option>
                                {% else %}
                                    <option value="{{ body }}">{{ body }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{ body }}">{{ body }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="browse-all-filter-container browse-all-filter-container--file-type">
                <h3 class="govuk-heading-s govuk-heading-s--series">
                    <label class="govuk-label" for="series_filter">Series</label>
                </h3>
                <div class="govuk-form-group govuk-form-group--browse-all-filter">
                    <input class="govuk-input govuk-!-width-full govuk-input--browse-all-input"
                           id="series_filter"
                           name="series_filter"
                           value="{% if filters['series'] %}{{ filters['series'] }}{% endif %}"
                           type="text">
                </div>
            </div>
            <div class="browse-all-filter-container">
                <h3 class="govuk-heading-s govuk-heading-s--browse-all-filter">Date consignment transferred</h3>
                {% include "date-filters.html" %}
                <div class="filters-form__buttons">
                    <button type="submit"
                            class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                            data-module="govuk-button">Apply filters</button>
                    <a class="govuk-link govuk-link--browse-all-filter"
                       href="{{ url_for('main.browse', sort=request.args.get('sort')) }}">Clear filters</a>
                </div>
            </div>
        </div>
        <!-- PAGINATION -->
        {% if num_records_found > 0 %}
            <div class="govuk-grid-column-two-thirds browse-grid--two-thirds">
                {% with view_name='main.browse' %}
                    {% include "pagination.html" %}
                {% endwith %}
            </div>
        {% endif %}
        <!-- END PAGINATION -->
    </div>
</form>
