{% set breadcrumbs = {
    "everything":"Everything",
    "body": [breadcrumb_values[0]["transferring_body_id"], breadcrumb_values[1]["transferring_body"]],
    "series": [breadcrumb_values[2]["series_id"], breadcrumb_values[3]["series"]],
    "consignment": breadcrumb_values[4]["consignment_reference"]
} %}
{% set sorting_list = {
    "Record status (closed first)": "closure_type-asc",
    "Record status (open first)": "closure_type-desc",
    "Record opening date (soonest first)": "opening_date-asc",
    "Date last modified (most recent first)": "date_last_modified-desc",
    "Date last modified (oldest first)": "date_last_modified-asc",
    "Record filename (A to Z)": "file_name-asc",
    "Record filename (Z to A)": "file_name-desc"
} %}
<!-- BREAD CRUMB -->
{% with dict = breadcrumbs %}
    {% include "breadcrumb.html" %}
{% endwith %}
<form action="{{ url_for('main.browse') }}" method="get">
    <input type="hidden"
           name="consignment_id"
           value="{{ filters['consignment_id'] }}">
    {% if view_type == "desktop" %}
        <!-- SORT -->
        <div class="govuk-form-group sort-container__form">
            {% with dict = sorting_list %}
                {% include "sorting-list.html" %}
            {% endwith %}
        </div>
        <!-- TABLE -->
        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds">
            <table class="govuk-table browse-grid__table" id="tbl_result">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Last modified</th>
                        <th scope="col" class="govuk-table__header">Filename</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Record opening date</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for record in results %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ record["date_last_modified"] }}</td>
                            <td class="govuk-table__cell">
                                <a href="{{ url_for('main.record', record_id=record['file_id']) }}">{{ record["file_name"]
                                }}</a>
                            </td>
                            <td class="govuk-table__cell">
                                <strong class="{% if record['closure_type'] == 'Open' %}govuk-tag govuk-tag--green{% elif record['closure_type'] == 'Closed' %}govuk-tag govuk-tag--red{% elif record['closure_type'] is none %}{% endif %}">
                                    {{ record['closure_type'] }}
                                </strong>
                            </td>
                            <td class="govuk-table__cell">
                                {% if record['opening_date'] %}
                                    {{ record['opening_date'] }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- FILTERS -->
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--consignment-filters">
            <div class="consignment-filter-container">
                <div class="consignment-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--consignment-filter-title">Filter</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="consignment-filter__icon"
                         alt="filter-icon">
                </div>
                <!-- RECORD STATUS -->
                <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Record status</h3>
                <div class="govuk-form-group govuk-form-group__consignment-form-group">
                    <fieldset class="govuk-fieldset govuk-fieldset--record-status">
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                            <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                                <input class="govuk-radios__input" id="recordStatus-closed" name="record_status"
                                    type="radio" value="closed" {% if user_filters["record_status"]=='closed' %}checked{%
                                    endif %}>
                                    <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                           for="recordStatus-closed">Closed only</label>
                                </div>
                                <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                                    <input class="govuk-radios__input"
                                           id="recordStatus-open"
                                           name="record_status"
                                           type="radio"
                                           value="open"
                                           {% if user_filters["record_status"]=='open' %}checked{% endif %}>
                                    <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                           for="recordStatus-open">Open only</label>
                                </div>
                                <div class="govuk-radios__item govuk-radios__item--consignment">
                                    <input class="govuk-radios__input" id="recordStatus-all" name="record_status" type="radio"
                                        value="all" {% if user_filters["record_status"]=='all' %}checked{% endif %} {% if not
                                        user_filters["record_status"] %}checked{% endif %}>
                                        <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                               for="recordStatus-all">All records</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- DATES -->
                    <div class="consignment-filter-container">
                        <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Dates</h3>
                        <div class="govuk-form-group govuk-form-group__consignment-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date_last_modified" name="date_filter_field"
                                            type="radio" value="date_last_modified" {% if
                                            user_filters["date_filter_field"]=='date_last_modified' %}checked{% endif %}>
                                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                   for="date_last_modified">File last modified</label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="opening_date" name="date_filter_field" type="radio"
                                                value="opening_date" {% if user_filters["date_filter_field"]=='opening_date'
                                                %}checked{% endif %}>
                                                <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                       for="opening_date">Record opening date</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                {% include "date-filters.html" %}
                                <div class="filters-form__buttons">
                                    <button type="submit"
                                            class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                                            data-module="govuk-button">Apply filters</button>
                                    <a class="govuk-link govuk-link--consignment-filter"
                                       href="{{ url_for('main.browse',consignment_id = filters['consignment_id'], sort=request.args.get('sort')) }}">Clear filters</a>
                                </div>
                            </div>
                        </div>
                        <!-- END FILTERS -->
                    {% else %}
                        <!-- MOBILE FILTERS -->
                        <div class="mobile-filters">
                            <details class="govuk-details">
                                <summary class="govuk-mobile-details__summary">
                                    <span class="govuk-mobile-details__summary-text">
                                        Filter
                                        <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                                             height="32px"
                                             width="32px"
                                             class="browse-filter__icon"
                                             alt="filter-icon">
                                    </span>
                                </summary>
                                <div class="govuk-details__text govuk-mobile-details_text">
                                    <div class="govuk-grid-column-one-third filters-form mobile-filters-form">
                                        <div class="consignment-filter-container">
                                            <!-- RECORD STATUS -->
                                            <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Record status</h3>
                                            <div class="govuk-form-group govuk-form-group__consignment-form-group">
                                                <fieldset class="govuk-fieldset govuk-fieldset--record-status">
                                                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                                        <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                                                            <input class="govuk-radios__input" id="recordStatus-closed" name="record_status"
                                                                type="radio" value="closed" {% if user_filters["record_status"]=='closed' %}checked{%
                                                                endif %}>
                                                                <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                                       for="recordStatus-closed">Closed only</label>
                                                            </div>
                                                            <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                                                                <input class="govuk-radios__input"
                                                                       id="recordStatus-open"
                                                                       name="record_status"
                                                                       type="radio"
                                                                       value="open"
                                                                       {% if user_filters["record_status"]=='open' %}checked{% endif %}>
                                                                <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                                       for="recordStatus-open">Open only</label>
                                                            </div>
                                                            <div class="govuk-radios__item govuk-radios__item--consignment">
                                                                <input class="govuk-radios__input" id="recordStatus-all" name="record_status" type="radio"
                                                                    value="all" {% if user_filters["record_status"]=='all' %}checked{% endif %} {% if not
                                                                    user_filters["record_status"] %}checked{% endif %}>
                                                                    <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                                           for="recordStatus-all">All records</label>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <!-- DATES -->
                                                <div class="consignment-filter-container">
                                                    <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Dates</h3>
                                                    <div class="govuk-form-group govuk-form-group__consignment-form-group">
                                                        <fieldset class="govuk-fieldset">
                                                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                                                <div class="govuk-radios__item">
                                                                    <input class="govuk-radios__input" id="date_last_modified" name="date_filter_field"
                                                                        type="radio" value="date_last_modified" {% if
                                                                        user_filters["date_filter_field"]=='date_last_modified' %}checked{% endif %}>
                                                                        <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                                               for="date_last_modified">
                                                                            File last modified
                                                                        </label>
                                                                    </div>
                                                                    <div class="govuk-radios__item">
                                                                        <input class="govuk-radios__input" id="opening_date" name="date_filter_field" type="radio"
                                                                            value="opening_date" {% if user_filters["date_filter_field"]=='opening_date'
                                                                            %}checked{% endif %}>
                                                                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                                                   for="opening_date">
                                                                                Closure expiry
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                            {% include "date-filters.html" %}
                                                            <div class="filters-form__buttons">
                                                                <button type="submit"
                                                                        class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                                                                        data-module="govuk-button">
                                                                    Apply filters
                                                                </button>
                                                                <a class="govuk-link govuk-link--consignment-filter"
                                                                   href="{{ url_for('main.browse',consignment_id = filters['consignment_id'], sort=request.args.get('sort')) }}">Clear filters</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </details>
                                        </div>
                                        <!-- MOBILE SORT -->
                                        <div class="govuk-form-group sort-container__form mobile-sort">
                                            {% with dict = sorting_list %}
                                                {% include "sorting-list.html" %}
                                            {% endwith %}
                                        </div>
                                        <!-- MOBILE TABLE -->
                                        <table class="govuk-table govuk-mobile-table" id="tbl_result">
                                            <thead class="govuk-table__head govuk-mobile-table__head-border">
                                                <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header">Last modified</th>
                                                    <th scope="col" class="govuk-table__header govuk-table__header__right">Status</th>
                                                    <th scope="col" class="govuk-table__header govuk-table__header__right">Closure expiry</th>
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">
                                                {% for record in results %}
                                                    <tr class="govuk-table__row">
                                                        <td class="govuk-table__cell">
                                                            <div class="browse__table__series-row">{{ record["date_last_modified"] }}</div>
                                                        </td>
                                                        <td class="govuk-table__cell">
                                                            <strong class="{% if record['closure_type'] == 'Open' %}govuk-tag govuk-tag--green{% elif record['closure_type'] == 'Closed' %}govuk-tag govuk-tag--red{% elif record['closure_type'] is none %}{% endif %}">
                                                                {{ record['closure_type'] }}
                                                            </strong>
                                                        </td>
                                                        <td class="govuk-table__cell">
                                                            {% if record['opening_date'] %}
                                                                {{ record['opening_date'] }}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <td class="govuk-table__cell" colspan="3">
                                                            <a href="{{ url_for('main.record', record_id=record['file_id']) }}">{{ record["file_name"]
                                                            }}</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </form>
