{% set sorting_list = {
    "Transferring body (A to Z)": "transferring_body-asc",
    "Transferring body (Z to A)": "transferring_body-desc",
    "Series reference (A to Z)": "series-asc",
    "Series reference (Z to A)": "series-desc",
    "Transfer date (newest)": "last_record_transferred-desc",
    "Transfer date (oldest)": "last_record_transferred-asc",
    "Record total (most)": "records_held-desc",
    "Record total (least)": "records_held-asc"
} %}
<p class="govuk-body govuk-body--browse-all-signpost">All available records</p>
<form action="{{ url_for('main.browse', _anchor='browse-records') }}"
      method="get">
    <div class="browse-layout">
        <!-- SORT -->
        {% if num_records_found > 0 %}
            <div class="govuk-form-group sort-container__form">
                {% with dict = sorting_list %}
                    {% include "sorting-list.html" %}
                {% endwith %}
            </div>
            <!-- TABLE -->
            <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
                <table class="govuk-table browse-grid__table"
                       id="tbl_result"
                       aria-label="Browse records">
                    <thead class="govuk-table__head">
                        <!-- Column headings -->
                        <tr class="govuk-table__row">
                            <th scope="col"
                                class="govuk-table__header govuk-table--invisible-on-desktop">
                                Transferring body /
                                <br>
                                Series reference
                            </th>
                            <th scope="col"
                                class="govuk-table__header govuk-table--invisible-on-mobile govuk-table--width-30-percent">
                                Transferring body
                            </th>
                            <th scope="col"
                                class="govuk-table__header govuk-table--invisible-on-mobile">Series reference</th>
                            <th scope="col"
                                class="govuk-table__header govuk-table--right-align govuk-table--on-mobile--no-padding-right">
                                Last transfer date
                            </th>
                            <th scope="col"
                                class="govuk-table__header govuk-table--right-align govuk-table--invisible-on-mobile">
                                Record total
                            </th>
                            <th scope="col"
                                class="govuk-table__header govuk-table--right-align govuk-table--invisible-on-mobile govuk-table--width-15-percent">
                                Consignments within series
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <div class="main-content" id="main-content" role="main">
                            {% for record in results %}
                                <tr class="govuk-table__row govuk-table__row-ref">
                                    <td class="govuk-table__cell govuk-table__cell--on-mobile--flex-layout-col">
                                        <a href="{{ url_for('main.browse_transferring_body', _id=record['transferring_body_id']) }}">{{ record["transferring_body"] }}</a>
                                        <a class="govuk-table--invisible-on-desktop govuk-!-static-margin-top-4"
                                           href="{{ url_for('main.browse_series', _id= record['series_id']) }}">{{ record["series"] }}</a>
                                    </td>
                                    <td class="govuk-table__cell govuk-table--invisible-on-mobile">
                                        <a href="{{ url_for('main.browse_series', _id= record['series_id']) }}">{{ record["series"] }}</a>
                                    </td>
                                    <td class="govuk-table__cell govuk-table--right-align govuk-table--on-mobile--no-padding-right">
                                        {{ record["last_record_transferred"] }}
                                    </td>
                                    <td class="govuk-table__cell govuk-table--right-align govuk-table--invisible-on-mobile">
                                        {{ record["records_held"] | format_number_with_commas }}
                                    </td>
                                    <td class="govuk-table__cell govuk-table--right-align govuk-table--invisible-on-mobile">
                                        {{ record["consignment_in_series"] }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </div>
                    </tbody>
                </table>
                <!-- PAGINATION -->
                {% with view_name='main.browse' %}
                    {% include "pagination.html" %}
                {% endwith %}
                <!-- END PAGINATION -->
            </div>
        {% else %}
            {% with view_type = "browse" %}
                {% include "no-results-found.html" %}
            {% endwith %}
        {% endif %}
        <!-- FILTERS -->
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
            <div class="browse-all-filter-container">
                <div class="browse-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filter</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="browse-all-filter__icon"
                         alt="">
                </div>
                <h3 class="govuk-heading-s govuk-heading-s--series">
                    <label class="govuk-label govuk-label__filter"
                           for="transferring_body_filter">Transferring body</label>
                </h3>
                <div class="govuk-form-group filters-form__group filters-form__transferring-body-group">
                    <input class="govuk-input"
                           id="transferring_body_filter"
                           name="transferring_body_filter"
                           type="text"
                           list="transferring_bodies"
                           autocomplete="off">
                    <datalist id="transferring_bodies">
                        {% for body in transferring_bodies %}<option value="{{ body }}" />{% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="browse-all-filter-container browse-all-filter-container--file-type">
                <h3 class="govuk-heading-s govuk-heading-s--series">
                    <label class="govuk-label govuk-label__filter" for="series_filter">Series reference</label>
                </h3>
                <div class="govuk-form-group govuk-form-group--browse-all-filter">
                    <input class="govuk-input govuk-!-width-full govuk-input--browse-all-input"
                           id="series_filter"
                           name="series_filter"
                           value="{% if filters['series'] %}{{ filters['series'] }}{% endif %}"
                           type="text">
                </div>
            </div>
            <div class="browse-all-filter-container">
                <h3 class="govuk-heading-s govuk-heading-s--browse-all-filter govuk-label govuk-label__filter">Transfer date</h3>
                {% include "date-filters.html" %}
                <div class="filters-form__buttons">
                    <button type="submit"
                            class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                            data-module="govuk-button">Apply filters</button>
                    <a class="govuk-link govuk-link__no-visited-color govuk-link--browse-all-filter"
                       href="{{ url_for('main.browse', sort=request.args.get('sort'), _anchor='browse-records') }}">Clear filters</a>
                </div>
            </div>
        </div>
    </div>
</form>
