{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% from 'main/components/sort-records.html' import sort_records %}
{% block pageTitle %}Browse records – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock %}
{% block content %}
    <div class="govuk-grid-row browse__page desktop mobile">
        {{ super() }}
        {% include "top-search.html" %}
        <div class="govuk-grid-column-full govuk-grid-column-full__page_container">
            <div class="browse-details">
                {% set per_page_options = {"5": "5", "10": "10", "20": "20"} %}
                {% set records_sort_options = {
                    "Modified date – newest": "date_of_record-desc",
                    "Modified date – oldest": "date_of_record-asc",
                    "File name – A to Z": "file_name-asc",
                    "File name – Z to A": "file_name-desc",
                    "Record opening date – sooner": "opening_date-asc",
                    "Record opening date – later": "opening_date-desc",
                    "Series – A to Z": "series-asc",
                    "Series – Z to A": "series-desc"
                } %}
                {% set selected_sort = query_string_parameters.get('sort', 'date_of_record-desc') %}
                {% set selected_per_page = (query_string_parameters.get('per_page', per_page) | string) %}
                {% set records_has_active_filters = (filter_count | default(0)) > 0 %}
                <div class="browse-layout records-page-wrapper">
                    <div class="browse-records__header-container">
                        {% set records_scope_text = "All available records" %}
                        {% if is_standard_user and filters and filters.get('transferring_body') %}
                            {% set records_scope_text = filters.get('transferring_body') %}
                        {% endif %}
                        {% if records_scope_text %}
                            <p class="govuk-body">
                                <span class="browse__scope-text">{{ records_scope_text }}</span>
                            </p>
                        {% endif %}
                        <h2 class="browse-records__heading"
                            id="browse-records"
                            aria-live="polite">
                            {% if num_records_found > 0 %}
                                {% if records_has_active_filters %}
                                    {{ num_records_found | format_number_with_commas }} records found
                                {% else %}
                                    {{ num_records_found | format_number_with_commas }} records
                                {% endif %}
                            {% else %}
                                {% if records_has_active_filters %}
                                    No records found
                                {% else %}
                                    0 records
                                {% endif %}
                            {% endif %}
                        </h2>
                    </div>
                    {% if num_records_found > 0 %}
                        {% set number_of_columns = 4 %}
                        {% set start_index = ((current_page - 1) * per_page) + 1 %}
                        {% set end_index = [current_page * per_page, num_records_found] | min %}
                        <!-- SORT -->
                        {% set preserved_params = query_string_parameters.copy() %}
                        {% set _ = preserved_params.pop('per_page', None) %}
                        {% set _ = preserved_params.pop('page', None) %}
                        {% set _ = preserved_params.pop('_id', None) %}
                        {% set _ = preserved_params.pop('sort', None) %}
                        {{ sort_records(preserved_params, per_page_options, records_sort_options, selected_sort, selected_per_page) }}
                        <!-- TABLE -->
                        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
                            <table class="govuk-table browse-grid__table browse-records__table"
                                   id="tbl_result"
                                   aria-label="Browse records table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header browse-records__header-cell">Showing {{ start_index }}–{{ end_index }} of {{ num_records_found | format_number_with_commas }}</th>
                                        <th scope="col"
                                            class="govuk-table__header browse-records__header-cell govuk-table--invisible-on-mobile">Series</th>
                                        <th scope="col" class="govuk-table__header browse-records__header-cell">Status</th>
                                        <th scope="col"
                                            class="govuk-table__header browse-records__header-cell browse-records__header-cell--right govuk-table--right-align">Opening date</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for record in results %}
                                        {% include "components/browse-record-row.html" %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% with view_name='main.browse_records', id=None %}
                                {% include "pagination.html" %}
                            {% endwith %}
                        </div>
                    {% endif %}
                    {% include "components/browse-records-filters-form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
