{% set breadcrumbs = {
    "everything":"Everything",
    "body": [breadcrumb_values[0]["transferring_body_id"], breadcrumb_values[1]["transferring_body"]],
    "series": breadcrumb_values[2]["series"]
} %}
{% set sorting_list = {
    "Date consignment transferred (most recent first)": "last_record_transferred-desc",
    "Date consignment transferred (oldest first)": "last_record_transferred-asc",
    "Consignment reference (most recent first)": "consignment_reference-desc",
    "Consignment reference (earliest first)": "consignment_reference-asc",
    "Records held in consignment (most first)": "records_held-desc",
    "Records held in consignment (least first)": "records_held-asc"
} %}
<!-- BREAD CRUMB -->
{% with dict = breadcrumbs %}
    {% include "breadcrumb.html" %}
{% endwith %}
<form action="{{ url_for('main.browse_series', _id=request.view_args['_id']) }}"
      method="get">
    <div class="browse-layout">
        <!-- SORT -->
        <div class="govuk-form-group sort-container__form">
            {% with dict = sorting_list %}
                {% include "sorting-list.html" %}
            {% endwith %}
        </div>
        <!-- TABLE -->
        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
            <table class="govuk-table browse-grid__table" id="tbl_result">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col"
                            class="govuk-table__header browse-grid__key__transferring-body browse__table__mobile--hidden">
                            Transferring body
                        </th>
                        <th scope="col" class="govuk-table__header browse__table__mobile--hidden">Series</th>
                        <th scope="col" class="govuk-table__header browse__table__right-align">Consignment transferred</th>
                        <th scope="col" class="govuk-table__header browse__table__right-align">Records in consignment</th>
                        <th scope="col" class="govuk-table__header browse__table__right-align">Consignment reference</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for record in results %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell browse__table__mobile--hidden">{{ record["transferring_body"] }}</td>
                            <td class="govuk-table__cell browse__table__mobile--hidden">{{ record["series"] }}</td>
                            <td class="govuk-table__cell browse__table__right-align">{{ record["last_record_transferred"] }}</td>
                            <td class="govuk-table__cell browse__table__right-align">{{ record["records_held"] }}</td>
                            <td class="govuk-table__cell">
                                <a href="{{ url_for('main.browse_consignment', _id=record['consignment_id']) }}">{{ record["consignment_reference"] }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- FILTERS -->
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
            <div class="browse-all-filter-container">
                <div class="browse-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filter</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="browse-all-filter__icon"
                         alt="filter-icon">
                </div>
                <h3 class="govuk-heading-s govuk-heading-s--browse-all-filter">Date consignment transferred</h3>
                {% include "date-filters.html" %}
                <div class="filters-form__buttons">
                    <button type="submit"
                            class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                            data-module="govuk-button">Apply filters</button>
                    <a class="govuk-link govuk-link--browse-all-filter"
                       href="{{ url_for('main.browse_series',_id = request.view_args['_id'], sort=request.args.get('sort')) }}">Clear filters</a>
                </div>
            </div>
        </div>
        <!-- PAGINATION -->
        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds mobile-pagination">
            {% with view_name='main.browse_series', id=request.view_args['_id'] %}
                {% include "pagination.html" %}
            {% endwith %}
        </div>
        <!-- END PAGINATION -->
    </div>
</form>
