{% from 'macros/buttons.html' import govuk_button %}
{% set breadcrumbs = {
    "everything":"All available records",
    "body": breadcrumb_values[0]["transferring_body"]
} %}
{% set sorting_list = {
    "Series reference (A to Z)": "series-asc",
    "Series reference (Z to A)": "series-desc",
    "Transfer date (newest)": "last_record_transferred-desc",
    "Transfer date (oldest)": "last_record_transferred-asc",
    "Record total (most)": "records_held-desc",
    "Record total (least)": "records_held-asc"
} %}
<!-- BREAD CRUMB -->
{% with dict = breadcrumbs %}
    {% include "breadcrumb.html" %}
{% endwith %}
<div class="browse-layout">
    {% if num_records_found > 0 %}
        <!-- SORT -->
        <div class="govuk-form-group sort-container__form">
            <form action="{{ url_for('main.browse_transferring_body', _id=request.view_args['_id'], _anchor='browse-records') }}"
                  method="get">
                {% with dict = sorting_list %}
                    {% include "sorting-list.html" %}
                {% endwith %}
            </form>
        </div>
        <!-- TABLE -->
        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
            <table class="govuk-table browse-grid__table"
                   id="tbl_result"
                   aria-label="Browse records">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row govuk-table__row-ref">
                        <th scope="col"
                            class="govuk-table__header govuk-table--invisible-on-mobile govuk-table--width-30-percent">
                            Transferring body
                        </th>
                        <th scope="col"
                            class="govuk-table__header govuk-table--invisible-on-mobile">Series reference</th>
                        <th scope="col"
                            class="govuk-table__header govuk-table--invisible-on-desktop">
                            Series reference / Last transfer date
                        </th>
                        <th scope="col"
                            class="govuk-table__header govuk-table--right-align govuk-table--invisible-on-mobile">
                            Last transfer date
                        </th>
                        <th scope="col" class="govuk-table__header govuk-table--right-align">Record total</th>
                        <th scope="col"
                            class="govuk-table__header govuk-table--right-align govuk-table--width-10-percent">
                            Consignments within series
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <div class="main-content" id="main-content" role="main">
                        {% for record in results %}
                            <tr class="govuk-table__row browse__table__desktop">
                                <td class="govuk-table__cell govuk-table__cell--on-mobile--flex-layout-col">
                                    <span class="govuk-table--invisible-on-mobile">{{ record["transferring_body"] }}</span>
                                    <a class="govuk-table--invisible-on-desktop"
                                       href="{{ url_for('main.browse_series', _id=record['series_id']) }}">{{ record["series"] }}</a>
                                    <span class="govuk-table--invisible-on-desktop govuk-!-static-margin-top-4">{{ record["last_record_transferred"] }}</span>
                                </td>
                                <td class="govuk-table__cell govuk-table--invisible-on-mobile">
                                    <a href="{{ url_for('main.browse_series', _id=record['series_id']) }}">{{ record["series"] }}</a>
                                </td>
                                <td class="govuk-table__cell govuk-table--right-align govuk-table--invisible-on-mobile">
                                    {{ record["last_record_transferred"] }}
                                </td>
                                <td class="govuk-table__cell govuk-table--right-align">{{ record["records_held"] }}</td>
                                <td class="govuk-table__cell govuk-table--right-align">{{ record["consignment_in_series"] }}</td>
                            </tr>
                        {% endfor %}
                    </div>
                </tbody>
            </table>
            <!-- PAGINATION -->
            {% with view_name='main.browse_transferring_body', id = request.view_args['_id'] %}
                {% include "pagination.html" %}
            {% endwith %}
            <!-- END PAGINATION -->
        </div>
    {% else %}
        {% with view_type = "browse" %}
            {% include "no-results-found.html" %}
        {% endwith %}
    {% endif %}
    <!-- FILTERS -->
    <form action="{{ url_for('main.browse_transferring_body', _id=request.view_args['_id'], _anchor='browse-records') }}"
          method="get">
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
            <div class="browse-all-filter-container">
                <div class="browse-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filters</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="browse-all-filter__icon"
                         alt="">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label__filter" for="series_filter">Series reference</label>
                    <div class="govuk-form-group govuk-form-group--browse-all-filter">
                        <input class="govuk-input govuk-!-width-full govuk-input--browse-all-input"
                               id="series_filter"
                               name="series_filter"
                               value="{% if filters['series'] %}{{ filters['series'] }}{% endif %}"
                               aria-label="Filter for series reference"
                               type="text">
                    </div>
                </div>
                <h3 class="govuk-heading-s govuk-heading-s--browse-all-filter">Transfer date</h3>
                {% include "date-filters.html" %}
                <div class="filters-form__buttons">
                    {{ govuk_button(
                    "Apply filters",
                    classes="govuk-button__browse-all-filters-form-apply-button"
                    ) }}
                    <a class="govuk-link govuk-link__no-visited-color govuk-link--browse-all-filter"
                       href="{{ url_for('main.browse_transferring_body', _id=request.view_args['_id'], sort=query_string_parameters.get('sort'), _anchor='browse-records') }}">Clear filters</a>
                </div>
            </div>
        </div>
    </form>
</div>
