{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
<div class="browse-layout records-page-wrapper">
    {% if num_records_found > 0 %}
        {% set number_of_columns = 4 %}
        {% set start_index = ((current_page - 1) * per_page) + 1 %}
        {% set end_index = [current_page * per_page, num_records_found] | min %}
        <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
            <table class="govuk-table browse-grid__table browse-records__table"
                   id="tbl_result"
                   aria-label="Browse records table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header browse-records__header-cell">Showing {{ start_index }}–{{ end_index }} of {{ num_records_found | format_number_with_commas }}</th>
                        <th scope="col"
                            class="govuk-table__header browse-records__header-cell govuk-table--invisible-on-mobile">Series</th>
                        <th scope="col" class="govuk-table__header browse-records__header-cell">Status</th>
                        <th scope="col"
                            class="govuk-table__header browse-records__header-cell browse-records__header-cell--right govuk-table--right-align">Opening date</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for record in results %}
                        {% include "components/browse-record-row.html" %}
                    {% endfor %}
                </tbody>
            </table>
            {% with view_name='main.browse_records', id=None %}
                {% include "pagination.html" %}
            {% endwith %}
        </div>
    {% endif %}
    <form action="{{ url_for('main.browse_records', _anchor='browse-records') }}"
          method="get">
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
            <div class="browse-all-filter-container">
                <div class="browse-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filters <span class="browse-records__filter-count">({{ filter_count }})</span></h2>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label__filter"
                           for="transferring_body_filter">Transferring body</label>
                    <input class="govuk-input"
                           id="transferring_body_filter"
                           name="transferring_body_filter"
                           type="text"
                           list="transferring_bodies"
                           value="{% if filters['transferring_body'] %}{{ filters['transferring_body'] }}{% endif %}"
                           autocomplete="off">
                    <datalist id="transferring_bodies">
                        {% for body in transferring_bodies %}<option value="{{ body }}" />{% endfor %}
                    </datalist>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label__filter" for="series_filter">Series <span class="browse-records__series-filter-example">– e.g. HO 405</span></label>
                    <input class="govuk-input govuk-!-width-full"
                           id="series_filter"
                           name="series_filter"
                           list="series_options"
                           value="{% if filters['series'] %}{{ filters['series'] }}{% endif %}"
                           type="text">
                    <datalist id="series_options">
                        {% for series in series_options %}<option value="{{ series }}" />{% endfor %}
                    </datalist>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label__filter" for="consignment_reference">Consignment <span class="browse-records__series-filter-example">- e.g. AYR-2026-KSJ2</span></label>
                    <input class="govuk-input govuk-!-width-full"
                           id="consignment_reference"
                           name="consignment_reference"
                           list="consignment_options"
                           value="{% if filters['consignment_reference'] %}{{ filters['consignment_reference'] }}{% endif %}"
                           type="text">
                    <datalist id="consignment_options">
                        {% for consignment in consignment_options %}<option value="{{ consignment }}" />{% endfor %}
                    </datalist>
                </div>
                {% include "date-filters.html" %}
                <div class="filters-form__buttons">
                    {{ govukButton({
                    'text': "Apply filters",
                    'classes': "govuk-button__browse-all-filters-form-apply-button",
                    'type': "submit"
                    }) }}
                    <a class="govuk-link govuk-link__no-visited-color govuk-link--browse-all-filter"
                       href="{{ url_for('main.browse_records', sort=query_string_parameters.get('sort'), _anchor='browse-records') }}">Clear filters</a>
                </div>
            </div>
        </div>
    </form>
</div>
