{% set breadcrumbs = {
    "everything":"Everything",
    "body": [breadcrumb_values[0]["transferring_body_id"], breadcrumb_values[1]["transferring_body"]],
    "series": [breadcrumb_values[2]["series_id"], breadcrumb_values[3]["series"]],
    "consignment": breadcrumb_values[4]["consignment_reference"]
} %}
{% set sorting_list = {
    "Date of record (most recent first)": "date_last_modified-desc",
    "Date of record (oldest first)": "date_last_modified-asc",
    "Filename (A to Z)": "file_name-asc",
    "Filename (Z to A)": "file_name-desc",
    "Record opening date (sooner)": "opening_date-asc",
    "Record opening date (later)": "opening_date-desc",
    "Record status (closed)": "closure_type-asc",
    "Record status (open)": "closure_type-desc"
} %}
<!-- BREAD CRUMB -->
{% with dict = breadcrumbs %}
    {% include "breadcrumb.html" %}
{% endwith %}
<form action="{{ url_for('main.browse_consignment', _id=request.view_args['_id']) }}"
      method="get">
    <div class="browse-layout">
        <!-- SORT -->
        {% if num_records_found > 0 %}
            <div class="govuk-form-group sort-container__form">
                {% with dict = sorting_list %}
                    {% include "sorting-list.html" %}
                {% endwith %}
            </div>
            <!-- TABLE -->
            <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table"
                 id="browse-consignment-table">
                <table class="govuk-table browse-grid__table"
                       id="tbl_result"
                       aria-label="Browse records">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Date of record</th>
                            <th scope="col" class="govuk-table__header browse__table__mobile--hidden">File name</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                            <th scope="col" class="govuk-table__header browse__table__right-align">Record opening date</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for record in results %}
                            <tr class="govuk-table__row browse__mobile-table__top-row">
                                <td class="govuk-table__cell browse__mobile-table__top-row">{{ record["date_last_modified"] }}</td>
                                <td class="govuk-table__cell govuk-table__cell--ayr browse__table__mobile--hidden">
                                    <a href="{{ url_for('main.record', record_id=record['file_id']) }}">{{ record["file_name"] }}</a>
                                </td>
                                <td class="govuk-table__cell browse__mobile-table__top-row">
                                    <strong class="{% if record['closure_type'] == 'Open' %}govuk-tag govuk-tag--green{% elif record['closure_type'] == 'Closed' %}govuk-tag govuk-tag--red{% elif record['closure_type'] is none %}{% endif %}">
                                        {{ record['closure_type'] }}
                                    </strong>
                                </td>
                                <td class="govuk-table__cell browse__table__right-align browse__mobile-table__top-row">
                                    {% if record['opening_date'] %}
                                        {{ record['opening_date'] }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="govuk-table__row govuk-table__row__browse--mobile">
                                <td class="govuk-table__cell browse__mobile-table__bottom-row">
                                    <a href="{{ url_for('main.record', record_id=record['file_id']) }}">{{ record["file_name"] }}</a>
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--ayr browse__table__mobile--hidden"></td>
                                <td class="govuk-table__cell browse__mobile-table__bottom-row"></td>
                                <td class="govuk-table__cell right-align browse__mobile-table__bottom-row"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% with view_type = "browse" %}
                {% include "no-results-found.html" %}
            {% endwith %}
        {% endif %}
        <!-- FILTERS -->
        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--consignment-filters">
            <div class="consignment-filter-container">
                <div class="consignment-filter__header">
                    <h2 class="govuk-heading-m govuk-heading-m--consignment-filter-title">Filter</h2>
                    <img src="{{ url_for('static', filename='image/filter-icon.svg') }}"
                         height="32px"
                         width="32px"
                         class="consignment-filter__icon"
                         alt="">
                </div>
                <!-- RECORD STATUS -->
                <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Record status</h3>
                <div class="govuk-form-group govuk-form-group__consignment-form-group">
                    <fieldset class="govuk-fieldset govuk-fieldset--record-status">
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                            <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                                <input class="govuk-radios__input" id="recordStatus-closed" name="record_status"
                                    type="radio" value="closed" {% if filters["record_status"]=='closed' %}checked{%
                                    endif %}>
                                    <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                           for="recordStatus-closed">Closed only</label>
                                </div>
                                <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                                    <input class="govuk-radios__input"
                                           id="recordStatus-open"
                                           name="record_status"
                                           type="radio"
                                           value="open"
                                           {% if filters["record_status"]=='open' %}checked{% endif %}>
                                    <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                           for="recordStatus-open">Open only</label>
                                </div>
                                <div class="govuk-radios__item govuk-radios__item--consignment">
                                    <input class="govuk-radios__input" id="recordStatus-all" name="record_status" type="radio"
                                        value="all" {% if filters["record_status"]=='all' %}checked{% endif %} {% if not
                                        filters["record_status"] %}checked{% endif %}>
                                        <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                               for="recordStatus-all">All records</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="consignment-filter-container">
                        <!-- DATES -->
                        <div class="consignment-filter-dates-container">
                            <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Record dates</h3>
                            <div class="govuk-form-group govuk-form-group__consignment-form-group">
                                <div class="govuk-form-group {% if date_validation_errors %} {% if date_validation_errors.get('date_filter_field') %}govuk-form-group--error{% endif %}{% endif %}">
                                    {% if date_validation_errors %}
                                        {% if date_validation_errors.get('date_filter_field') %}
                                            <p class="govuk-error-message">{{ date_validation_errors['date_filter_field'] }}</p>
                                        {% endif %}
                                    {% endif %}
                                    <fieldset class="govuk-fieldset">
                                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="date_last_modified" name="date_filter_field"
                                                    type="radio" value="date_last_modified" {% if
                                                    filters["date_filter_field"]=='date_last_modified' %}checked{% endif %}>
                                                    <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                           for="date_last_modified">Date of record</label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="opening_date" name="date_filter_field" type="radio"
                                                        value="opening_date" {% if filters["date_filter_field"]=='opening_date'
                                                        %}checked{% endif %}>
                                                        <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                                               for="opening_date">Record opening date</label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    {% with view_type="consignment" %}
                                        {% include "date-filters.html" %}
                                    {% endwith %}
                                    <div class="filters-form__buttons">
                                        <button type="submit"
                                                class="govuk-button govuk-button__browse-all-filters-form-apply-button"
                                                data-module="govuk-button">Apply filters</button>
                                        <a class="govuk-link govuk-link--consignment-filter"
                                           href="{{ url_for('main.browse_consignment',_id = request.view_args['_id'], sort=request.args.get('sort')) }}">Clear filters</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END FILTERS -->
                        <!-- PAGINATION -->
                        {% if num_records_found > 0 %}
                            <div class="govuk-grid-column-two-thirds browse-grid--two-thirds mobile-pagination">
                                {% with view_name= 'main.browse_consignment', id = request.view_args['_id'] %}
                                    {% include "pagination.html" %}
                                {% endwith %}
                            </div>
                        {% endif %}
                        <!-- END PAGINATION -->
                    </div>
                </form>
