<div class="browse-all-filter-from-dates">
    {% if date_validation_errors %}
        <div class="govuk-form-group">
            {% for key, value in date_validation_errors.items() if key.startswith('date_from') %}{{ value }}{% endfor %}
            <br>
        </div>
    {% endif %}
    <p class="govuk-body govuk-body--browse-all-date">Date from</p>
    <fieldset class="govuk-fieldset govuk-fieldset--date-from"
              role="group"
              aria-describedby="date-from">
        <div class="govuk-date-input govuk-date-input--browse-all-date-to">
            <div class="govuk-date-input__item govuk-date-input__item--browse-all">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label filters-form__date__label"
                           for="date_from_day">Day</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           id="date_from_day"
                           name="date_from_day"
                           type="text"
                           value="{% if filters['date_range'] %}{% if filters['date_range']['date_from'] %}{{ filters['date_range']['date_from'][0:2].replace('#', '') }}{% endif %}{% endif %}"
                           inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item govuk-date-input__item--browse-all">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label filters-form__date__label"
                           for="date_from_month">Month</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           id="date_from_month"
                           name="date_from_month"
                           type="text"
                           value="{% if filters['date_range'] %}{% if filters['date_range']['date_from'] %}{{ filters['date_range']['date_from'][3:5].replace('#', '') }}{% endif %}{% endif %}"
                           inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item govuk-date-input__item--browse-all">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label filters-form__date__label"
                           for="date_from_year">Year</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                           id="date_from_year"
                           name="date_from_year"
                           type="text"
                           value="{% if filters['date_range'] %}{% if filters['date_range']['date_from'] %}{{ filters['date_range']['date_from'][6:10].replace('#', '') }}{% endif %}{% endif %}"
                           inputmode="numeric">
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="browse-all-filter-to-dates">
    {% if date_validation_errors %}
        <div class="govuk-form-group">
            {% for key, value in date_validation_errors.items() if key.startswith('date_to') %}{{ value }}{% endfor %}
            <br>
        </div>
    {% endif %}
    <p class="govuk-body govuk-body--browse-all-date">To date</p>
    <fieldset class="govuk-fieldset govuk-fieldset--date-to"
              role="group"
              aria-describedby="date-to">
        <div class="govuk-date-input govuk-date-input--browse-all-date-to">
            <div class="govuk-date-input__item govuk-date-input__item--browse-all">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label filters-form__date__label"
                           for="date_to_day">Day</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           id="date_to_day"
                           name="date_to_day"
                           type="text"
                           value="{% if filters['date_range'] %}{% if filters['date_range']['date_to'] %}{{ filters['date_range']['date_to'][0:2].replace('#', '') }}{% endif %}{% endif %}"
                           inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item govuk-date-input__item--browse-all">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label filters-form__date__label"
                           for="date_to_month">Month</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                           id="date_to_month"
                           name="date_to_month"
                           type="text"
                           value="{% if filters['date_range'] %}{% if filters['date_range']['date_to'] %}{{ filters['date_range']['date_to'][3:5].replace('#', '') }}{% endif %}{% endif %}"
                           inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item govuk-date-input__item--browse-all">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label filters-form__date__label"
                           for="date_to_year">Year</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                           id="date_to_year"
                           name="date_to_year"
                           type="text"
                           value="{% if filters['date_range'] %}{% if filters['date_range']['date_to'] %}{{ filters['date_range']['date_to'][6:10].replace('#', '') }}{% endif %}{% endif %}"
                           inputmode="numeric">
                </div>
            </div>
        </div>
    </fieldset>
</div>
