{% extends "base.html" %}
{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% block pageTitle %}Start page – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock %}
{% block beforeContent %}{{ super() }}{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l govuk-heading-l--start">Access your records</h1>
                    <p class="govuk-body govuk-body--start">Use this service to access digital records at The National Archives.</p>
                    <div class="govuk-form-group govuk-!-margin-bottom-3">
                        <label class="govuk-label" for="wrong-start-page-input">Demo input</label>
                        <input class="govuk-input"
                               id="start-page-input"
                               name="start-page-input"
                               type="text">
                    </div>
                    {{ govukButton({
                    'text': "Start now",
                    'href': url_for("main.sign_in"),
                    'isStartButton': true,
                    'classes': "govuk-button--start"
                    }) }}
                    <div class="govuk-!-padding-bottom-7"></div>
                    <h2 class="govuk-heading-m govuk-heading-m--start">Before you start</h2>
                    <p class="govuk-body govuk-body--start">
                        This service is in private beta. For more information about how this may impact how you use this service, refer to our <a href="{{ url_for('main.how_to_use') }}" class="govuk-link">How to use this service</a> page.
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
