{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}



{% block pageTitle %}Dashboard – {{config['SERVICE_NAME']}} – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ super() }}
 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <div class="govuk-width-container">
        
        <main class="govuk-main-wrapper">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Search design PoC</h2>
                <h3 class="govuk-heading-s">Search for a closed record</h3>
                <div class="govuk-form-group">
                    <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters" type="text">
                  </div>
                  <button class="govuk-button" data-module="govuk-button">
                    Search
                  </button>
            </div>
          </div>
        </main>
      </div>



   
  </div>
</div>






  {% endblock %}