{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}



{% block pageTitle %}Dashboard – {{config['SERVICE_NAME']}} – GOV.UK{% endblock %}

{% block beforeContent %}
{{ super() }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ super() }}
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-s">Transferring bodies list</h3>
                        <form method="POST">
                            {{ form.csrf_token }}
                            <div class="govuk-form-group">
                                <label for="tbody">Transferring Body : </label>
                                <select class="govuk-list govuk-!-width-two-quarters" name="transferring-body" id="tbody">
                                    {% for tbody in transferring_bodies %}
                                    {% if selected_transferring_body == tbody %}
                                    <option value="{{tbody}}" selected="selected">{{tbody}}</option>
                                    {% else %}
                                    <option value="{{tbody}}">{{tbody}}</option>
                                    {% endif %}
                                    {% endfor %}

                                    <!--<option value="Testing A">Testing A</option>
                                    <option value="Land Registry">Land Registry</option>
                                    <option value="National Highway">National Highway</option>
                                    <option value="Foreign Office">Foreign Office</option>
                                    <option value="Arts Council England">Arts Council England</option>-->
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


{% endblock %}