{% extends 'static-content-template.html' %}
{% block pageTitle %}Privacy – {{ config['SERVICE_NAME'] }} –  GOV.UK{% endblock %}
{% block content_list %}
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#data-collected">What data we collect from you</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#data-needed">Why we need your data</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#data-usage">What we do with your data</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#data-retention">How long we keep your data for</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#data-processing">Where your data is processed and stored</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#data-protection">How we protect your data and keep it secure</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#rights">Your rights</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#notice-changes">Changes to this notice</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#questions-complaints">Questions and complaints</a>
    </li>
{% endblock %}
{% block static_content %}
    <h1 class="govuk-heading-l">Privacy Notice for Access Your Records</h1>
    <p class="govuk-body-s">
        Last updated on <time datetime="2024-04-15">15 April 2024.</time>
    </p>
    <h2 class="govuk-heading-m" id="data-collected">What data we collect from you</h2>
    <p class="govuk-body">The personal data we collect from you will include:</p>
    <ul class="govuk-body">
        <li>your name</li>
        <li>your work email address</li>
    </ul>
    <p class="govuk-body">The legal basis under UK GDPR for processing this data is:</p>
    <ul class="govuk-body">
        <li>legal obligation</li>
        <li>legitimate interests</li>
    </ul>
    <p class="govuk-body">
        The National Archives (TNA) requires you to sign in to the system so that we can provide the correct level of access and monitor which documents have been accessed.
    </p>
    <h2 class="govuk-heading-m" id="data-needed">Why we need your data</h2>
    <p class="govuk-body">We need your data to:</p>
    <ul class="govuk-body">
        <li>make sure we have accurate information about who accesses digital records and which records are accessed</li>
        <li>maintain the safety and security of all sensitive records</li>
    </ul>
    <h2 class="govuk-heading-m" id="data-usage">What we do with your data</h2>
    <p class="govuk-body">AYR is a record access system. The data processed is used by:</p>
    <ul class="govuk-body">
        <li>Keycloak (authentication software)</li>
        <li>Access Your Records Service</li>
    </ul>
    <p class="govuk-body">We will not:</p>
    <ul class="govuk-body">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
    </ul>
    <p class="govuk-body">
        We will share your data if we’re required to do so by law – for example, by court order, or to prevent fraud or other crime.
    </p>
    <h2 class="govuk-heading-m" id="data-retention">How long we keep your data for</h2>
    <p class="govuk-body">We will only keep your personal data for as long as:</p>
    <ul class="govuk-body">
        <li>the law requires us to</li>
        <li>we need it for the purposes listed above</li>
    </ul>
    <p class="govuk-body">
        We will regularly review our user list and remove any accounts that have been inactive for one year or when we have been notified that you have left your department.
    </p>
    <h2 class="govuk-heading-m" id="data-processing">Where your data is processed and stored</h2>
    <p class="govuk-body">
        All personal data is processed, stored and managed entirely in the United Kingdom, and will not be transferred outside of it. This means that it is covered by UK data protection regulations.
    </p>
    <h2 class="govuk-heading-m" id="data-protection">How we protect your data and keep it secure</h2>
    <p class="govuk-body">
        We are committed to doing all that we can to keep your data secure. We set up systems and processes to prevent unauthorised access or disclosure of the data we collect about you – for example, we protect your data using varying levels of encryption.
    </p>
    <h2 class="govuk-heading-m" id="rights">Your rights</h2>
    <p class="govuk-body">You have the right to request:</p>
    <ul class="govuk-body">
        <li>information about how your personal data is processed</li>
        <li>
            <a href="https://ico.org.uk/for-the-public/getting-copies-of-your-information-subject-access-request/"
               class="govuk-link">a copy of that personal data</a> – this copy will be provided in a structured, commonly used and machine-readable format
        </li>
        <li>that anything inaccurate in your personal data is corrected immediately</li>
    </ul>
    <p class="govuk-body">You can also:</p>
    <ul class="govuk-body">
        <li>raise an objection about how your personal data is processed</li>
        <li>request that your personal data is erased if there is no longer a justification for it</li>
        <li>
            ask that we only process your data in certain circumstances to <a href="https://ico.org.uk/for-the-public/your-right-to-limit-how-organisations-use-your-data/"
    class="govuk-link">limit how we use your data</a>
        </li>
    </ul>
    <h2 class="govuk-heading-m" id="notice-changes">Changes to this notice</h2>
    <p class="govuk-body">
        We may change this privacy notice and any changes will apply to you and your data immediately. If these changes affect how your personal data is processed, TNA will take reasonable steps to make sure you know. When we make changes to this notice, the ‘last updated’ date at the top of this page will reflect when the change is made and effective from.
    </p>
    <h2 class="govuk-heading-m" id="questions-complaints">Questions and complaints</h2>
    <p class="govuk-body">
        Contact the Data Protection Officer, <a href="mailto:linda.stewart@nationalarchives.gov.uk"
    class="govuk-link">Linda Stewart</a>, if you:
    </p>
    <ul class="govuk-body">
        <li>have any questions about anything in this document</li>
        <li>think that your personal data has been misused or mishandled</li>
        <li>
            want to <a href="https://ico.org.uk/for-the-public/make-a-subject-access-request/"
    class="govuk-link">make a subject access request (SAR)</a>
        </li>
    </ul>
    <p class="govuk-body">By email:</p>
    <p class="govuk-body">
        You can contact us by email at <a href="mailto:tdr@nationalarchives.gov.uk" class="govuk-link">tdr@nationalarchives.gov.uk</a>
    </p>
    <p class="govuk-body">By live chat:</p>
    <p class="govuk-body">
        You can also use our live online chat service which is open Tuesday to Saturday, between 09:00 and 17:00. Refer to <a href="https://www.nationalarchives.gov.uk/contact-us/"
    class="govuk-link">The National Archives contact page</a> for details.
    </p>
    <p class="govuk-body">By post:</p>
    <p class="govuk-body">If you need to contact us via post, write to:</p>
    <address>
        <p class="govuk-body">
            Digital Access Team c/o
            <br>
            Digital Archiving Department
            <br>
            The National Archives,
            <br>
            Kew, Richmond,
            <br>
            Surrey
            <br>
            TW9 4DU
            <br>
        </p>
    </address>
    <p class="govuk-body">
        If you need to make a complaint to an independent regulator, you can contact the Information Commissioner’s Office at:
    </p>
    <p class="govuk-body">
        Email <a href="mailto:icocasework@ico.org.uk" class="govuk-link">icocasework@ico.org.uk</a>
    </p>
    <p class="govuk-body">
        Website <a href="https://ico.org.uk/make-a-complaint/" class="govuk-link">Make a complaint | ICO</a>
    </p>
    <p class="govuk-body">
        Telephone <a href="tel:0303 123 1113" class="govuk-link">0303 123 1113</a>
    </p>
    <p class="govuk-body">
        Textphone <a href="tel:01625 545 860" class="govuk-link">01625 545 860</a>
    </p>
    <div class="govuk-!-margin-top-9">
        <a href="#top"
           class="govuk-link govuk-link__no-visited-color govuk-body">Back to top</a>
    </div>
{% endblock %}
