{% from 'macros/banners.html' import alert_banner %}
<div class="govuk-tabs__panel" id="record-view">
    {% if file_type == "iiif" %}
        <div class="record-view-header">
            {% if can_download_records %}
                <a href="{{ url_for('main.download_record', record_id=record['file_id']) }}"
                   class="govuk-button govuk-button__download--record record-view-download-btn"
                   data-module="govuk-button"
                   aria-label="Download record {{ record['file_name'] }}">Download record</a>
            {% endif %}
        </div>
        <div class="universal-viewer" id="viewer">
            <script nonce="{{ csp_nonce() }}"
                    src="https://cdn.jsdelivr.net/npm/universalviewer@4.1.0/dist/umd/UV.js"
                    integrity="sha256-dJImOPhVGUtLjiuiUR/a0CkNhnltIBIY5kaKMVdHDQc="
                    crossorigin="anonymous"></script>
            <link href="https://cdn.jsdelivr.net/npm/universalviewer@4.1.0/dist/uv.min.css"
                  rel="stylesheet">
            <noscript>
                {% if file_extension in supported_render_extensions %}
                    <object data="{{ presigned_url }}" width="100%" height="700px">
                        <p>Please enable JS to view this record.</p>
                    </object>
                {% endif %}
            </noscript>
            <div id="uv" class="uv"></div>
            <script id="init-uv" nonce="{{ csp_nonce() }}" manifest_url="{{ manifest_url }}" type="text/javascript" src="{{ url_for('static', filename='init.uv.js') }}">
            </script>
        </div>
    {% else %}
        <div class="record-view__banner-container">
            {{ alert_banner('error', 'Unable to display this record', 'We cannot currently render this file type.') }}
        </div>
    {% endif %}
</div>
