{% set breadcrumbs = {
    "everything":"All available records",
    "body": [breadcrumb_values[0]["transferring_body_id"], breadcrumb_values[1]["transferring_body"]],
    "series": [breadcrumb_values[2]["series_id"], breadcrumb_values[3]["series"]],
    "consignment": [breadcrumb_values[4]["consignment_id"], breadcrumb_values[5]["consignment_reference"]],
    "record": breadcrumb_values[6]['file_name']
} %}
{% if record['closure_type'] | lower == 'closed' or (record['closure_type'] | lower == 'open' and record['closure_start_date'] != None) %}
    {% set list_items = {
            "File name": record['file_name'],
            "Alternative file name": record['alternative_title'],
            "Description": record['description'],
            "Citeable reference": record['citeable_reference'],
            "Alternative description": record['alternative_description'],
            "Status": record['closure_type'],
            "opening_date": record['opening_date'],
            "Closure start date": record['closure_start_date'],
            "Closure period": record['closure_period'] ~ " years",
            "Date of record": record['date_last_modified'],
            "FOI exemption code(s)": record['foi_exemption_code'],
            "Transferring body": record['transferring_body'],
            "Series reference": record['series'],
            "Consignment reference": record['consignment_reference'],
            "File reference": record['file_reference'],
            "Former reference": record['former_reference'],
            "Translated file name": record['translated_title'],
            "Held by": record['held_by'],
            "Legal status": record['legal_status'],
            "Rights copyright": record['rights_copyright'],
            "Language": record['language']
        } %}
{% else %}
    {% set list_items = {
            "File name": record['file_name'],
            "Description": record['description'],
            "Citeable reference": record['citeable_reference'],
            "Status": record['closure_type'],
            "Date of record": record['date_last_modified'],
            "Transferring body": record['transferring_body'],
            "Series reference": record['series'],
            "Consignment reference": record['consignment_reference'],
            "File reference": record['file_reference'],
            "Former reference": record['former_reference'],
            "Translated file name": record['translated_title'],
            "Held by": record['held_by'],
            "Legal status": record['legal_status'],
            "Rights copyright": record['rights_copyright'],
            "Language": record['language']
        } %}
{% endif %}
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% block pageTitle %}Record – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock %}
{% block content %}
    <div class="record-page">
        <div class="record-details">
            {% include "top-search.html" %}
            <div class="govuk-grid-row govuk-grid-row--record-view mobile-record-layout">
                <div class="govuk-grid-row govuk-grid-row-record">
                    <div class="govuk-grid-column-full govuk-grid-column-full__page-nav">
                        <p class="govuk-body-m govuk-body-m__record-view">You are viewing</p>
                        {% with dict = breadcrumbs %}
                            {% set record_breadcrumbs = True %}
                            {% include "breadcrumb.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="govuk-grid-column-two-thirds govuk-grid-column-two-thirds--record-table mobile-record-details">
                    <div class="main-content" id="main-content" role="main">
                        {% if file_type == "iiif" %}
                            <!-- UNIVERSAL VIEWER -->
                            <!-- <h2>Universal Viewer via IIIF Manifest (PDF / Audio / Video) </h2> -->
                            <script src="https://cdn.jsdelivr.net/npm/universalviewer@4.0.25/dist/umd/UV.min.js"></script>
                            <link href="https://cdn.jsdelivr.net/npm/universalviewer@4.0.25/dist/uv.min.css"
                                  rel="stylesheet">
                            <style>
                        #uv {
                            width: 100%;
                            height: 100vh;
                            /* Full viewport height */
                            max-height: 600px;
                            /* Maximum height */
                        }

                        /* Media query for small devices */
                        @media (max-width: 768px) {
                            #uv {
                                height: 70vh;
                                /* Adjust height for smaller devices */
                                width: 90vw;
                            }
                        }
                            </style>
                            <div id="uv" class="uv"></div>
                            <script type="text/javascript">
                        const data = {
                            manifest: "{{ manifest_url }}",
                            embedded: true
                        };

                        uv = UV.init("uv", data);
                        // override config using an inline json object
                        uv.on("configure", function ({ config, cb }) {
                            config.modules.centerPanel.options.usePdfJs = false;
                            cb({
                                options: { footerPanelEnabled: true, leftPanelEnabled: false, rightPanelEnabled: true, headerPanelEnabled: true, usePdfJs: true },
                                pdfHeaderPanel: {
                                    options: {
                                        centerOptionsEnabled: false,
                                    }
                                }
                            });
                        });

                            </script>
                            <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var $UV = document.getElementById("uv");

                            function resize() {
                                $UV.setAttribute("style", "width:" + window.innerWidth + "px");
                                $UV.setAttribute("style", "height:" + window.innerHeight + "px");
                            }

                            document.addEventListener("resize", function () {
                                resize();
                            });

                            resize();
                        });
                            </script>
                        {% endif %}
                        <h1 class="govuk-heading-m govuk-heading-m__record-details">Record details</h1>
                        <dl class="govuk-summary-list govuk-summary-list--record">
                            {% with dict = list_items %}
                                {% include "summary_list_items.html" %}
                            {% endwith %}
                        </dl>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third govuk-grid-column-one-third--record mobile-record-layout-rights">
                    <div class="rights-container">
                        <h3 class="govuk-heading-m govuk-heading-m__rights-header">Rights to access</h3>
                        <a href="{{ url_for('main.download_record', record_id=record['file_id']) }}"
                           class="govuk-button govuk-button__download--record"
                           data-module="govuk-button">Download
                        record</a>
                        {% if download_filename %}
                            <p class="govuk-body govuk-body--download-filename">
                                The downloaded record will be named
                                <br>
                                <strong>{{ download_filename }}</strong>
                            </p>
                        {% endif %}
                        <p class="govuk-body govuk-body--terms-of-use">
                            Refer to <a href="/terms-of-use" class="govuk-link govuk-link--ayr">Terms of use.</a>
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third govuk-grid-column-one-third--record mobile-record-layout-record-arrangement">
                    <div class="record-container">
                        <h2 class="govuk-heading-m govuk-heading-m__record-header">Record arrangement</h2>
                        <ol class="record-arrangement-list">
                            {% for file_level in record["file_path"].split("/") %}
                                <li class="govuk-body__record-arrangement-list">{{ file_level }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
