{% set breadcrumbs = {} %}
{% if session["user_type"] == "superuser" %}
    {%- set _ = breadcrumbs.update({'everything': "Everything"}) -%}
    {%- set _ = breadcrumbs.update({'summary': [breadcrumb_values[0]["query"], "Results summary"]}) -%}
{% endif %}
{%- set _ = breadcrumbs.update({'body': [breadcrumb_values[1]["transferring_body_id"], breadcrumb_values[2]["transferring_body"]] }) -%}
{% if breadcrumb_values[3] %}
    {%- set _ = breadcrumbs.update({'search_terms': breadcrumb_values[3]["search_terms"]}) -%}
{% endif %}
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% block pageTitle %}Dashboard – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock %}
{% block beforeContent %}{{ super() }}{% endblock %}
{% block content %}
    {% set sorting_list = {
        "Series (A to Z)": "series-asc",
        "Series (Z to A)": "series-desc",
        "Consignment reference (most recent)": "consignment_reference-desc",
        "Consignment reference (oldest)": "consignment_reference-asc",
        "Title (A to Z)": "file_name-asc",
        "Title (Z to A)": "file_name-desc",
        "Record opening (sooner)": "opening_date-desc",
        "Record opening (later)": "opening_date-asc",
        "Record status (closed)": "closure_type-asc",
        "Record status (open)": "closure_type-desc"
    } %}
    <!-- SEARCH  -->
    <form action="{{ url_for('main.search_transferring_body', _id = request.view_args['_id']) }}"
          method="get">
        <div class="govuk-grid-row govuk-grid-row--search">
            {{ super() }}
            <div class="govuk-width-container">
                <div class="govuk-grid-row">{% include "top-search.html" %}</div>
                <div class="mobile__search__container-block"></div>
                {% if filters["query"] |length >0 %}
                    <h2 class="govuk-heading-m">Records found {{ num_records_found }}</h2>
                    <p class="govuk-body browse__body">You are viewing</p>
                    <!-- BREAD CRUMB -->
                    {% with dict = breadcrumbs %}
                        {% include "breadcrumb.html" %}
                    {% endwith %}
                    <!-- SORT -->
                    <div class="govuk-form-group sort-container__form">
                        {% with dict = sorting_list %}
                            {% include "sorting-list.html" %}
                        {% endwith %}
                    </div>
                    <!-- TABLE -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-grid-column-full--search-results">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row govuk-!-font-size-14">
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Series</th>
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Consignment Reference</th>
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Title</th>
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Status</th>
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Record opening</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for record in results %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">
                                                <a href="{{ url_for('main.browse', series_id=record['series_id']) }}">{{ record["series"] }}</a>
                                            </td>
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">
                                                <a href="{{ url_for('main.browse', consignment_id=record['consignment_id']) }}">{{ record["consignment_reference"] }}</a>
                                            </td>
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">
                                                <a href="{{ url_for('main.record', record_id=record['file_id']) }}">{{ record["file_name"] }}</a>
                                            </td>
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">
                                                <strong class="{% if record['closure_type'] == 'Open' %}govuk-tag govuk-tag--green{% elif record['closure_type'] == 'Closed' %}govuk-tag govuk-tag--red{% elif record['closure_type'] is none %}{% endif %}">
                                                    {{ record['closure_type'] }}
                                                </strong>
                                            </td>
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">
                                                {% if record['opening_date'] %}
                                                    {{ record['opening_date'] }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- PAGINATION -->
                            {% with view_name='main.search_transferring_body', id = request.view_args['_id'] %}
                                {% include "pagination.html" %}
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
