{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% block pageTitle %}Dashboard – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock %}
{% block beforeContent %}{{ super() }}{% endblock %}
{% block content %}
    {% set sorting_list = {
        "Series (A to Z)": "series-asc",
        "Series (Z to A)": "series-desc",
        "Consignment reference (most recent first)": "consignment_reference-desc",
        "Consignment reference (oldest first)": "consignment_reference-asc",
        "Filename (A to Z)": "filename-asc",
        "Filename (Z to A)": "filename-desc",
        "Record opening (sooner)": "opening_date-desc",
        "Record opening (later)": "opening_date-asc"
    } %}
    <!-- SEARCH -->
    <div class="govuk-grid-row govuk-grid-row--search">
        {{ super() }}
        <div class="govuk-width-container">
            <div class="govuk-grid-row">{% include "top-search.html" %}</div>
            <div class="mobile__search__container-block"></div>
            <h2 class="govuk-heading-m govuk-heading-m--search-results">{{ num_records_found }} record(s) found</h2>
            <!-- SORT -->
            <div class="govuk-form-group sort-container__form">
                {% with dict = sorting_list %}
                    {% include "sorting-list.html" %}
                {% endwith %}
            </div>
            <!-- TABLE -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-grid-column-full--search-results">
                    {% if filters["query"]|length >0 %}
                        {% if num_records_found > 0 %}
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row govuk-!-font-size-14">
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Transferring body</th>
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Series</th>
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">Consignment reference</th>
                                        <th scope="col" class="govuk-table__header govuk-!-font-weight-bold">File name</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for row in results %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">{{ row[0] }}</td>
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">{{ row[1] }}</td>
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">{{ row[2] }}</td>
                                            <td class="govuk-table__cell govuk-body govuk-!-font-size-14">{{ row[3] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- PAGINATION -->
                            {% with view_name='main.search' %}
                                {% include "pagination.html" %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
