{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ super() }}
        <h2 class="govuk-heading-l">Search for records</h2>
        <p class="govuk-body-l">Search for digital-born records transfered to The National Archives</p>


        <div class="govuk-form-group">
          <label class="govuk-label" for="two-thirds">  
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="twoThirds" type="text">
         <button class="govuk-button" data-module="govuk-button">Search</button>

         
         
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              </legend>
              

              <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    My records
                  </label>
                </div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    All department records
                  </label>
                  </div>
                </div>
                
              </div>
            </fieldset>
          </div>
        </div>


            
</div>

</div>


{% endblock %}