{% extends "base.html" %}
{% block pageTitle %}Search results – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% set breadcrumbs = {} %}
{% if session["user_type"] == "all_access_user" %}
    {%- set _ = breadcrumbs.update({'everything': "All available records"}) -%}
    {%- set _ = breadcrumbs.update({'summary': [breadcrumb_values[0]["query"], "Results summary"]}) -%}
{% endif %}
{%- set _ = breadcrumbs.update({'body': [breadcrumb_values[1]["transferring_body_id"], breadcrumb_values[2]["transferring_body"]] }) -%}
{% if breadcrumb_values[3] %}
    {%- set _ = breadcrumbs.update({'search_terms': breadcrumb_values[3]["search_terms"]}) -%}
{% endif %}
{% set sorting_list = {
    "Series reference (A to Z)": "series_id-asc",
    "Series reference (Z to A)": "series_name-desc",
    "Consignment reference (newest)": "consignment_reference-desc",
    "Consignment reference (oldest)": "consignment_reference-asc",
    "Record opening date (sooner)": "opening_date-desc",
    "Record opening date (later)": "opening_date-asc",
    "File name (A to Z)": "file_name-asc",
    "File name (Z to A)": "file_name-desc",
    "Record status (closed)": "closure_type-asc",
    "Record status (open)": "closure_type-desc"
} %}
{% block beforeContent %}{{ super() }}{% endblock %}
{% block content %}
    <!-- SEARCH  -->
    <div class="govuk-grid-row browse__page desktop mobile">
        {{ super() }}
        {% include "top-search.html" %}
        <!-- TABLE -->
        <div class="govuk-grid-column-full govuk-grid-column-full__page_container">
            <div class="browse-details">
                <h1 class="govuk-heading-l browse__records-found__text"
                    id="browse-records">
                    {% if num_records_found > 0 %}
                        Records found {{ num_records_found }}
                    {% else %}
                        No results found
                    {% endif %}
                </h1>
                <h2 class="govuk-body browse__body">You are viewing</h2>
                <!-- BREAD CRUMB -->
                {% with dict = breadcrumbs %}
                    {% include "breadcrumb.html" %}
                {% endwith %}
                <form action="{{ url_for('main.search_transferring_body', _id = request.view_args['_id'], _anchor='browse-records') }}"
                      method="get">
                    <div class="browse-layout">
                        <!-- SORT -->
                        {% if num_records_found > 0 %}
                            <div class="govuk-grid-column-two-thirds filter-group">
                                {% with dict = sorting_list %}
                                    {% include "sorting-list.html" %}
                                {% endwith %}
                                <form>
                                    <div class="filter-group__checkboxes">
                                        <div class="govuk-checkboxes__item govuk-checkboxes govuk-checkboxes--small">
                                            <input class="govuk-checkboxes__input"
                                                   id="contact"
                                                   name="open_all"
                                                   type="checkbox"
                                                   value="open_all"
                                                   {% if open_all %}checked{% endif %}>
                                            <label class="govuk-label govuk-checkboxes__label" for="contact">Expand all results</label>
                                        </div>
                                        <button type="submit"
                                                class="govuk-button govuk-button__sort-container-update-button"
                                                data-module="govuk-button">Apply</button>
                                    </div>
                                </form>
                            </div>
                            <input type="hidden" name="query" value="{{ filters['query'] }}">
                            <div class="govuk-grid-column-two-thirds browse-grid--two-thirds browse-grid--mobile-table">
                                <table class="govuk-table browse-grid__table"
                                       id="tbl_result"
                                       aria-label="Search records transferring body">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col"
                                                class="govuk-table__header govuk-table__header--with-padding govuk-table--width-30-percent">
                                                Found within
                                            </th>
                                            <th scope="col" class="govuk-table__header">Search results</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        <div class="main-content" id="main-content" role="main">
                                            {% if results %}
                                                {% for record in results %}
                                                    {% set main_loop_index = loop.index %}
                                                    <tr class="govuk-table__row govuk-table__row--primary">
                                                        <td class="govuk-table__cell">
                                                            <div class="govuk-table__cell__data">
                                                                <details class="details-toggle-{{ main_loop_index }}"
                                                                         {% if open_all %}open{% endif %}>
                                                                    <summary />
                                                                </details>
                                                                {% if record['highlight'] %}
                                                                    {% set key = record['highlight'].keys() | list | first | replace('_', ' ') | capitalize %}
                                                                    {{ key }} +{{ record['highlight'].keys() | length - 1 }}
                                                                {% else %}
                                                                    None
                                                                {% endif %}
                                                            </div>
                                                        </td>
                                                        <td class="govuk-table__cell">
                                                            {% if record['highlight'] %}
                                                                {{ record['highlight'].values() | list | first | join(' ... ')| safe }}
                                                            {% else %}
                                                                None
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% set items = record['highlight'].items() | list %}
                                                    {% for key, value in items[1:] %}
                                                        <tr class="govuk-table__row top-row hidden-row-{{ main_loop_index }}">
                                                            <td class="govuk-table__cell govuk-table__cell--with-padding govuk-table__cell--no-pt">
                                                                {{ key | replace('_', ' ') | capitalize }}
                                                            </td>
                                                            <td class="govuk-table__cell govuk-table__cell--no-pt">{{ value | join(' ... ')| safe }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr class="govuk-table__row top-row hidden-row-{{ main_loop_index }}">
                                                        <td class="govuk-table__cell"></td>
                                                        <td class="govuk-table__cell govuk-table__cell--no-padding">
                                                            <table class="govuk-table govuk-table--inner-table" id="inner-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col"
                                                                            class="govuk-table__header govuk-table__header--inner-table">
                                                                            Series
                                                                        </th>
                                                                        <th scope="col"
                                                                            class="govuk-table__header govuk-table__header--inner-table">
                                                                            Consignment ref
                                                                        </th>
                                                                        <th scope="col"
                                                                            class="govuk-table__header govuk-table__header--inner-table">
                                                                            Status
                                                                        </th>
                                                                        <th scope="col"
                                                                            class="govuk-table__header govuk-table__header--inner-table govuk-table--right-align">
                                                                            Record opening date
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell govuk-table__cell--metadata">
                                                                            <a href="{{ url_for('main.browse_series', _id= record['_source']['series_id']) }}">{{ record['_source']['series_name'] }}</a>
                                                                        </td>
                                                                        <td class="govuk-table__cell govuk-table__cell--metadata">
                                                                            <a href="{{ url_for('main.browse_consignment', _id= record['_source']['consignment_id']) }}">
                                                                                {{ record['_source']['consignment_reference'] }}
                                                                            </a>
                                                                        </td>
                                                                        <td class="govuk-table__cell govuk-table__cell--metadata">
                                                                            <span class=" govuk-tag govuk-tag--{% if record['_source']['metadata']['closure_type'] == 'Closed' %}red{% else %}green{% endif %} ">
                                                                                {{ record['_source']['metadata']['closure_type'] }}
                                                                            </span>
                                                                        </td>
                                                                        <td class="govuk-table__cell govuk-table__cell--metadata govuk-table--right-align">
                                                                            {% if record['_source']['metadata']['opening_date'] %}
                                                                                {{ record['_source']['metadata']['opening_date'] }}
                                                                            {% else %}
                                                                                –
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </tbody>
                                </table>
                                <!-- PAGINATION -->
                                {% with view_name='main.search_transferring_body', id = request.view_args['_id'] %}
                                    {% include "pagination.html" %}
                                {% endwith %}
                                <!-- END PAGINATION -->
                            </div>
                        {% else %}
                            {% with view_type = "search" %}
                                {% include "no-results-found.html" %}
                            {% endwith %}
                        {% endif %}
                        <!-- FILTERS -->
                        <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
                            <div class="browse-all-filter-container">
                                <div class="browse-filter__header">
                                    <h2 class="govuk-heading-m govuk-heading-m--search">
                                        <label class="govuk-label govuk-heading-m govuk-heading-m--search"
                                               for="search_filter">Search within results</label>
                                    </h2>
                                </div>
                                <div class="govuk-form-group govuk-form-group--search-all-filter">
                                    <input class="govuk-input govuk-!-width-full govuk-input--browse-all-input"
                                           id="search_filter"
                                           name="search_filter"
                                           type="text">
                                </div>
                                <div class="search-form__buttons">
                                    <button type="submit"
                                            class="govuk-button govuk-button__search-filters-form-apply-button"
                                            data-module="govuk-button">Apply terms</button>
                                    <a class="govuk-link govuk-link--transferring-filter"
                                       href="{% if session['user_type'] == 'all_access_user' %}{{ url_for('main.browse', _anchor='browse-records') }}{% else %}{{ url_for('main.browse_transferring_body', _id = request.view_args['_id'], _anchor='browse-records') }}{% endif %}">Clear all terms</a>
                                </div>
                                <h3 class="govuk-heading-s govuk-heading-s--search-term">Search terms applied</h3>
                                <div class="ayr-filter-tags">
                                    {% for i in range(search_terms | length) %}
                                        <div class="search-term">
                                            {% if i == 0 %}
                                                {% set new_query = filters['query'].replace(search_terms[i] ~ ',','') %}
                                            {% else %}
                                                {% set new_query = filters['query'].replace(',' ~ search_terms[i],'') %}
                                            {% endif %}
                                            {% if search_terms | length == 1 %}
                                                {% set search_term_url = url_for('main.browse_transferring_body', _id = request.view_args['_id']) %}
                                            {% else %}
                                                {% set search_term_url = url_for('main.search_transferring_body', _id = request.view_args['_id'], query=new_query) %}
                                            {% endif %}
                                            <button type="button"
                                                    class="button-search-term"
                                                    data-module="search-term-button"
                                                    aria-label="Remove filter for '{{ search_terms[i] }}'">
                                                <a href="{{ search_term_url }}">
                                                    {{ search_terms[i] }}
                                                    <img src="{{ url_for('static', filename= 'image/cancel-filters.svg') }}"
                                                         height="30px"
                                                         width="30px"
                                                         class="close-icon"
                                                         alt="">
                                                </a>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
