{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{% block pageTitle %}Signed-out page – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock %}
{% block beforeContent %}{{ super() }}{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">You have signed out</h1>
                    <p class="govuk-body-l">Thank you for using Access Your Records.</p>
                    <div class="govuk-form-group govuk-!-margin-bottom-3">
                        <label class="govuk-label" for="wrong-signed-out-feedback">Feedback</label>
                        <input class="govuk-input"
                               id="signed-out-feedback"
                               name="signed-out-feedback"
                               type="text">
                    </div>
                    {{ govukButton({
                    'text': "Sign in",
                    'href': "/sign-in",
                    'classes': "govuk-button--sign-in-again"
                    }) }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
