{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{% from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect %}
{% set select_items = namespace(items=[]) %}
{% for key, value in dict.items() %}
    {% set option_parts = value.split('-') %}
    {% set selected = option_parts|length > 1 and sorting_orders[option_parts[0]] == option_parts[1] %}
    {% set _ = select_items.items.append({'value': value, 'text': key, 'selected': selected}) %}
{% endfor %}
<div class="ayr-sort-container">
    {{ govukSelect({
    'id': 'sort',
    'name': 'sort',
    'label': {'text': 'Sort by'},
    'items': select_items.items,
    'classes': 'ayr-sort-container__select',
    'formGroup': {'classes': 'govuk-!-margin-bottom-0'}
    }) }}
    {{ govukButton({
    'text': "Apply",
    'classes': "ayr-sort-container__button govuk-!-margin-bottom-0",
    }) }}
</div>
