<div class="browse__sort-container">
    <label class="govuk-label" for="sort">Sort by</label>
    <select class="govuk-select govuk-select__sort-container-select"
            id="sort"
            name="sort">
        {% for key, value in dict.items() %}
            {% set list = value.split('-') %}
            {% if list | length > 1 %}
                <option value="{{ value }}"
                        {% if sorting_orders[list[0]] %} {% if sorting_orders[list[0]] == list[1] %}selected{% endif %}
                        {% endif %}>{{ key }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit"
            class="govuk-button govuk-button__sort-container-update-button"
            data-module="govuk-button">Apply</button>
</div>
