{% for key, value in dict.items() %}
    {% if key != "opening_date" %}
        <div class="govuk-summary-list__row govuk-summary-list__row--record">
            <dt class="govuk-summary-list__key govuk-summary-list__key--record-table">{{ key }}</dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value--record">
                {% if value %}
                    {% if key == "Status" %}
                        {% if (value | lower == "closed") %}
                            <span class="govuk-tag govuk-tag--red">{{ value }}</span>
                        {% else %}
                            <span class="govuk-tag govuk-tag--green">{{ value }}</span>
                        {% endif %}
                        {% if dict.get("Closure start date") %}
                            {% if dict.get('opening_date') %}
                                <p class="ayr-opening-date">Record opening date {{ dict.get('opening_date') }}</p>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {{ value }}
                    {% endif %}
                {% else %}
                    <span>Not provided</span>
                {% endif %}
            </dd>
        </div>
    {% endif %}
{% endfor %}
