{% extends 'static-content-template.html' %}
{% block pageTitle %}Terms of use – {{ config['SERVICE_NAME'] }} –  GOV.UK{% endblock %}
{% block content_list %}
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#section-one">What is in these terms?</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#section-two">By using the Access Your Records service, you accept
        these terms</a>
    </li>
    <li class="govuk-list__ayr-content">
        <a class="govuk-link govuk-link__1-rem-mb-font govuk-link__no-visited-color"
           href="#section-three">Who we are and how to contact us</a>
    </li>
{% endblock %}
{% block static_content %}
    <p class="govuk-body-xs">
        Last updated on <time datetime="2025-04-22">22 April 2025.</time>
    </p>
    <h1 class="govuk-heading-l">Terms of use</h1>
    <h2 id="section-one" class="govuk-heading-m">What is in these terms?</h2>
    <p class="govuk-body">
        These terms tell you the rules for using the Access Your Records service
        at <a class="govuk-link govuk-link__no-visited-color"
    href="https://ayr.nationalarchives.gov.uk">https://ayr.nationalarchives.gov.uk</a>.
    </p>
    <h2 id="section-two" class="govuk-heading-m">
        By using the Access Your Records service, you accept
        these terms
    </h2>
    <p class="govuk-body">
        By using the Access Your Records service, you confirm that you accept these terms of use
        and that you agree to comply with them.
    </p>
    <h3 class="govuk-heading-s">Use</h3>
    <p class="govuk-body">
        Use of Access Your Records must comply with government security policies around the
        handling of Official and Official-Sensitive information.
    </p>
    <p class="govuk-body">
        To maintain the security of this service, we may restrict access based on IP or disable user
        accounts if we identify any breach to our terms of use.
    </p>
    <h3 class="govuk-heading-s">Coverage</h3>
    <p class="govuk-body">
        You should be aware that Access Your Records is not a complete record of all digital records
        held at The National Archives. AYR currently holds those born-digital records transferred via
        the Transfer Digital Records service. We are working to develop the service to include born-
        digital records transferred to The National Archives via other transfer mechanisms.
    </p>
    <p class="govuk-body">
        You should be aware that some records may subsequently have been opened or closed, or had
        their descriptions and titles opened or closed. These changes may not be immediately
        reflected in the Access Your Records service.
    </p>
    <p class="govuk-body">You should satisfy yourself that access to a record complies with all security requirements.</p>
    <h3 class="govuk-heading-s">Formats</h3>
    <p class="govuk-body">
        Access Your Records has been designed to provide users with access to transferred digital
        records in their original formats. The available formats may no longer be compatible to view
        with modern software.
    </p>
    <p class="govuk-body">
        For the more popular file types, Access Your Records renders a version of the record for
        viewing in a browser.
    </p>
    <h2 id="section-three" class="govuk-heading-m">Who we are and how to contact us</h2>
    <p class="govuk-body">The Access Your Records service is provided by The National Archives.</p>
    <p class="govuk-body">
        You can contact us by email at <a class="govuk-link govuk-link__no-visited-color"
    href="mailto:digitalarchivingaccess@nationalarchives.gov.uk">digitalarchivingaccess@nationalarchives.gov.uk</a>.
    </p>
    <p class="govuk-body">
        If your online access is limited and you need to speak to someone you can call us during
        office hours on <a class="govuk-link govuk-link__no-visited-color"
    href="tel:+4402088763444">020 8876 3444</a>. Leave your number and message and we will call you
        back.
    </p>
    <div class="govuk-!-margin-top-9">
        <a href="#top"
           class="govuk-link govuk-link__no-visited-color govuk-body">Back to top</a>
    </div>
{% endblock %}
