<div class="search__container govuk-grid-column-full">
    <div class="search__container__content">
        <p class="govuk-body search__heading">Search for digital records</p>
        <form method="get" action="{{ url_for('main.search') }}">
            <div class="govuk-form-group govuk-form-group__search-form">
                <label for="searchInput"></label>
                <input class="govuk-input govuk-!-width-three-quarters"
                       id="searchInput"
                       name="query"
                       type="text"
                       value="{% if request.args.get('query') %}{{ request.args.get('query') }}{% endif %}">
                <button class="govuk-button govuk-button__search-button"
                        data-module="govuk-button"
                        type="submit">Search</button>
            </div>
            <p class="govuk-body-s">
                Search using a record metadata term, for example – transferring body, series,
                consignment
                ref etc.
            </p>
        </form>
    </div>
</div>
