<div class="search__container govuk-grid-column-full">
    <div class="search__container__content">
        <p class="govuk-body search__heading">Search for digital records</p>
        <form method="get" action="{{ url_for('main.search') }}">
            <div class="govuk-form-group govuk-form-group__search-form">
                <label for="searchInput"></label>
                <input class="govuk-input govuk-!-width-three-quarters"
                       id="searchInput"
                       name="query"
                       type="text">
                <button class="govuk-button govuk-button__search-button"
                        data-module="govuk-button"
                        type="submit">Search</button>
            </div>
            {% if session["user_type"] == "superuser" %}
                <p class="govuk-body-s">Search by file name, transferring body, series or consignment reference.</p>
            {% else %}
                <p class="govuk-body-s">Search by file name, series or consignment reference.</p>
            {% endif %}
        </form>
    </div>
</div>
