{% from 'macros/buttons.html' import govuk_button %}
{% set search_areas = [
    {
        "value": "everywhere",
        "label": "Search everywhere",
        "aria_label": "Search everywhere in digital records"
    },
    {
        "value": "metadata",
        "label": "Record metadata only",
        "aria_label": "Search digital records within record metadata only"
    },
    {
        "value": "record",
        "label": "Within the record only",
        "aria_label": "Search digital records within the record only"
    }
] %}
<div class="top-search govuk-grid-column-full">
    <div class="top-search__els">
        <form class="top-search__els__form"
              method="get"
              action="{{ url_for('main.search') }}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--search govuk-label top-search__els__heading">
                    Search for digital records
                </legend>
                <div class="govuk-radios govuk-radios--small top-search__els__form__checkboxes"
                     data-module="govuk-radios">
                    {% for area in search_areas %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   id="{{ area.value }}"
                                   name="search_area"
                                   type="radio"
                                   value="{{ area.value }}"
                                   aria-label="{{ area.aria_label }}"
                                   {% if search_area %} {% if search_area == area.value %}checked{% endif %}
                                   {% else %}
                                   {% if area.value == 'everywhere' %}checked{% endif %}
                                   {% endif %} />
                            <label class="govuk-label govuk-radios__label" for="{{ area.value }}">{{ area.label }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="top-search__els__form__input-container">
                    <input class="govuk-input"
                           id="search-input"
                           name="query"
                           type="text"
                           value="{{ (filters['query'] if filters['query'] else '') | replace('+', ', ') }}"
                           aria-label="Enter search query for digital records" />
                    {{ govuk_button(
                    "Search",
                    button_id="search-submit",
                    ) }}
                </div>
            </fieldset>
        </form>
    </div>
</div>
