{% extends "base_template.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Current user: {{ user.email }}</p>
        <p>You have access to the following department(s): </p>
        <ul class="list-group mb-4">
            {% for department in user.departments %}
                <li class="list-group-item">Department {{ department }}</li>
            {% endfor %}
        </ul>
        {% for department in user.departments %}
        {% endfor %}
        <p>You have access to the following resource(s): </p>
        <ul class="list-group mb-4">
            {% for resource in user.resources %}
                {% for url in resource %}
                    <li class="list-group-item">
                        <a href="{{ url }}">{{ url }}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% for department in user.departments %}
        {% endfor %}


        <form action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
    {% else %}
        <h1 class="text-lg-center">Access Your Records</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac arcu placerat, condimentum augue
            sit amet, fermentum sem. Pellentesque scelerisque, felis eget tincidunt euismod, turpis odio venenatis
            neque, a semper nibh arcu vestibulum lectus. Morbi non semper ex. Cras quis malesuada sapien. Vivamus cursus
            vitae purus vitae imperdiet. Duis molestie laoreet elit, at tincidunt nulla imperdiet ut. Maecenas tempor
            purus a auctor mattis. In tincidunt diam blandit, lacinia dui vel, suscipit risus. Suspendisse placerat nunc
            ac lectus bibendum, nec condimentum lectus congue. Donec varius quis ligula fringilla dictum. Donec
            dignissim posuere egestas. Mauris mattis convallis urna eget commodo.
        </p>
        <p>
            Pellentesque id congue leo, sed bibendum odio. Aliquam erat volutpat. In a dolor nec dui pretium placerat
            nec vitae nunc. Sed feugiat ut quam id fringilla. Proin efficitur feugiat nisl nec viverra. Nam elementum
            congue ex. Integer elit ex, pharetra eget molestie vel, ornare nec orci. Quisque sodales malesuada dui.
            Proin vel lacus in justo auctor imperdiet sit amet et lorem. Nulla eleifend purus quam, consequat convallis
            nibh rhoncus quis. Pellentesque vestibulum neque at ipsum ullamcorper, nec ultricies odio pretium. Etiam
            vulputate nisl ut mi tempor, quis convallis elit euismod.
        </p>
        <p>
            Quisque ut mauris luctus, feugiat mi ac, ornare nulla. Etiam nibh ligula, feugiat a leo eget, rutrum
            ultrices sem. In tristique vestibulum tempus. Donec vel blandit libero. Integer eleifend volutpat magna et
            lacinia. In pellentesque scelerisque dui lobortis interdum. Nulla id velit risus. Vestibulum lacinia laoreet
            viverra.
        </p>
        <p>
            Donec hendrerit felis ipsum, vel semper nisl efficitur non. Aenean venenatis arcu ornare, lacinia augue id,
            varius dolor. Duis in augue urna. Sed ut ultrices leo. Maecenas volutpat libero nec nisi tincidunt
            vestibulum. Phasellus eget ex nibh. Phasellus nec sodales purus. Sed at sem ligula. Praesent porttitor felis
            et nibh pellentesque, eu sagittis ante ultrices. Integer bibendum nibh nec metus interdum, vitae dictum odio
            elementum. Phasellus euismod, tellus in tempus tincidunt, dui nisi luctus felis, quis cursus tortor sem
            vitae ipsum. Etiam nisi erat, fermentum dictum massa a, interdum suscipit lectus. Sed nec accumsan nibh.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac arcu placerat, condimentum augue
            sit amet, fermentum sem. Pellentesque scelerisque, felis eget tincidunt euismod, turpis odio venenatis
            neque, a semper nibh arcu vestibulum lectus. Morbi non semper ex. Cras quis malesuada sapien. Vivamus cursus
            vitae purus vitae imperdiet. Duis molestie laoreet elit, at tincidunt nulla imperdiet ut. Maecenas tempor
            purus a auctor mattis. In tincidunt diam blandit, lacinia dui vel, suscipit risus. Suspendisse placerat nunc
            ac lectus bibendum, nec condimentum lectus congue. Donec varius quis ligula fringilla dictum. Donec
            dignissim posuere egestas. Mauris mattis convallis urna eget commodo.
        </p>
        <div class="d-flex justify-content-center mt-4"><a href="{% url 'oidc_authentication_init' %}">
            <button type="button" class="btn btn-success">Log-in</button>
        </a></div>

    {% endif %}
{% endblock %}