.govuk-accessibility {
  &--red {
    color: $colour-placeholder-normal;
  }
}

.placeholder {
  color: $colour-placeholder-normal;
  font-size: 1.18rem;
}

.govuk-body {
  &--accessibility-placeholder {
    color: $colour-placeholder-normal;
  }
}

.anchor-link-list-ayr {
  margin-bottom: 1rem;
}

.govuk-link {

  &__ayr {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &__1-rem-mb-font {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &__no-visited-color {
    &:visited {
      color: $colour-link-default;
    }
  }

  &--accessibility {
    color: $colour-link-default;
    font-size: 1rem;
  }

  &:hover {
    color: $colour-link-hover;
  }

  &:active {
    color: $colour-link-default;
  }

  color: $colour-link-default;
}

.govuk-tna-link {
  color: $colour-link-default;
}

.li::marker {
  font-size: 1rem;
}

.govuk-accessibility--list {
  margin-bottom: 1rem;
}
