.govuk-accessibility {
  &--red {
    color: #c00;
  }
}

.placeholder {
  color: #c00;
  font-size: 1.18rem;
}

.govuk-body {
  &--accessibility-placeholder {
    color: #c00;
  }
}

.anchor-link-list-ayr {
  margin-bottom: 1rem;
}

.govuk-link {
  &__ayr {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &--accessibility {
    color: $link_blue;
    font-size: 1rem;
  }

  &:visited {
    color: $link_blue;
  }

  &:active {
    color: $link_blue;
  }

  color: $link_blue;
}

.govuk-tna-link {
  color: $link_blue;
}

.li::marker {
  font-size: 1rem;
}

.govuk-accessibility--list {
  margin-bottom: 1rem;
}
