@use "header";
@use "signposting-text";
@use "variables" as *;

@mixin stacked-breadcrumbs {
  margin-right: 0.625em;
  margin-left: 0;
  padding-right: 0.9784em;
  padding-left: 0;

  float: none;

  &::before {
    content: none;
  }

  &::after {
    content: "";

    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;

    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:last-child {
    display: block;

    line-height: 1.7rem;
    word-break: break-all;

    &::after {
      content: none;
    }
  }
}

.govuk-breadcrumbs {
  margin-top: 6px;

  &__list-item {
    &:last-child span {
      @include signposting-text.signposting-text;
      color: black;

      cursor: default;

      -webkit-text-fill-color: black;
    }
  }

  &--file {
    margin-top: 0;
  }

  &--file &__list-item {
    @include stacked_breadcrumbs;
  }

  @include header.on-mobile {
    &__list-item {
      @include stacked_breadcrumbs;
    }
  }

  &__link--record {
    margin-top: 0;

    color: $colour-link-default;
    font-size: 1rem;
    font-weight: 400;

    &--series {
      color: $colour-link-default;
      white-space: nowrap;

      &:visited {
        color: $colour-link-default;

        -webkit-text-fill-color: $colour-link-default;
      }
    }

    &--transferring-body {
      flex-wrap: wrap;

      color: $colour-link-default;

      &:visited {
        color: $colour-link-default;

        -webkit-text-fill-color: $colour-link-default;
      }
    }

    &--consignment {
      color: $colour-link-default;
      white-space: nowrap;

      &:visited {
        color: $colour-link-default;

        -webkit-text-fill-color: $colour-link-default;
      }
    }
  }

  &--record {
    display: flex;
  }
}
