@mixin stacked-breadcrumbs {
  margin-right: 0.625em;
  padding-right: 0.9784em;
  margin-left: 0;
  padding-left: 0;
  float: none;

  &::before {
    content: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0.4375em;
    height: 0.4375em;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;
  }

  &:last-child {
    display: block;
    word-break: break-all;
    line-height: 1.7rem;

    &::after {
      content: none;
    }
  }
}

.govuk-breadcrumbs {
  &__list-item {
    &:last-child span {
      @include signposting-text;
      color: black;
      -webkit-text-fill-color: black;
      cursor: default;
    }
  }

  &--file {
    margin-top: 0;
  }

  &--file &__list-item {
    @include stacked_breadcrumbs;
  }

  @include on-mobile {
    &__list-item {
      @include stacked_breadcrumbs;
    }
  }

  &__link--record {
    color: $link_blue;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;

    &--series {
      white-space: nowrap;
      color: $link_blue;

      &:visited {
        color: $link_blue;
        -webkit-text-fill-color: $link_blue;
      }
    }

    &--transferring-body {
      flex-wrap: wrap;
      color: $link_blue;

      &:visited {
        color: $link_blue;
        -webkit-text-fill-color: $link_blue;
      }
    }

    &--consignment {
      white-space: nowrap;
      color: $link_blue;

      &:visited {
        color: $link_blue;
        -webkit-text-fill-color: $link_blue;
      }
    }
  }

  &--record {
    display: flex;
  }
}
