@use "variables" as *;

.browse-all-filter-container {
  min-width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  display: inline-block;

  background-color: $colour-container-normal;
}

.browse-filter__header {
  display: flex;
}

.browse-records {
  &__form-group {
    margin: 0.5rem 0;
  }

  &__series-filter-example {
    color: #505a5f;
    font-size: 0.9rem;
    font-weight: normal;
  }

  &__filter-count {
    font-weight: normal;
  }

  &__radio-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.filters-form {
  float: right;

  font-size: 1rem;

  &__buttons {
    margin-top: 1rem;

    align-items: center;
  }
}

.govuk-fieldset {
  &--record-status {
    margin-top: 0;
    margin-bottom: -0.5rem; /* Adjusted margin bottom for status filter */
  }

  &--record-date {
    margin-top: 0;
    margin-bottom: -0.5rem;
  }
}

.govuk-heading-m {
  &--browse-all-filter-title {
    margin-bottom: 10px;
  }
}

.govuk-radios {
  &__label--consignment {
    max-width: 100%;
    padding: 5px 10px;

    font-size: 1rem;
  }

  &--small {
    padding: 0 0 10px;
  }
}

.govuk-link {
  &--browse-all-filter {
    margin-left: 1rem;
  }
}
