@use "browse";
@use "variables" as *;

.consignment-filter {
  &-container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    display: inline-block;

    background-color: $colour-container-normal;
  }

  &__header {
    display: flex;
  }

  &__icon {
    width: 2rem;
    margin-left: auto;

    justify-content: space-between;
  }

  &-from-dates {
    margin-bottom: 15px;

    display: inline-flex;
  }

  &-to-dates {
    display: inline-flex;
  }

  &-container--file-type {
    min-width: 100%;

    display: inline-flex;
  }
}

.filters-form {
  float: right;

  font-size: 1rem;

  &__group {
    margin: 0.5rem 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__transferring-body-group {
    display: flex;
    align-items: baseline;
  }

  &__series-group {
    display: flex;
  }

  &__consignment-ref-group {
    display: flex;
  }

  &__date__label {
    font-size: 1rem;
  }

  &__date-from-group {
    display: flex;
    justify-content: space-between;
  }

  &__date-to-group {
    display: flex;
    justify-content: space-between;
  }

  &__series__container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    background-color: $colour-container-normal;
  }

  &__consignment-ref__container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    background-color: $colour-container-normal;
  }

  &__date__container {
    min-width: 100%;
    padding: 0.5rem;

    background-color: $colour-container-normal;
  }

  &__series--input {
    width: 100%;

    flex-grow: 1;
  }

  &__consignment-ref--input {
    width: 100%;

    flex-grow: 1;
  }

  &__clear--button {
    margin-right: 1rem;

    font-size: 1rem;
  }

  &__date--button {
    margin-right: 0.5rem;

    align-self: flex-end;
  }

  &__body-date {
    max-width: 2.4rem;

    font-size: 1rem;
  }

  &__filetype__container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    display: inline-flex;

    background-color: $colour-container-normal;
  }
}

.govuk-heading-s {
  &--file-type {
    margin-bottom: 0;
    padding-top: 0;

    font-size: 1rem;
  }

  &--consignment-filter {
    margin-bottom: 0.3rem;
    padding-top: 0.3rem;

    font-size: 1rem;
  }
}

.govuk-body {
  &--file-type {
    margin-bottom: 0;

    color: black;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  &--consignment-date {
    margin-top: 2rem;
    margin-right: 0.6rem;

    display: inline;

    font-size: 1rem;
    white-space: nowrap;
  }
}

.govuk-form-group {
  &--consignment-filter {
    margin-bottom: 0;
  }

  &--dates {
    margin-bottom: 1rem;
  }

  &__consignment-form-group {
    margin-bottom: 0;

    display: inline-block;
  }
}

.govuk-link {
  &--consignment-filter {
    margin-bottom: 0.6rem;
    margin-left: 1rem;
  }
}

.govuk-button {
  &__consignment-filters-form-apply-button {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.govuk-fieldset {
  &--record-status {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.govuk-heading-m {
  &--consignment-filter-title {
    margin-bottom: 10px;
  }
}

.govuk-radios {
  &__label--consignment {
    max-width: 100%;
    padding: 5px 10px 1 1px !important;

    font-size: 1rem;
  }

  &--small {
    padding: 0 0 10px;
  }
}

.govuk-input {
  &--consignment-input {
    width: 95%;
  }
}

.govuk-date-input {
  &--consignment-date-to {
    margin-left: 0;

    display: inline-flex;
  }

  &__item--consignment {
    margin-right: 0.6rem;
  }
}

//  MOBILE STYLES //

@media screen and (width <= $breakpoint-medium) {
  .consignment-filter-dates-container {
    display: flex;
    flex-direction: column;
  }

  .browse-all-filter-from-dates {
    margin-right: 2.2rem;

    display: inline-flex;
  }

  .browse-all-filter-to-dates {
    display: inline-flex;
  }

  .filters-form__buttons {
    width: auto;

    display: flex;
    align-items: center;
  }
}

.sort-container__form {
  margin-bottom: 1.5rem;

  @include browse.on-mobile {
    margin-bottom: 0.5rem;
  }
}
