@use "signposting-text";
@use "variables" as *;

.browse-all-filter {
  &-container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    display: inline-block;

    background-color: $colour-container-normal;
  }

  &__header {
    display: flex;
  }

  &__icon {
    width: 2rem;
    margin-left: auto;

    justify-content: space-between;
  }

  &-from-dates {
    display: inline-flex;
  }

  &-to-dates {
    display: inline-flex;
  }
}

.filters-form {
  float: right;

  font-size: 1rem;

  &__group {
    margin: 0.5rem 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__transferring-body-group {
    display: flex;
    align-items: baseline;
  }

  &__series-group {
    display: flex;
  }

  &__browse-all-ref-group {
    display: flex;
  }

  &__date__label {
    font-size: 1rem;
  }

  &__date-from-group {
    display: flex;
    justify-content: space-between;
  }

  &__date-to-group {
    display: flex;
    justify-content: space-between;
  }

  &__series__container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    background-color: $colour-container-normal;
  }

  &__browse-all-ref__container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    background-color: $colour-container-normal;
  }

  &__date__container {
    min-width: 100%;
    padding: 0.5rem;

    background-color: $colour-container-normal;
  }

  &__series--input {
    width: 100%;

    flex-grow: 1;
  }

  &__browse-all-ref--input {
    width: 100%;

    flex-grow: 1;
  }

  &__clear--button {
    margin-right: 1rem;

    font-size: 1rem;
  }

  &__date--button {
    margin-right: 0.5rem;

    align-self: flex-end;
  }

  &__body-date {
    max-width: 2.4rem;

    font-size: 1rem;
  }

  &__filetype__container {
    min-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    display: inline-flex;

    background-color: $colour-container-normal;
  }
}

.govuk {
  &-heading-s {
    &--series {
      margin-bottom: 0;
      padding-top: 0;

      font-size: 1rem;
    }

    &--browse-all-filter {
      margin-bottom: 0.3rem;
      padding-top: 0.3rem;

      font-size: 1rem;
    }
  }

  &-body {
    &--series {
      margin-bottom: 0;

      color: black;
      font-size: 0.8rem;
      white-space: nowrap;
    }

    &--browse-all-date {
      margin-top: 2rem;
      margin-right: 0.6rem;

      display: inline;

      font-size: 1rem;
      white-space: nowrap;
    }

    &--browse-all-signpost {
      @include signposting-text.signposting-text;
      margin-top: 15px;

      @media screen and (width <= $breakpoint-medium) {
        margin-top: 5px;
      }
    }
  }

  &-form-group {
    &--browse-all-filter {
      margin-bottom: 0;
    }

    &__browse-all-form-group {
      margin-bottom: 0;

      display: inline-block;
    }
  }

  &-link {
    &--browse-all-filter {
      margin-bottom: 0.6rem;
      margin-left: 1rem;
    }
  }

  &-button {
    &__browse-all-filters-form-apply-button {
      margin-top: 0;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }

  &-fieldset {
    &--record-status {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &-heading-m {
    &--browse-all-filter-title {
      margin-bottom: 10px;
    }
  }

  &-radios {
    &__label--browse-all {
      padding: 5px 10px 1 1px !important;

      font-size: 1rem;
    }

    &--small {
      padding: 0 0 10px;
    }
  }

  &-input {
    &--browse-all-input {
      width: 95%;
    }
  }

  &-date-input {
    &--browse-all-date-to {
      margin-left: 0;
    }

    &__item--browse-all {
      margin-right: 0.6rem;
    }
  }

  &-table__cell {
    &--ayr a {
      color: $colour-link-default;

      -webkit-text-fill-color: $colour-link-default;
    }
  }
}

.browse__all {
  &__mobile__header {
    display: none;
  }

  &__desktop__header {
    display: table-cell;
  }
}

@media screen and (width <= $breakpoint-medium) {
  .browse-grid__key__transferring-body {
    width: auto;
  }

  .browse__all {
    &__desktop__header {
      display: none;
    }

    &__mobile__header {
      display: table-cell;
    }
  }
}
