.browse__transferring-body {
  &__mobile__header {
    display: none;
  }

  &__desktop__header {
    display: table-cell;
  }
}

.browse__table__desktop--hidden {
  display: none;
}

@media screen and (width <= $breakpoint-medium) {
  .browse__transferring-body {
    &__desktop__header {
      display: none;
    }

    &__mobile__header {
      display: table-cell;
    }
  }

  .browse__table {
    &__mobile-left-align {
      text-align: left;
    }

    &__desktop--hidden {
      display: table-row;
    }
  }
}
