/* Default styles for desktop */
@mixin on-mobile {
  @media screen and (width <= $breakpoint-medium) {
    @content;
  }
}

// DISABLE MOBILE STYLES
.mobile {
  display: none;
}

.desktop {
  display: block;
}

// DESKTOP STYLES

.govuk {
  &-grid-column-full__page_container {
    padding: 0;
  }

  &-form-group {
    &__search-form {
      margin-bottom: 0;
      margin-right: -8rem;

      @include on-mobile {
        margin-right: 0;
      }
    }
  }

  &-button {
    &__search-button {
      margin-bottom: 0.5rem;
    }

    &__sort-container-update-button {
      margin-bottom: 0;
    }

    &__filters-form-apply-button {
      align-self: flex-start;
      margin-left: 1rem;
      font-size: 1rem;
    }

    &__filters-form-clear-button {
      align-self: flex-start;
      margin-right: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 1rem;
      border: none;
      background: none;
    }
  }

  &-select {
    &__sort-container-select {
      margin-right: 0.25rem;

      @include on-mobile {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }

    &__filters-form-transferring-body-select {
      width: 100%;
      min-width: auto;
      font-size: 1rem;
    }
  }

  &-table__row__browse--mobile {
    display: none;
  }

  &-details {
    display: none;
  }
}

.browse {
  &__page {
    margin-right: 0;
    margin-left: 0;
    margin-top: -2rem;
  }

  &__body {
    margin-bottom: 0;
    font-size: 1rem;
  }

  &__records-found__text {
    margin-bottom: 1rem;
  }

  &__available__text {
    height: 1rem;
    background-color: #fff;
    font-weight: 700;
    font-size: 1.5rem;

    @include on-mobile {
      width: 100%;
    }
  }

  &__pagination__centered {
    justify-content: center;
  }

  &__table {
    &__right-align {
      text-align: right;
    }

    &__large-width {
      width: 30%;
    }
  }

  &__sort-container {
    margin-top: 2rem;
    flex-shrink: 0;

    @include on-mobile {
      margin-top: 2rem;
      width: 100%;
    }
  }
}

.browse-grid {
  &--two-thirds {
    padding: 0;
  }

  &__list {
    font-size: 1rem;
  }

  &__key {
    width: auto;
  }

  &__key__transferring-body {
    width: 30%;
  }

  &__list > div:first-child,
  &__list > div:last-child {
    border-bottom: 2px solid black;
  }
}

.sort-container {
  &__form {
    margin-bottom: 0.5rem;
  }
}

.browse-filter {
  &-container {
    background-color: $colour-container-normal;
    padding: 0.5rem;
    min-width: 100%;
    margin-bottom: 0.5rem;
  }

  &__header {
    display: flex;
  }

  &__icon {
    justify-content: space-between;
    width: 2rem;
    margin-left: auto;
  }
}

.filters-form {
  float: right;
  font-size: 1rem;

  &__group {
    margin: 0.5rem 0;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__transferring-body-group {
    display: flex;
    align-items: baseline;
  }

  &__series-group {
    display: flex;
  }

  &__consignment-ref-group {
    display: flex;
  }

  &__date__label {
    font-size: 1rem;
  }

  &__date-from-group {
    display: flex;
    justify-content: space-between;
  }

  &__date-to-group {
    display: flex;
    justify-content: space-between;
  }

  &__series__container {
    background-color: $colour-container-normal;
    padding: 0.5rem;
    min-width: 100%;
    margin-bottom: 0.5rem;
  }

  &__consignment-ref__container {
    background-color: $colour-container-normal;
    padding: 0.5rem;
    min-width: 100%;
    margin-bottom: 0.5rem;
  }

  &__date__container {
    background-color: $colour-container-normal;
    padding: 0.5rem;
    min-width: 100%;
  }

  &__series--input {
    flex-grow: 1;
    width: 100%;
  }

  &__consignment-ref--input {
    flex-grow: 1;
    width: 100%;
  }

  &__buttons {
    display: flex;
    align-items: center;
    width: auto;
    margin-top: 1rem;

    .govuk-link {
      flex-shrink: 0;
    }
  }

  &__clear--button {
    margin-right: 1rem;
    font-size: 1rem;
  }

  &__date--button {
    align-self: flex-end;
    margin-right: 0.5rem;
  }

  &__body-date {
    max-width: 2.4rem;
    font-size: 1rem;
  }
}

// MOBILE STYLES

@media screen and (width <= $breakpoint-medium) {
  .govuk-grid-column-one-third {
    &--browse-all-filters {
      order: 1;
      padding: 0 15px 0 0 !important;
      width: auto;
      display: block;
      margin-top: 1.5rem;
    }

    &--consignment-filters {
      order: 1;
      padding: 0 15px 0 0 !important;
      width: auto;
      display: block;
      margin-top: 1.5rem;
    }
  }

  .govuk-details {
    display: block;
  }

  .browse {
    &-layout {
      display: flex;
      flex-direction: column;
    }

    &-grid--mobile-table {
      order: 2;
      width: auto;
    }

    &__sort-container {
      margin-top: 0;
    }

    &__table__mobile--hidden {
      display: none;
    }

    &__table__series-row {
      margin-bottom: 0.5rem;
    }
  }

  .govuk-table__row__browse--mobile {
    display: table-row;
  }

  .browse__mobile-table__bottom-row {
    border-bottom: 1px solid $colour-border-normal;
    max-width: 10rem;
  }

  .mobile {
    display: block;

    &-pagination {
      order: 3;
    }
  }

  .govuk {
    &-template__body {
      overflow: visible;
    }

    &-button__search-button {
      width: 50%;
      margin-bottom: 1rem;
      order: 4;
    }

    &-body-s {
      order: 3;
      align-self: flex-start;
    }

    &-mobile-summary-list {
      display: block;
      font-size: 1rem;
      width: 100%;
    }

    &-summary-list__row {
      /* display: flex; */
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-summary-list__key {
      flex: 0;
    }

    &-summary-list__value {
      flex: 0;
    }

    &-button__sort-container-update-button {
      width: 100%;
    }
  }

  .govuk-mobile-table {
    display: block;
  }

  .govuk-mobile-table__head-border {
    border-bottom: 2px;
  }

  .govuk-table__header__right {
    text-align: right;
  }

  .govuk-form-group__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mobile__search__text {
    width: 80vw;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
  }

  .browse__available__text {
    font-size: 1.2rem;
  }

  .right-align {
    text-align: right;
  }

  .browse-details {
    display: block;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }

  .govuk-grid-column-full {
    &--browse {
      display: block;
    }
  }
}
