/* SCSS for Footer */

@mixin on-mobile {
  @media screen and (width <= $breakpoint-small) {
    @content;
  }
}

.govuk-footer {
  padding-bottom: 40px;

  &__tna-logo {
    width: 100px;
  }

  &__meta {
    margin: 0;
    align-items: center;
    gap: 40px;

    @include on-mobile {
      flex-direction: column;
    }
  }

  &__meta-item {
    display: block;
    margin: 0;
  }

  &__inline-list-item {
    margin-bottom: 10px;

    @include on-mobile {
      display: block;
      margin-right: 0;
      margin-bottom: 0;
      text-align: center;
      padding: 15px;
    }
  }

  &__link {
    @include on-mobile {
      order: 2;
    }

    text-underline-offset: 3px;

    &:hover {
      text-decoration-thickness: 3px;
    }
  }

  &__meta-item--grow {
    @include on-mobile {
      flex-basis: auto;
    }
  }

  &__licence-logo {
    @include on-mobile {
      margin: 0 auto 10px;
      display: block;
    }
  }

  &__licence-description {
    @include on-mobile {
      text-align: center;
      line-height: 1.3rem;
    }
  }
}
