/* SCSS for Record page */

.govuk-tabs__list-item {
  &::before {
    content: none;
  }
}

.mobileFooterPanel {
  background: white;
  border: white;
}

.govuk-width-container {
  &--desktop-record {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.govuk-main-wrapper {
  &--record-view {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

.govuk-grid-column-full {
  &__page-nav {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }
}

.govuk-grid-column-two-thirds {
  &--record-search {
    padding: 0;
  }
}

.govuk-button {
  &--record-search {
    margin-right: auto;
  }

  &__download--record {
    align-self: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    width: auto;
  }
}

.govuk-form-group {
  &--record-search {
    margin-left: 6rem;
  }
}

.govuk-\!-width-three-quarters {
  &--record-search {
    width: 80%;
  }
}

.govuk-heading-m {
  &__rights-header {
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
  }

  &__record-details {
    margin-bottom: 0.5rem;
  }

  &__record-header {
    display: flex;
    justify-content: center;
  }

  &__record-view {
    margin-top: 2rem;
    margin-bottom: 0.6rem;

    p {
      margin-bottom: 0.6rem;
    }
  }
}

.govuk-summary-list {
  &--record {
    table-layout: auto;
    border-top: 1px solid $colour-border-normal;
  }

  &__key--record-table {
    white-space: nowrap;
    width: 0;
    text-align: left;
    font-size: 1rem;
    margin-left: 0;
  }

  &__value--record {
    font-size: 1rem;
    text-align: left;
    word-break: break-all;
  }

  /* TNA DESIGNER HAS ASKED THAT WE LEAVE THIS STYLE COMMENTED OUT FOR FUTURE USE */

  /* &__row--record {
    &:last-child {
      border-bottom: 2px solid #000;
    }
  } */
}

.rights-container {
  background-color: $colour-container-normal;
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.record-container {
  background-color: $colour-container-normal;
  display: block;
  margin-top: 1.25rem;
  padding: 1rem;
}

.govuk-body {
  &--download-filename {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200;
    color: black;
  }

  &--terms-of-use {
    align-self: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 200;
    color: black;
  }

  &__record-arrangement-list {
    font-size: 0.9rem;
    font-family: arial, sans-serif;
    color: black;

    &:last-child {
      font-weight: bold;
    }
  }
}

.govuk-link {
  &--ayr {
    color: black;
    -webkit-text-fill-color: black;
    font-size: 0.9rem;

    a {
      color: black;
      -webkit-text-fill-color: black;
      font-size: 0.9rem;
    }

    &:visited {
      color: black;
    }
  }
}

.search-terms {
  text-align: left;
}

.govuk-body-m {
  &__record-view {
    margin-bottom: 0;
  }
}

.govuk-tag {
  &--red {
    font-size: 1rem;
    text-transform: capitalize;
    color: $colour-status-closed;
    font-weight: 400;
    letter-spacing: 0;
  }

  &--green {
    font-size: 1rem;
    text-transform: capitalize;
    color: $colour-status-open;
    font-weight: 400;
    letter-spacing: 0;
  }
}

.record-container .record-arrangement-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  --ball-size: 13px;
  --border-width: 3px;
  --colour: #{$colour-timeline-normal};
}

.record-container .record-arrangement-list li {
  position: relative;
  padding: 0 0 20px calc(var(--ball-size) + 1rem);
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  text-wrap: wrap;
  word-break: break-all;
}

.record-container .record-arrangement-list li::before {
  content: " ";
  display: block;
  position: absolute;
  width: var(--ball-size);
  height: var(--ball-size);
  left: 0;
  top: 0;
  border-radius: 100%;
  border: var(--border-width) solid $colour-timeline-normal;
  z-index: 2;
}

.record-container .record-arrangement-list li::after {
  content: " ";
  display: block;
  position: absolute;
  width: var(--border-width);
  left: calc((var(--ball-size) / 2) + (var(--border-width) / 2));
  top: calc(var(--ball-size) + var(--border-width));
  bottom: calc(var(--border-width) * -1);
  background-color: $colour-timeline-normal;
}

.record-container .record-arrangement-list li:last-child {
  font-weight: bold;
}

.record-container .record-arrangement-list li:last-child::after {
  display: none;
}

.record-page {
  margin-top: -2rem;
}

.govuk-tabs__panel__record-details {
  display: flow-root;
  padding: 1rem !important;
}

.govuk-tabs__panel {
  padding: "3rem 0:0";
  @include on-mobile {
    padding: 0;
  }
}

.js-enabled .govuk-tabs__panel {
  padding: 0;
}

.btn {
  color: white;
}

.headerPanel .options {
  border-bottom: 2px solid white;
}

.mode {
  width: 3rem;
  font-size: 1rem;
}

.uv {
  .mainPanel {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    background-color: #0b0c0c !important;
  }

  .mainPanel .leftPanel {
    border-right: 2px solid white;
    background-color: #0b0c0c !important;
  }

  .centerOptions {
    .total {
      font-size: 1rem !important;
      font-style: 500 !important;
      margin: 6px 0 0 5px !important;
    }

    .searchText {
      font-size: 1rem !important;
      font-weight: bold !important;
    }

    .go {
      font-size: 1rem !important;
      font-weight: bold !important;
      height: 30px !important;
      padding: 0 5px !important;
    }
  }

  .prevOptions {
    margin: 0 30px 0 0 !important;
  }

  .nextOptions {
    margin: 0 0 0 33px !important;
  }

  .headerPanel .centerOptions .mode {
    font-size: 1rem;
  }

  .headerPanel .centerOptions .autocompleteText {
    text-align: center;
  }

  .btn-primary {
    color: #00703c;
    background-color: #00703c !important;
    border-color: #00703c !important;
  }

  .centerPanel .title {
    padding-left: 2rem !important;
  }

  .headerPanel .options {
    background-color: #0b0c0c !important;
  }
}

.uv-iiif-extension-host.uv-pdf-extension
  .headerPanel
  .centerOptions
  .search
  .searchText {
  text-align: center;
}

.uv-icon-settings {
  display: none !important;
}

.paging.next .uv-icon-next,
.paging.prev .uv-icon-prev {
  display: none;
}

.thumb.selected .wrap {
  border: 5px solid yellow !important;
}

.record-view-header {
  display: flex;
  justify-content: flex-end;
}

.record-view-download-btn {
  margin: 1rem;
}

.record-view {
  &__banner-container {
    max-width: 472px;
    padding: 31px 19px;

    @media screen and (width <= $breakpoint-medium) {
      padding: 31px 28px;
    }
  }
}

.govuk-tabs__panel__record-html-view {
  padding: 1rem !important;
}

//  MOBILE STYLES //

@media screen and (width <= $breakpoint-medium) {
  .govuk-grid {
    &-column-one-third {
      &--record {
        width: 100%;
      }
    }

    &-column-two-thirds {
      &--record-table {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        order: 4;
      }
    }

    &-column-full__page-nav {
      order: 2;
      margin-bottom: 0.5rem;
      padding-left: 2rem;
    }

    &-row {
      &--mobile {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .record-page {
    display: flex;
    margin-top: -2rem;
  }

  .govuk-summary-list {
    &__row {
      &--record {
        table-layout: auto;
      }
    }

    &__key--record-table {
      white-space: nowrap;
      width: 0;
      text-align: left;
      font-size: 1rem;
      margin-left: 0;
    }

    &__value--record {
      font-size: 1rem;
      text-align: left;
    }
  }

  .mobile-record {
    &-layout {
      display: flex;
      flex-direction: column;
    }

    &-details {
      order: 2;
    }

    &-layout-rights {
      order: 1;
    }

    &-layout-record-arrangement {
      order: 3;
    }
  }

  .rights-container {
    display: flex;
    order: 3;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .record-container {
    display: flex;
    flex-direction: column;
    order: 5;
    white-space: nowrap;
    padding: 0.5rem;
  }

  .mobile__search__container-block {
    margin-bottom: -2rem;
  }

  .govuk-heading-m__record-arrangement-mobile {
    margin-left: 20px;
    white-space: nowrap;
  }

  .govuk-link {
    &--ayr {
      color: black;
      -webkit-text-fill-color: black;
      font-size: 0.9rem;

      a {
        color: black;
        -webkit-text-fill-color: black;
        font-size: 0.9rem;
      }

      &:visited {
        color: black;
      }
    }
  }

  .search__container__content {
    margin-top: 0;
  }

  .uv-iiif-extension-host {
    background: white;
  }
}

@media (400px <= width <= $breakpoint-small) {
  .govuk-grid-column-two-thirds {
    &--record-table {
      display: flex;
      flex-direction: column;
      width: 100% !important;
      order: 4;
    }
  }

  .record-page {
    display: flex;
    margin-top: -2rem;
  }

  .record-container {
    display: flex;
    flex-direction: column;
    order: 5;
    white-space: nowrap;
  }

  .mobile-record {
    &-layout {
      display: flex;
      flex-direction: column;
    }

    &-details {
      order: 2;
    }

    &-layout-rights {
      order: 1;
    }

    &-layout-record-arrangement {
      order: 3;
    }
  }

  .govuk-summary-list {
    &__row {
      &--record {
        display: table;
        width: 100% !important;
        table-layout: fixed;
        border-collapse: collapse;
        margin-bottom: 10px;
      }
    }

    &__key--record-table {
      white-space: nowrap;
      width: 0;
      text-align: left;
      font-size: 1rem;
      margin-left: 0;
    }

    &__value--record {
      font-size: 1rem;
      text-align: left;
      display: table-cell;
    }
  }

  .uv-iiif-extension-host {
    background: white;
  }
}
