@use "header";
@use "variables" as *;

/* SCSS for Record page */

.govuk-tabs__list-item {
  &::before {
    content: none;
  }
}

.mobileFooterPanel {
  background: white;

  border: white;
}

@media screen and (min-width: $breakpoint-desktop) {
  .govuk-width-container {
    max-width: $breakpoint-desktop;
  }

  .govuk-grid-column-two-thirds {
    max-width: 704px;
  }
}

.govuk-width-container {
  &--desktop-record {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.govuk-main-wrapper {
  &--record-view {
    margin-top: 0;
    padding-top: 0;

    display: flex;
    flex-direction: column;
  }
}

.govuk-grid-column-full {
  &__page-nav {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }
}

.govuk-grid-column-two-thirds {
  &--record-search {
    padding: 0;
  }
}

.govuk-button {
  &--record-search {
    margin-right: auto;
  }

  &__download--record {
    width: auto;
    margin-bottom: 0.8rem;

    align-self: center;

    justify-content: center;
  }
}

.govuk-form-group {
  &--record-search {
    margin-left: 6rem;
  }
}

.govuk-\!-width-three-quarters {
  &--record-search {
    width: 80%;
  }
}

.govuk-heading-m {
  &__rights-header {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: center;
  }

  &__record-details {
    margin-bottom: 0.5rem;
  }

  &__record-header {
    display: flex;
    justify-content: center;
  }

  &__record-view {
    margin-top: 2rem;
    margin-bottom: 0.6rem;

    p {
      margin-bottom: 0.6rem;
    }
  }
}

.govuk-summary-list {
  &--record {
    table-layout: auto;

    border-top: 1px solid $colour-border-normal;
  }

  &__key--record-table {
    width: 0;
    margin-left: 0;

    font-size: 1rem;
    text-align: left;
    white-space: nowrap;
  }

  &__value--record {
    font-size: 1rem;
    text-align: left;
    word-break: break-all;
  }

  /* TNA DESIGNER HAS ASKED THAT WE LEAVE THIS STYLE COMMENTED OUT FOR FUTURE USE */

  /* &__row--record {
    &:last-child {
      border-bottom: 2px solid #000;
    }
  } */
}

.rights-container {
  margin-top: 1.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $colour-container-normal;
}

.record-container {
  margin-top: 1.25rem;
  padding: 1rem;

  display: block;

  background-color: $colour-container-normal;
}

.govuk-body {
  &--download-filename {
    color: black;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
  }

  &--terms-of-use {
    align-self: center;

    justify-content: center;

    color: black;
    font-size: 0.9rem;
    font-weight: 200;
  }

  &__record-arrangement-list {
    color: black;
    font-family: arial, sans-serif;
    font-size: 0.9rem;

    &:last-child {
      font-weight: bold;
    }
  }
}

.govuk-link {
  &--ayr {
    color: black;
    font-size: 0.9rem;

    -webkit-text-fill-color: black;

    a {
      color: black;
      font-size: 0.9rem;

      -webkit-text-fill-color: black;
    }

    &:visited {
      color: black;
    }
  }
}

.search-terms {
  text-align: left;
}

.govuk-body-m {
  &__record-view {
    margin-bottom: 0;
  }
}

.govuk-tag {
  &--red {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  &--green {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
  }
}

.record-container .record-arrangement-list {
  --ball-size: 13px;
  --border-width: 3px;
  --colour: #{$colour-timeline-normal};
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.record-container .record-arrangement-list li {
  padding: 0 0 20px calc(var(--ball-size) + 1rem);

  position: relative;

  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  text-wrap: wrap;
  word-break: break-all;
}

.record-container .record-arrangement-list li::before {
  content: " ";

  width: var(--ball-size);
  height: var(--ball-size);

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  border: var(--border-width) solid $colour-timeline-normal;
  border-radius: 100%;
}

.record-container .record-arrangement-list li::after {
  content: " ";

  width: var(--border-width);

  display: block;

  position: absolute;
  top: calc(var(--ball-size) + var(--border-width));
  bottom: calc(var(--border-width) * -1);
  left: calc((var(--ball-size) / 2) + (var(--border-width) / 2));

  background-color: $colour-timeline-normal;
}

.record-container .record-arrangement-list li:last-child {
  font-weight: bold;
}

.record-container .record-arrangement-list li:last-child::after {
  display: none;
}

.record-page {
  margin-top: -2rem;
}

.govuk-tabs__panel__record-details {
  padding: 1rem !important;

  display: flow-root;
}

.govuk-tabs__panel {
  padding: "3rem 0:0";
  @include header.on-mobile {
    padding: 0;
  }
}

.js-enabled .govuk-tabs__panel {
  padding: 0;
}

.btn {
  color: white;
}

.headerPanel .options {
  border-bottom: 2px solid white;
}

.mode {
  width: 3rem;

  font-size: 1rem;
}

.uv {
  .mainPanel {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-top: 0 !important;

    background-color: #0b0c0c !important;
  }

  .mainPanel .leftPanel {
    background-color: #0b0c0c !important;

    border-right: 2px solid white;
  }

  .centerOptions {
    .total {
      margin: 6px 0 0 5px !important;

      font-size: 1rem !important;
      font-style: 500 !important;
    }

    .searchText {
      font-size: 1rem !important;
      font-weight: bold !important;
    }

    .go {
      height: 30px !important;
      padding: 0 5px !important;

      font-size: 1rem !important;
      font-weight: bold !important;
    }
  }

  .prevOptions {
    margin: 0 30px 0 0 !important;
  }

  .nextOptions {
    margin: 0 0 0 33px !important;
  }

  .headerPanel .centerOptions .mode {
    font-size: 1rem;
  }

  .headerPanel .centerOptions .autocompleteText {
    text-align: center;
  }

  .btn-primary {
    color: #00703c;

    background-color: #00703c !important;

    border-color: #00703c !important;
  }

  .centerPanel .title {
    padding-left: 2rem !important;
  }

  .headerPanel .options {
    background-color: #0b0c0c !important;
  }
}

.uv-iiif-extension-host.uv-pdf-extension
  .headerPanel
  .centerOptions
  .search
  .searchText {
  text-align: center;
}

.uv-icon-settings {
  display: none !important;
}

.uv .footerPanel .btn.share,
.uv .footerPanel .btn.download {
  display: none !important;
}

.paging.next .uv-icon-next,
.paging.prev .uv-icon-prev {
  display: none;
}

.thumb.selected .wrap {
  border: 5px solid yellow !important;
}

.record-view-header {
  display: flex;
  justify-content: flex-end;
}

.record-view-download-btn {
  margin: 1rem;
}

.record-view {
  &__banner-container {
    max-width: 472px;
    padding: 31px 19px;

    @media screen and (width <= $breakpoint-medium) {
      padding: 31px 28px;
    }
  }
}

.govuk-tabs__panel__record-html-view {
  padding: 1rem !important;
}

//  MOBILE STYLES //

@media screen and (width <= $breakpoint-medium) {
  .govuk-grid {
    &-column-one-third {
      &--record {
        width: 100%;
      }
    }

    &-column-two-thirds {
      &--record-table {
        width: 100% !important;

        display: flex;
        flex-direction: column;

        order: 4;
      }
    }

    &-column-full__page-nav {
      margin-bottom: 0.5rem;
      padding-left: 2rem;

      order: 2;
    }

    &-row {
      &--mobile {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .record-page {
    margin-top: -2rem;

    display: flex;
  }

  .govuk-summary-list {
    &__row {
      &--record {
        table-layout: auto;
      }
    }

    &__key--record-table {
      width: 0;
      margin-left: 0;

      font-size: 1rem;
      text-align: left;
      white-space: nowrap;
    }

    &__value--record {
      font-size: 1rem;
      text-align: left;
    }
  }

  .mobile-record {
    &-layout {
      display: flex;
      flex-direction: column;
    }

    &-details {
      order: 2;
    }

    &-layout-rights {
      order: 1;
    }

    &-layout-record-arrangement {
      order: 3;
    }
  }

  .rights-container {
    margin-top: 1rem;
    margin-bottom: 2rem;

    display: flex;

    order: 3;
  }

  .record-container {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;

    white-space: nowrap;

    order: 5;
  }

  .mobile__search__container-block {
    margin-bottom: -2rem;
  }

  .govuk-heading-m__record-arrangement-mobile {
    margin-left: 20px;

    white-space: nowrap;
  }

  .govuk-link {
    &--ayr {
      color: black;
      font-size: 0.9rem;

      -webkit-text-fill-color: black;

      a {
        color: black;
        font-size: 0.9rem;

        -webkit-text-fill-color: black;
      }

      &:visited {
        color: black;
      }
    }
  }

  .search__container__content {
    margin-top: 0;
  }

  .uv-iiif-extension-host {
    background: white;
  }
}

@media (400px <= width <= $breakpoint-small) {
  .govuk-grid-column-two-thirds {
    &--record-table {
      width: 100% !important;

      display: flex;
      flex-direction: column;

      order: 4;
    }
  }

  .record-page {
    margin-top: -2rem;

    display: flex;
  }

  .record-container {
    display: flex;
    flex-direction: column;

    white-space: nowrap;

    order: 5;
  }

  .mobile-record {
    &-layout {
      display: flex;
      flex-direction: column;
    }

    &-details {
      order: 2;
    }

    &-layout-rights {
      order: 1;
    }

    &-layout-record-arrangement {
      order: 3;
    }
  }

  .govuk-summary-list {
    &__row {
      &--record {
        width: 100% !important;
        margin-bottom: 10px;

        display: table;

        table-layout: fixed;

        border-collapse: collapse;
      }
    }

    &__key--record-table {
      width: 0;
      margin-left: 0;

      font-size: 1rem;
      text-align: left;
      white-space: nowrap;
    }

    &__value--record {
      display: table-cell;

      font-size: 1rem;
      text-align: left;
    }
  }

  .uv-iiif-extension-host {
    background: white;
  }
}
