@use "../../../../../node_modules/govuk-frontend/dist/govuk/helpers/spacing" as
  govuk-spacing;
@use "variables" as *;

.ayr-results-controls {
  margin-bottom: govuk-spacing.govuk-spacing(4);

  display: flex;
  flex-wrap: nowrap;
  gap: govuk-spacing.govuk-spacing(7);

  @media screen and (width <= $breakpoint-desktop) {
    flex-wrap: wrap;
    gap: govuk-spacing.govuk-spacing(3);
  }

  .ayr-results-controls-enhanced & > .ayr-results-control[data-auto-submit] {
    width: auto;

    flex: 0 1 auto;
  }

  @media screen and (width <= $breakpoint-medium) {
    > .ayr-results-control {
      min-width: 0;

      flex-basis: 100%;
    }
  }
}

@media screen and (width <= $breakpoint-medium) {
  .browse-grid--mobile-table:has(.ayr-results-controls) {
    width: 100%;

    display: flex;
    flex-direction: column;

    order: -1;
  }
}
