.govuk-grid-column-full--mobile-search {
  padding: 0;
}

.search {
  padding: 16px 16px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colour-container-normal;
  margin-bottom: 22px;

  @media screen and (width >= $breakpoint-medium) {
    margin-bottom: 36px;
  }

  &__els {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (width >= $breakpoint-medium) {
      width: 86%;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &__checkboxes {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 36px;
        padding: 0 0 4px;
        flex-wrap: wrap;
        height: fit-content;
        row-gap: 0;

        .govuk-radios__item {
          flex-wrap: nowrap;

          .govuk-label {
            font-size: 16px;
            width: 100%;
            padding-right: 0;
            max-width: 100%;
            margin-left: 6px;
          }
        }
      }

      &__input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 6px;
        margin-top: 4px;

        @media screen and (width >= $breakpoint-medium) {
          flex-direction: row;
        }

        .govuk-body-s {
          margin-bottom: 0;
        }

        .govuk-button {
          font-size: 16px;
          height: 38px;
          margin-bottom: 0;
          width: 100%;
          @media screen and (width >= $breakpoint-medium) {
            margin-top: 0;
            width: fit-content;
          }
        }
      }
    }

    &__heading {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
  }
}
