/* Default styles for desktop */

.govuk-table__header {
  &--results-summary {
    font-weight: bold;
    font-size: 1rem;

    &:last-child {
      text-align: right;
    }
  }
}

.govuk-grid-column-two-thirds {
  &__search-results-summary {
    padding: 0;
  }
}

.govuk-table__cell {
  &--results-summary {
    font-size: 1rem;
  }

  a {
    color: $colour-link-default;

    &:visited {
      color: $colour-link-default;
    }
  }

  &--record-results {
    font-weight: bold;
    font-size: 1rem;
    text-align: right;
  }
}

.govuk-table {
  &--results-summary {
    margin-top: 3rem;
  }
}
