/* CSS for Proof of concept Search Page */

.govuk-grid-row {
  &--search {
    margin-top: -2rem;
  }
}

@media screen and (width <=810px) {
  .govuk-grid-row {
    &--search {
      display: flex;
      flex-direction: column;
    }
  }
}
