@use "variables" as *;

/* Default styles for desktop */

.govuk-table__header {
  &--results-summary {
    font-size: 1rem;
    font-weight: bold;

    &:last-child {
      text-align: right;
    }
  }
}

.govuk-grid-column-two-thirds {
  &__search-results-summary {
    padding: 0;
  }
}

.govuk-table__cell {
  &--results-summary {
    font-size: 1rem;
  }

  a {
    color: $colour-link-default;

    &:visited {
      color: $colour-link-default;
    }
  }

  &--record-results {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
  }
}

.govuk-table {
  &--results-summary {
    margin-top: 3rem;
  }
}

.govuk-summary-list-long-word {
  word-break: break-word; /* stylelint-disable-line declaration-property-value-keyword-no-deprecated */
}

.govuk-summary-list-short-word {
  word-break: normal; /* stylelint-disable-line declaration-property-value-keyword-no-deprecated */
}
