.govuk-grid {
  &-row {
    &--search {
      margin-top: -2rem;
    }
  }

  &-column-full {
    &--search-results {
      padding-top: 1.4rem;
    }
  }

  &-column-two-thirds {
    &--search-results {
      margin-top: 1rem;
    }
  }
}

.govuk-heading-m {
  &--search-results {
    font-size: 2rem;
  }

  &--search {
    white-space: nowrap;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}

@media screen and (width <= $breakpoint-medium) {
  .govuk-grid-row {
    &--search {
      display: flex;
      flex-direction: column;
    }
  }

  .search__page {
    margin-right: 0;
    margin-left: 0;
    margin-top: -2rem;
  }
}

.govuk-heading-s {
  &--search-term {
    margin-bottom: 0;
    margin-top: 1rem;
    padding-top: 0;
    font-size: 1rem;
  }

  &--series {
    font-weight: 700;
  }
}

.search-term-link {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  text-decoration: none;
  background-color: inherit;
  color: $colour-link-normal;
  font-size: 1.125rem;

  :hover {
    background-color: $colour-link-normal;
  }

  :visited {
    color: $colour-link-normal;
  }
}

.search-all-filter-container {
  background-color: $colour-container-normal;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  min-width: 100%;
  margin-bottom: 0.5rem;
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  height: auto;
}

img.cancel-filter {
  fill: black;
  width: 20px;
  height: 20px;
  cursor: pointer;

  ::after {
    content: "";
    display: inline-block;
    font-weight: bold;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
    width: 10px;
  }
}

a.govuk-link {
  &--transferring-filter {
    font-size: 0.9rem;

    &:visited {
      color: $colour-link-default;
    }
  }
}

.govuk-button {
  &__search-filters-form-apply-button {
    margin: 0;
  }
}

.search-form__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  width: auto;
  margin-top: 0.9rem;
}

.search-filter-link {
  padding-top: 1rem;
}

.govuk-form-group {
  &--search-all-filter {
    margin-bottom: 0;
  }

  &__search-all-form-group {
    display: inline-block;
    margin-bottom: 0;
  }
}

.govuk-input {
  &--search-all-input {
    width: 95% !important;
  }
}

.search-term {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.close-icon {
  fill: black;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  vertical-align: middle;
}

.search {
  &__mobile-heading {
    display: none;
  }

  &__mobile-row {
    display: none;
  }

  &__desktop-heading {
    display: table-cell;
  }
}

@media screen and (width <= $breakpoint-medium) {
  .search-layout {
    display: flex;
    flex-direction: column;
  }

  .govuk-grid {
    &-row {
      display: flex;
      flex-direction: column;
    }

    &column-one-third--search-all-filters {
      order: 1;
    }

    &-column-two-thirds--search-results {
      order: 2;
    }
  }

  .search {
    &-all-filter-container {
      min-width: 0 !important;
    }

    &__table__mobile--hidden {
      display: none;
    }

    &__mobile-table__top-row {
      border-bottom: none;
    }

    &__mobile-table__middle-row {
      border-bottom: none;
    }

    &__desktop-heading {
      display: none;
    }

    &__mobile-heading {
      display: table-cell;
      padding-left: 0;
    }

    &__mobile-row {
      display: table-row;
    }
  }
}

[class*="hidden-row"] {
  display: none;
  border-bottom: none;
}

@for $i from 1 through 15 {
  tr:has(> td > div > details.details-toggle-#{$i}[open])
    ~ tr.hidden-row-#{$i} {
    display: table-row;
  }
  tr:has(> td > div > details.details-toggle-#{$i}[open]) .field-count-#{$i} {
    display: none;
  }
}

.govuk-table {
  mark {
    background-color: #fff199;
  }

  details > summary {
    cursor: pointer;
    list-style: none;
    position: relative;
    width: 16px;
    height: 10px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-image: url("/assets/image/accordion-chevron.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.2s;
    }

    &:hover::before {
      background-image: url("/assets/image/accordion-chevron-hover.svg");
    }
  }

  &--inner-table {
    border: none;
    margin-bottom: 0;
  }

  details[open] > summary::before {
    transform: rotate(180deg);
  }

  &__header {
    padding-top: 0;

    &--inner-table {
      border: none;
      font-weight: 400;
      padding: 0;
    }

    &--with-padding {
      padding-left: 35px;
    }

    &--search-header {
      font-size: 1rem;
      padding: 10px;

      &-title {
        width: 100%;
        font-size: 1rem;
      }

      &:last-child {
        text-align: right;
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__cell {
    border: none;

    &--with-padding {
      padding-left: 35px;
    }

    &--no-pt {
      padding-top: 0;
    }

    &--no-padding {
      padding: 0;
    }

    &__data {
      display: flex;
      align-items: center;
      gap: 19px;
    }

    &--metadata {
      padding: 5px 20px 15px 0;
    }

    &--search-results {
      font-size: 1rem;
      margin-bottom: -1rem;
      line-height: 1.2rem;
      padding: 10px;

      &-no-wrap {
        white-space: nowrap;
      }

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      a {
        color: $colour-link-default;
        margin-bottom: -1rem;

        &:visited {
          color: $colour-link-default;
        }

        &.word-break {
          word-break: break-word;
        }
      }
    }
  }

  &__row {
    &--primary {
      border-top: 1px solid #b1b4b6;
      border-bottom: none;
    }

    &--file-name {
      border-bottom: none;
    }
  }
}

.filter-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 47px;
  margin-top: 2rem;
  padding: 0;

  .browse__sort-container {
    margin-top: 0;
  }

  .govuk-select {
    max-width: 240px;
  }

  &__checkboxes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    height: 40px;

    .govuk-checkboxes__label {
      padding: 0;
      max-width: 100%;
      font-size: 16px;
    }

    .govuk-button {
      height: 38px;
    }
  }
}

.ayr-filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 0.9rem;
  font-family: $govuk-font-family;

  :hover {
    cursor: pointer;
    background-color: $colour-link-normal;
    color: white;

    a {
      color: white;
    }

    img.close-icon {
      filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(110deg)
        brightness(98%) contrast(108%);
      background-color: white;
    }
  }
}
