@use "variables" as *;

@mixin signposting-text {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3rem;
  text-decoration: none;

  @media screen and (width <= $breakpoint-medium) {
    font-size: 1.25rem;
  }
}
