@use "variables" as *;

.records-page-wrapper {
  .sort-list-records-form {
    display: none;
  }

  .js-enabled & .sort-list-records-form {
    display: block;
  }

  .govuk-table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
  }

  .sort-list-records-left-wrapper {
    display: flex;
    justify-content: start;
    margin-bottom: 16px;

    /* JS-Enabled Version */
    .sort-list-records-js {
      display: flex;
      align-items: center;

      .sort-list-records__select.js-records-sort-select {
        width: auto;
        text-align: left;
        border: 2px solid $colour-link-normal;
        background-color: #fff;
        font-family: $font-family-gds;
        font-size: 1.1875rem;
        padding: 5px 35px 5px 10px;
        cursor: pointer;
        min-height: 44px;
        display: inline-flex;
        align-items: center;
        margin-right: 0.25rem;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("/assets/image/accordion-chevron.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 11px 7px;

        &:hover {
          background-image: url("/assets/image/accordion-chevron-hover.svg");
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:focus-visible {
          outline: 3px solid #fd0;
          outline-offset: 0;
          box-shadow: inset 0 0 0 2px $colour-link-normal;
        }
      }

      .browse-records__label--left {
        display: none;
        width: auto;
        font-family: $font-family-gds;
        color: $colour-link-normal;
        margin: 0 4px 0 33px;
        font-size: 1.1rem;
        font-weight: 400;
        white-space: nowrap;
      }

      .record-select--sort-left {
        display: none;
        width: auto;
        text-align: right;
        border: none;
        background-color: transparent;
        box-shadow: none;
        font-size: 1.1rem;
        padding: 0 19px 0 5px;
        cursor: pointer;

        min-height: 44px;
        align-items: center;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("/assets/image/accordion-chevron.svg");
        background-repeat: no-repeat;
        background-position: right 3px center;
        background-size: 11px 7px;

        &:hover {
          background-image: url("/assets/image/accordion-chevron-hover.svg");
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:focus-visible {
          outline: 3px solid #fd0;
          outline-offset: 0;
          box-shadow: inset 0 0 0 2px $colour-link-normal;
        }
      }
    }
  }

  /* Non-JS Version */
  .sort-list-records-no-js {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    align-items: flex-end;
    gap: 0.5rem;
    margin-right: 35%;

    .sort-list-records-no-js--sort-control {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .sort-list-records-no-js--sort-action {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .sort-list-records-no-js--per-page {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .sort-list-records__select.no-js-records-sort-select {
      width: auto;
      text-align: left;
      border: 2px solid $colour-link-normal;
      background-color: #fff;
      font-family: $font-family-gds;
      font-size: 1.1875rem;
      padding: 5px 35px 5px 10px;
      cursor: pointer;
      min-height: 44px;
      display: inline-flex;
      align-items: center;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("/assets/image/accordion-chevron.svg");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 11px 7px;

      &:hover {
        background-image: url("/assets/image/accordion-chevron-hover.svg");
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:focus-visible {
        outline: 3px solid #fd0;
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px $colour-link-normal;
      }
    }

    .browse-records__label--right {
      display: block;
      font-family: $font-family-gds;
      color: $colour-link-normal;
      margin: 0 4px 0 33px;
      font-size: 1.1rem;
      font-weight: 400;
      white-space: nowrap;
    }

    .record-select--sort-right {
      width: auto;
      text-align: right;
      border: none;
      background-color: transparent;
      box-shadow: none;
      font-size: 1.1rem;
      padding: 0 24px 3px 8px;
      cursor: pointer;

      min-height: 44px;
      display: inline-flex;
      align-items: center;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("/assets/image/accordion-chevron.svg");
      background-repeat: no-repeat;
      background-position: right 8px center;
      background-size: 11px 7px;

      &:hover {
        background-image: url("/assets/image/accordion-chevron-hover.svg");
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:focus-visible {
        outline: 3px solid #fd0;
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px $colour-link-normal;
      }
    }

    .govuk-button {
      margin-bottom: 0;
    }
  }
}
