/* SCSS for static content template */

.govuk-grid-column-one-third {
  &--ayr-content {
    position: sticky;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    top: 1rem;
    @media screen and (width <=810px) {
      position: static;
    }
  }
}

.govuk-main-wrapper {
  &--ayr-content {
    padding-top: 0;
  }
}

.anchor-link-list-ayr {
  margin: 0 0 3rem;
  padding: 1.5rem;
  overflow: auto;
  background-color: #f2f2f2;
}

.govuk-heading-s {
  &--ayr-content {
    margin-bottom: 1.25rem;
  }
}

.govuk-link {
  &__ayr-content {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #1d70b8;
  }

  &__back-to-top a {
    color: #1d70b8;
    font-size: 1rem;
  }
}
