/* SCSS for static content template */

.govuk-grid-column-one-third {
  &--ayr-content {
    position: sticky;
    top: 1rem;
    @media screen and (width <= $breakpoint-medium) {
      position: static;
    }
  }
}

.govuk-main-wrapper {
  &--ayr-content {
    padding-top: 0;
  }
}

.anchor-link-list-ayr {
  margin: 0 0 3rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
  overflow: auto;
  background-color: $colour-container-normal;
}

.govuk-heading-s {
  &--ayr-content {
    margin-bottom: 1rem;
  }
}

.govuk-link {
  &__ayr-content {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: $colour-link-default;
  }

  &__back-to-top a {
    color: $colour-link-default;
    font-size: 1rem;
  }
}
