#uv {
  .sr-only {
    display: none;
  }

  .rightOptions {
    display: none;
  }

  .centerOptions {
    width: fit-content;
    top: -10px;
  }

  div.btn:focus {
    outline: none;
    border: 2px solid blue;
  }
}
