// breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 810px;
$breakpoint-large: 1200px;
$breakpoint-desktop: 1056px;

// colour__component__type
$colour-link-normal: #0b0c0c;
$colour-link-default: #1d70b8;
$colour-link-hover: govuk-functional-colour("link-hover");
$colour-link-visited: #4c2c92;
$secondary-text-colour: #484949;
$colour-border-normal: #b1b4b6;
$colour-container-normal: #f3f2f1;
$colour-timeline-normal: #005ea5;
$colour-placeholder-normal: #c00;
$colour-radio-input: #fff;

// font__component__type

// grid__component__type

// typography__component__type
