// breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 810px;
$breakpoint-large: 1200px;

// colour__component__type
$colour-link-normal: #0b0c0c;
$colour-link-visited: #1d70b8;
$colour-border-normal: #b1b4b6;
$colour-container-normal: #f3f2f1;
$colour-timeline-normal: #005ea5;
$colour-status-closed: #942514;
$colour-status-open: #005a30;
$colour-placeholder-normal: #c00;

// font__component__type

// grid__component__type

// typography__component__type
