{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
<form action="{{ url_for('main.browse_records', _anchor='browse-records') }}"
      method="get">
    {% if query_string_parameters.get('per_page') %}
        <input type="hidden"
               name="per_page"
               value="{{ query_string_parameters.get('per_page') }}">
    {% endif %}
    <div class="govuk-grid-column-one-third govuk-grid-column-one-third--browse-all-filters">
        <div class="browse-all-filter-container">
            <div class="browse-filter__header">
                <h2 class="govuk-heading-m govuk-heading-m--browse-all-filter-title">Filters <span class="browse-records__filter-count">({{ filter_count }})</span></h2>
            </div>
            <div class="browse-records__form-group">
                <label class="govuk-label govuk-label__filter"
                       for="transferring_body_filter">
                    Transferring body
                    {% if not is_standard_user %} <span class="browse-records__series-filter-example">– e.g. Land Registry</span>{% endif %}
                </label>
                <input class="govuk-input"
                       id="transferring_body_filter"
                       name="transferring_body_filter"
                       type="text"
                       list="transferring_bodies"
                       value="{% if filters['transferring_body'] %}{{ filters['transferring_body'] }}{% endif %}"
                       autocomplete="off">
                <datalist id="transferring_bodies">
                    {% for body in transferring_bodies %}<option value="{{ body }}" />{% endfor %}
                </datalist>
            </div>
            <div class="browse-records__form-group">
                <label class="govuk-label govuk-label__filter" for="series_filter">Series <span class="browse-records__series-filter-example">– e.g. HO 405</span></label>
                <input class="govuk-input govuk-!-width-full"
                       id="series_filter"
                       name="series_filter"
                       value="{% if filters['series'] %}{{ filters['series'] }}{% endif %}"
                       type="text">
            </div>
            <div class="browse-records__form-group">
                <label class="govuk-label govuk-label__filter" for="consignment_reference">Consignment <span class="browse-records__series-filter-example">– e.g. AYR-2026-KSJ2</span></label>
                <input class="govuk-input govuk-!-width-full"
                       id="consignment_reference"
                       name="consignment_reference"
                       value="{% if filters['consignment_reference'] %}{{ filters['consignment_reference'] }}{% endif %}"
                       type="text">
            </div>
            <div class="browse-records__form-group browse-records__radio-group">
                <fieldset class="govuk-fieldset govuk-fieldset--record-status">
                    <legend class="govuk-!-margin-0 govuk-!-padding-0">
                        <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Status</h3>
                    </legend>
                    <div class="govuk-radios govuk-radios--small browse-records__radio-options"
                         data-module="govuk-radios">
                        <div class="govuk-radios__item govuk-radios__item--consignment">
                            <input class="govuk-radios__input"
                                   id="recordStatus-all"
                                   name="record_status"
                                   type="radio"
                                   value="all"
                                   {% if filters.get('record_status')=='all' %}checked{% endif %}
                                   {% if not filters.get('record_status') %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                   for="recordStatus-all">All</label>
                        </div>
                        <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                            <input class="govuk-radios__input"
                                   id="recordStatus-open"
                                   name="record_status"
                                   type="radio"
                                   value="open"
                                   {% if filters.get('record_status')=='open' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                   for="recordStatus-open">Open</label>
                        </div>
                        <div class="govuk-radios__item govuk-radios__item--consignment-radio-buttons">
                            <input class="govuk-radios__input"
                                   id="recordStatus-closed"
                                   name="record_status"
                                   type="radio"
                                   value="closed"
                                   {% if filters.get('record_status')=='closed' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                   for="recordStatus-closed">Close</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="browse-records__form-group browse-records__radio-group">
                <fieldset class="govuk-fieldset govuk-fieldset--record-date">
                    <legend class="govuk-!-margin-0 govuk-!-padding-0">
                        <h3 class="govuk-heading-s govuk-heading-s--consignment-filter">Dates</h3>
                    </legend>
                    <div class="govuk-radios govuk-radios--small browse-records__radio-options"
                         data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   id="date_last_modified"
                                   name="date_filter_field"
                                   type="radio"
                                   value="date_last_modified"
                                   {% if filters.get('date_filter_field')=='date_last_modified' or not filters.get('date_filter_field') %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                   for="date_last_modified">Last modified</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   id="opening_date"
                                   name="date_filter_field"
                                   type="radio"
                                   value="opening_date"
                                   {% if filters.get('date_filter_field')=='opening_date' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                   for="opening_date">Opening date</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   id="transferred_date"
                                   name="date_filter_field"
                                   type="radio"
                                   value="transferred"
                                   {% if filters.get('date_filter_field')=='transferred' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label govuk-radios__label--consignment"
                                   for="transferred_date">Transferred</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="browse-records-filters__date-container">{% include "date-filters.html" %}</div>
            <div class="filters-form__buttons">
                {{ govukButton({
                'text': "Apply filters",
                'classes': "govuk-button__browse-all-filters-form-apply-button",
                'type': "submit"
                }) }}
                <a class="govuk-link govuk-link__no-visited-color govuk-link--browse-all-filter"
                   href="{{ url_for('main.browse_records', sort=query_string_parameters.get('sort'), per_page=query_string_parameters.get('per_page'), _anchor='browse-records') }}">Clear filters</a>
            </div>
        </div>
    </div>
</form>
