{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{% from 'macros/forms.html' import render_preserved_params %}
{% macro render_per_page_options(options, selected_value) %}
    {% for key, value in options.items() %}
        <option value="{{ value }}"
                {% if selected_value == value %}selected{% endif %}>{{ key }}</option>
    {% endfor %}
{% endmacro %}
{% macro records_per_page(preserved_params, per_page_options, selected_per_page) %}
    <form id="per-page-form"
          action="{{ url_for('main.search_results', _anchor='browse-records') }}"
          method="get"
          class="records-per-page-form">
        {{ render_preserved_params(preserved_params) }}
        <div class="records-per-page-left-wrapper">
            <div class="records-per-page-js">
                <label class="records-per-page__label--left" for="per-page-select-js">Records per page</label>
                <select class="records-per-page__select--left"
                        id="per-page-select-js"
                        name="per_page">{{ render_per_page_options(per_page_options, selected_per_page) }}</select>
                <button type="submit" class="govuk-visually-hidden">Apply records per page</button>
            </div>
        </div>
    </form>
    <noscript>
        <div class="records-per-page-no-js">
            <form action="{{ url_for('main.search_results', _anchor='browse-records') }}"
                  method="get"
                  class="records-per-page-no-js__form">
                {{ render_preserved_params(preserved_params) }}
                <label class="records-per-page__label--right" for="per-page-select-no-js">Records per page</label>
                <select class="records-per-page__select--right"
                        id="per-page-select-no-js"
                        name="per_page">{{ render_per_page_options(per_page_options, selected_per_page) }}</select>
                {{ govukButton({
                'text': "Apply",
                'classes': "govuk-button--secondary",
                }) }}
            </form>
        </div>
    </noscript>
{% endmacro %}
