{% from 'govuk_frontend_jinja/components/button/macro.html' import govukButton %}
{% from 'macros/forms.html' import render_preserved_params %}
{% macro render_sort_options(options, selected_value) %}
    {% for key, value in options.items() %}
        <option value="{{ value }}"
                {% if selected_value == value %}selected{% endif %}>{{ key }}</option>
    {% endfor %}
{% endmacro %}
{% macro sort_records(preserved_params, records_sort_options, selected_sort) %}
    <form id="records-form"
          action="{{ url_for('main.browse_records', _anchor='records') }}"
          method="get"
          class="sort-list-records-form">
        {{ render_preserved_params(preserved_params) }}
        <div class="sort-list-records-left-wrapper">
            <div class="sort-list-records-js">
                <label class="govuk-label govuk-visually-hidden" for="sort-records-js">Sort records</label>
                <select class="sort-list-records__select js-records-sort-select"
                        id="sort-records-js"
                        name="sort">{{ render_sort_options(records_sort_options, selected_sort) }}</select>
                {{ govukButton({
                'text': "Sort",
                'type': "submit",
                'classes': "govuk-button--secondary govuk-visually-hidden",
                }) }}
            </div>
        </div>
    </form>
    <noscript>
        <div class="sort-list-records-no-js">
            <form action="{{ url_for('main.browse_records', _anchor='records') }}"
                  method="get"
                  class="sort-list-records-no-js-form sort-list-records-no-js__sort-control">
                {{ render_preserved_params(preserved_params) }}
                {% if request.args.get('per_page') %}
                    <input type="hidden"
                           name="per_page"
                           value="{{ request.args.get('per_page') }}">
                {% endif %}
                <label class="govuk-label govuk-visually-hidden" for="sort-records-no-js">Sort records</label>
                <div class="sort-list-records-no-js__sort-action">
                    <select class="sort-list-records__select no-js-records-sort-select"
                            id="sort-records-no-js"
                            name="sort">{{ render_sort_options(records_sort_options, selected_sort) }}</select>
                    <button type="submit"
                            class="govuk-button govuk-button--secondary"
                            data-module="govuk-button">Sort</button>
                </div>
            </form>
        </div>
    </noscript>
{% endmacro %}
