name: Pre-commit check
on:
  pull_request:
  merge_group:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd
